<hr />


	<p class='upload'>	
		<%= image_tag upload.photo.url(:thumb) unless upload.photo.blank? %> | 
	

|
		<label for="upload_photo">Photo:</label>
		<%= f.file_field :photo %> 
		<%= f.remove_link "remove" %>
	</p>
