<div id="side-nav">
	<ul>
		<%= render :partial => "shared/admin/services_sidenav" %>
	</ul>
</div>


<h1>Category list</h1>
<p>
	<div id="itsthetable">
		<table>
			<thead>
				<th>Image</th>	
				<th>Title</th>	
				<th>Description</th>
				<th>Options</th>
				<th>Sublevel</th>
			</thead>
		<% @categories.each do |category| %>
			<%= render :partial => 'shared/service', :object => category %>
		<% end -%>
		</table>
	
	</table>
</p>

