<div id="side-nav">
	<ul>
	<%= link_to "New", admin_new_feature_gallery_property_path  %>
	</ul>
</div>

<div id="subcontent">
<h1>Featured Gallery. </h1>

	<div id="itsthetable">	
		<table class="page_list">
			<tr>
				<th>Title</th>	
				<th>Options</th>	
			</tr>			
		<%= render :partial => "images", :collection => @fuploads %>
		</table>
	</div>
	<br />
	
</div>	


