
<% form_for @gallery, :url=>{:action=>"create"},:html => { :multipart => true, :method => :post } do |f| %>
  <%= f.error_messages %>

 
  <div id='uploads' style='border: 1px solid silver'>
    <%= f.render_associated_form(@gallery.featured_uploads, :new => 5) 
		%>
  </div>
 
  <% # f.add_associated_link('Add another photo', @uploads.build) 
  %>

 	<%= f.text_field :property_id, :value => @property.id %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
