
<html>
<body>

<table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#000000">
  <tr>
    <td align="center" style="color:#CCC;">
    	Click <u>here</u> if you can't read this e-mail<br /><br />

<!-- START Content --->

    	<table style="padding:0; margin:0 auto; font-family: Arial, Helvetica, sans-serif; color:#000; background-repeat:no-repeat;" width="600px" height="600px" border="0" cellspacing="0" cellpadding="4" background="http://i40.tinypic.com/2sbmomc.jpg" align="center">
          <tr>
            <td align="center" height="55px" valign="bottom"><img src="http://i43.tinypic.com/iwkfaa.jpg" width="500px" height="34px" /></td>
          </tr>
          <tr>
            <td height="1px" align="center"><hr style="width:500px; height:0; border:none; border-top:dashed; border-top-color:#333; border-top-width:1px; background-color:#FFF; margin-top:3px; margin-bottom:3px; padding:0;" /></td>
          </tr>
          <tr>
            <td style="font-size:22px; font-family: Garamond;" height="45px" valign="bottom" align="left">
            	<table border="0" width="500px" cellpadding="0" cellspacing="2" style="font-size:11px;" align="center">
                	<tr>
                    	<td rowspan="2" style="font-size:22px; font-family: Garamond;" valign="bottom">NEWSLETTER - SIGN UP</td>
                    	<td align="right">+1 949 673 3444</td>
                    </tr>
                    <tr>
                    	<td align="right">balboaisland@engelvoelkers.com</td>
                    </tr>
                </table> 
            </td> 
          </tr>
          <tr>
            <td align="center" height="190px" valign="top"><img src="http://i43.tinypic.com/f9ffjn.jpg" width="500px" height="190px" /></td>
          </tr>
          <tr>
            <td height="1px" align="center"><hr style="width:500px; height:0; border:none; border-top:dashed; border-top-color:#333; border-top-width:1px; background-color:#FFF; margin-top:3px; margin-bottom:3px; padding:0;" /></td>
          </tr>
          <tr>
          	<td height="100px" style="padding-top:5px; padding-left:0; padding-right:0; padding-bottom:10px; font-size:14px; font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;" valign="top">
            	<p align="center" style="font-size:20px; padding:0; margin:5px;">SIGN UP NOW</p>
                <p align="center" style="padding:0; margin:5px;">
									<%=h @user.login %>, your account has been activated.  Welcome aboard!<br />

  								<%=h @url %></p>
            </td>
          </tr>
          <tr>
            <td height="1px" align="center"><hr style="width:500px; height:0; border:none; border-top:dashed; border-top-color:#333; border-top-width:1px; background-color:#FFF; margin-top:3px; margin-bottom:3px; padding:0;" /></td>
          </tr>
          <tr>
            <td align="center" style="font-size:12px; padding-top:1px;" height="185px" valign="top"> 
            	<p>
                	<strong>T:</strong> +1 949 257 7277<br />
                    <strong>E:</strong> <a href="mailto:balboaisland@engelvoelkers.com">balboaisland@engelvoelkers.com</a><br />
                    <strong>Link:</strong> <a href="http://www.evnpb.com">www.evnpb.com</a>
                </p>
            </td>
          </tr>
        </table>

<!-- END Content --->
    
    </td>
  </tr>
</table>

</body>
</html>
