<html>
<body>

<table width="100%" border="0" cellspacing="0" cellpadding="5" bgcolor="#000000">
  <tr>
    <td align="center" style="color:#CCC;">
    	Click <u>here</u> if you can't read this e-mail<br /><br />

<!-- START Content --->

    	<table style="padding:0; margin:0 auto; font-family: Arial, Helvetica, sans-serif; color:#000;" width="600px" height="1265px" border="0" cellspacing="0" cellpadding="4" background="http://i41.tinypic.com/29m3dz6.jpg" align="center">
          <tr>
            <td align="center" height="60px" valign="bottom"><img src="http://i43.tinypic.com/iwkfaa.jpg" width="500px" height="34px" /></td>
          </tr>
          <tr>
            <td height="2px" align="center"><hr style="width:500px; height:0; border:none; border-top:dashed; border-top-color:#333; border-top-width:1px; background-color:#FFF; color:#FFF;" /></td>
          </tr>
          <tr>
            <td style="font-size:22px; padding-left:48px; padding-right:47px; font-family: Garamond;" height="45px" valign="bottom">New Shop at Newport Beach, OC, CA, USA</td>
          </tr>
          <tr>
            <td align="center" height="380px"><img src="http://i41.tinypic.com/ffbhgj.jpg" width="500px" height="376px" /></td>
          </tr>
          <tr>
            <td height="2px" align="center"><hr style="width:500px; height:0; border:none; border-top:dashed; border-top-color:#333; border-top-width:1px; background-color:#FFF; color:#FFF;" /></td>
          </tr>
          <tr>
            <td height="40px" style="font-size:14px; padding-left:48px; padding-right:47px;">
            	Engel & V&ouml;lkers are proud to announce the opening of a new prestigous shop located on <strong>Balboa Island, Newport Beach</strong>.
            </td>
          </tr>
          <tr>
          	<td height="80px" style="font-size:14px; padding-left:48px; padding-right:47px;">
                With a portfolio of someof the most luxurious properties in the world and a team made up of some of the most experienced global realtors, Engel & V&ouml;lkers Newport Beach is set to become one of the leading boutique Real Estate agencies in the USA.
            </td>
          </tr>
          <tr>
          	<td height="40px" style="font-size:14px; padding-left:48px; padding-right:47px;">
                We invite you to browse through our extensive list of luxury properties around the world and our new <strong><u>website</u></strong> and connect with us on <strong><u>Twitter</u></strong> and <strong><u>Facebook</u></strong> or <strong><u>contact</u></strong> one of our agentswho are always ready to help with any of your real estate queries.
            </td>
          </tr>
          <tr>
          	<td height="40px" style="font-size:14px; padding-left:48px; padding-right:47px;">
                Wether you are buying selling or renting a property, our team has a wealth of information to help you along your journey.
            </td>
          </tr>
          <tr>
            <td style="font-size:14px; padding-left:48px; padding-right:47px;" align="center" height="220px">
            
            <!--- START List Table --->	
                
                <table>
                	<tr>
                		<td colspan="2" style="font-size:16px;" height="30px">
                        	Why not <strong>sign up</strong> to our <strong>VIP program</strong> and recieve:
            			</td>
                    </tr>	
                    <tr>
                    	<td width="28px" height="29px">
                        	<img src="http://i44.tinypic.com/2rz3wg8.jpg" width="26px" height="27px" />
                        </td>
                        <td style="padding-left:10px; font-size:14px;">
                        	Acces to our exclusive Luxury Global Properties
                        </td>
                    </tr>
                    <tr>
                    	<td height="29px">
                        	<img src="http://i44.tinypic.com/2rz3wg8.jpg" width="26px" height="27px" />
                        </td>
                        <td style="padding-left:10px; font-size:14px;">
                        	Updates on Properties as soon as they hit the market
                        </td>
                    </tr>
                    <tr>
                    	<td height="29px">
                        	<img src="http://i44.tinypic.com/2rz3wg8.jpg" width="26px" height="27px" />
                        </td>
                        <td style="padding-left:10px; font-size:14px;">
                        	Up to date real estate advice
                        </td>
                    </tr>
                    <tr>
                    	<td height="29px">
                        	<img src="http://i44.tinypic.com/2rz3wg8.jpg" width="26px" height="27px" />
                        </td>
                       	<td style="padding-left:10px; font-size:14px;">
                        	Invitations to Exclusive E&V partners events
                        </td>
                    </tr>
                    <tr>
                    	<td colspan="2" style="font-size:16px;" height="30px">
                			And much more!
            			</td>
                    </tr>
                </table>
            
            <!--- END List Table --->
            
            </td>
          </tr>
          <tr>
            <td height="2px" align="center"><hr style="width:500px; height:0; border:none; border-top:dashed; border-top-color:#333; border-top-width:1px; background-color:#FFF; color:#FFF;" /></td>
          </tr>
          <tr>
            <td align="center" height="24px"><img src="http://i44.tinypic.com/2d6m91l.jpg" width="140px" height="22px" /></td>
          </tr>
          <tr>
            <td align="center" height="37px"><a href="http://newport-beach.heroku.com"><img src="http://i41.tinypic.com/14cduac.jpg" width="140px" height="27px" style="margin-top:5px; margin-bottom:5px;" border="0" /></a></td>
          </tr>
          <tr>
            <td height="2px" align="center"><hr style="width:500px; height:0; border:none; border-top:dashed; border-top-color:#333; border-top-width:1px; background-color:#FFF; color:#FFF;" /></td>
          </tr>
          <tr>
            <td align="center" style="font-size:12px; padding-top:20px;" height="100px" valign="top"> 
            	<p>
                	<strong>T:</strong> +1 949 257 7277<br />
                    <strong>E:</strong> balboaisland@engelvoelkers.com<br />
                    <strong>Link:</strong> www.evnpb.com
                </p>
            </td>
          </tr>
        </table>

<!-- END Content --->
    
    </td>
  </tr>
</table>

</body>
</html>
