<html>
	<head>
		
	</head>	
	<body>
	<table cellspacing="0" cellpadding="0" border="1" width="100%" style="margin:0px auto;padding: 0px;font-family:Verdana;font-size: 10px">		
	<tr><td>

	<table cellspacing="0" cellpadding="5" border="0" width="546px" style="margin:0px auto; background:transparent;font-size: 10px">
				<tr><td>Name</td><td>:</td><td><%= @user.name %>	</td></tr>
				<tr><td>Telephone & email</td><td>:</td><td><%= @user.telephone %> 	<%= @user.email %></td></tr>
		
	</table>
	</body>	
</html>

