<html>
	<head>
	</head>	
	<body>
	<table cellspacing="0" cellpadding="0" border="0" width="100%" style="margin:0px auto;padding: 0px;font-family:Verdana;font-size: 10px">		
	<tr><td>
			<table cellspacing="0" cellpadding="5" border="0" width="546px" style="margin:0px auto; background:transparent;font-size: 10px">
				<tr><td><img src="http://npb.heroku.com/images/system/bg/front/logo.jpg" style="margin:0px auto"></td></tr>				
				<tr><td style="border-bottom:1px solid #e1e1e1"><h1 style="font-size: 20px">VIP</h1></td></tr>
				<tr><td><p>Hi <%= @user.name %>,Thanks for suscribing!</p>
	
							<p>Become an E&V VIP and recieve:
							<ul>
							<li>Access to our exclusive Luxury Global Properties</li>
							<li>Updates on Properties as soon as they hit the market</li>
							<li>Up to date real estate advice</li>
							<li>Invitations to Exclusive E&V partner events</li>
							</ul>
							</p>
								<p>One of our staff will get in touch with you shortly</p>
			 	</td></tr>
			</table>
	</td></tr>
	</table>
	</body>	
</html>

		
