<html>
	<head>
	</head>	
	<body>
		

	<table cellspacing="0" cellpadding="0" border="1" width="100%" style="margin:0px auto;padding: 0px;font-family:Verdana;font-size: 10px">		
	<tr><td>
			<table cellspacing="0" cellpadding="5" border="0" width="600px" style="margin:0px auto; background:transparent;font-size: 10px">
				<tr><td><h1 style="font-size: 20px">Contact Form</h1></td></tr>
				<tr><td><p>Hi <%= @contact.name %>,Thanks for joining our service!</p>
								<p>One of our agents will get in touch with you shortly</p>
			 	</td></tr>
			</table>
	</td></tr>
	</table>
	</body>	
	</body>	
</html>

		
