<head>
<body>


<table width="100%" border="0" cellspacing="0" cellpadding="5" background="http://i40.tinypic.com/5oz5f4.jpg">
  <tr>
    <td align="center" style="color:#CCC;">
        
        <!-- START Content -->
        
    	<table style="padding:0; margin:0 auto; font-family: Arial, Helvetica, sans-serif; color:#000; background-repeat:no-repeat;" width="634px" height="1165px" border="0" cellspacing="0" cellpadding="4" background="http://i42.tinypic.com/dfzhn9.jpg" align="center">
			<tr>
            	<td align="center" height="150px" valign="bottom" style="padding-bottom:15px;">
                	<img src="http://i43.tinypic.com/1445jjq.jpg" width="557px" height="110px" style="margin-left:10px;" />
                </td>
            </tr>
          	<tr>
            	<td height="2px" align="center">
                	<hr style="width:545px; height:0; border:none; border-top:dashed; border-top-color:#FFF; border-top-width:1px; background-color:#000; color:#000; padding:0; margin:0;" />
                </td>
          	</tr>
            <tr>
            	<td style="color:#FFF; padding-left:44px; padding-right:47px; font-size:16px; line-height:23px; font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif; text-align:justify;" height="40px">
                	E & V NEWPORT BEACH ARE PROUD TO PRESENT ONE OF THE MOST EXCLUSIVE LUXURY RESIDENTIAL DEVELOPMENTS IN DUBAI (UAE).
                </td>
            </tr>
          	<tr>
            	<td height="15px" valign="bottom" align="center">
                	<hr style="width:545px; height:0; border:none; border-top:dashed; border-top-color:#FFF; border-top-width:1px; background-color:#000; color:#000; padding:0; margin:0;" />
                </td>
          	</tr>
            <tr>
            	<td align="center" height="90px">
                	<img src="http://i41.tinypic.com/2llm780.jpg" width="545px" height="80px" style="margin-top:5px; margin-bottom:5px;" />
                </td>
            </tr>
            <tr>
            	<td height="2px" align="center">
                	<hr style="width:545px; height:0; border:none; border-top:dashed; border-top-color:#FFF; border-top-width:1px; background-color:#000; color:#000; padding:0; margin:0;" />
                </td>
            </tr>
            <tr>
            	<td height="781px">
                
                <!-- START White Content Area --->
                
    				<table style="padding:0; margin:0 auto; font-family: Arial, Helvetica, sans-serif; color:#000; background-repeat:no-repeat;" width="545px" height="781px" border="0" cellspacing="0" cellpadding="4" background="http://i44.tinypic.com/2qbr7mo.jpg" align="center">
                		<tr>
                        	<td valign="top" style="padding-top:25px;">
                            	
                         <!-- START Two Column Table --->
                            
                            	<table style="padding:0; margin:0 auto; font-family: Arial, Helvetica, sans-serif; color:#000;" width="470px" height="700px" border="0" cellspacing="0" cellpadding="4" align="center">
                                	<tr>
                                    	<td valign="top">
                                        
                                        <!-- START Left Column --->
                                        
                                        	<table align="center">
                                            	<tr>
                                                	<td height="2px" colspan="2">
                										<hr style="width:100%; height:0; border:none; border-top:dashed; border-top-color:#333; border-top-width:1px; background-color:#FFF; color:#FFF; margin-top:0px; margin-bottom:0; padding:0;" />
                                        			</td>
                                                </tr>
                                                <tr>
                                                	<td height="26px" style="font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif; font-style:italic; font-size:17px;" colspan="2">
                                                    	Villa Almer&iacute;a
                                                    </td>
                                                </tr>
                                               	<tr>
                                                	<td height="2px" colspan="2">
                 										<hr style="width:100%; height:0; border:none; border-top:dashed; border-top-color:#333; border-top-width:1px; background-color:#FFF; color:#FFF; margin-top:0px; margin-bottom:0; padding:0;" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td colspan="2" align="center">
                                                    	<img src="http://i44.tinypic.com/2wod20n.jpg" width="164px" height="116px" style="margin-top:5px; margin-bottom:5px;" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td height="20px" colspan="2" style="font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif; font-size:12px;">
                                                    	<strong>Price:</strong> EUR X.XXX.XXX
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td align="left">
                                                    	<a href="#"><img src="http://i42.tinypic.com/rjl9x1.jpg" width="74" height="25" border="0" style="margin-bottom:10px;" /></a>
                                                    </td>
                                                    <td align="right">
                                                    	<a href="#"><img src="http://i40.tinypic.com/168z7k7.jpg" width="74" height="25" border="0" style="margin-bottom:10px;" /></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td colspan="2" height="2px">
                 										<hr style="width:100%; height:0; border:none; border-top:dashed; border-top-color:#333; border-top-width:1px; background-color:#FFF; color:#FFF; margin-top:0px; margin-bottom:0; padding:0;" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td height="26px" colspan="2" style="font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif; font-style:italic; font-size:17px;">
                                                    	Villa Granada
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td colspan="2" height="2px">
                 										<hr style="width:100%; height:0; border:none; border-top:dashed; border-top-color:#333; border-top-width:1px; background-color:#FFF; color:#FFF; margin-top:0px; margin-bottom:0; padding:0;" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td colspan="2" align="center">
                                                    	<img src="http://i42.tinypic.com/2n219c0.jpg" width="164" height="116" style="margin-top:5px; margin-bottom:5px;" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td height="20px" colspan="2" style="font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif; font-size:12px;">
                                                    	<strong>Price:</strong> EUR X.XXX.XXX
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td align="left">
                                                    	<a href="#"><img src="http://i42.tinypic.com/rjl9x1.jpg" width="74" height="25" border="0" style="margin-bottom:10px;" /></a>
                                                    </td>
                                                    <td align="right">
                                                    	<a href="#"><img src="http://i40.tinypic.com/168z7k7.jpg" width="74" height="25" border="0" style="margin-bottom:10px;" /></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td colspan="2" height="2px">
                 										<hr style="width:100%; height:0; border:none; border-top:dashed; border-top-color:#333; border-top-width:1px; background-color:#FFF; color:#FFF; margin-top:0px; margin-bottom:0; padding:0;" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td height="26px" colspan="2" style="font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif; font-style:italic; font-size:17px;">
                                                    	Villa Zaragoza
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td colspan="2" height="2px">
                 										<hr style="width:100%; height:0; border:none; border-top:dashed; border-top-color:#333; border-top-width:1px; background-color:#FFF; color:#FFF; margin-top:0px; margin-bottom:0; padding:0;" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td colspan="2" align="center">
                                                    	<img src="http://i44.tinypic.com/nvul2d.jpg" width="164" height="116" style="margin-top:5px; margin-bottom:5px;" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td colspan="2" height="20px" style="font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif; font-size:12px;">
                                                    	<strong>Price:</strong> EUR X.XXX.XXX
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td align="left">
                                                    	<a href="#"><img src="http://i42.tinypic.com/rjl9x1.jpg" width="74" height="25" border="0" /></a>
                                                    </td>
                                                    <td align="right">
                                                    	<a href="#"><img src="http://i40.tinypic.com/168z7k7.jpg" width="74" height="25" border="0" /></a>
                                                    </td>
                                                </tr>
                                            </table>
                                                
                                        <!-- END Left Column --->
                                        
                                        </td>
                                        <td width="259px" valign="top">
                                        
                                       	<!-- START Right Column --->
                                        
                                        	<table style="color:#333;">
                                            	<tr>
                                                	<td style="font-size:33px; font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;" valign="top">
                                            			Lime Tree Valley        
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td style="font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif; font-style:italic; font-size:14px;">
                                                    	is one of the most exclusive Real Estate developments in the world, consisting of 121 villas located around the fairways of the magnificent Earth golf course (designed by the famous Greg Norman) on Jumeirah Golf Estates in Dubai. The use of stone, clay roof tiling, terracotta floor tiles, stucco paint and light colours that contrast with the landscape of the golf course make these luxurious properties stand out in Dubai. Designed and built to the highest international standards with quality control by Bureau Veritas, these villas are one of the best investment opportunities in the region.<br />
														<p>Having just finished completion Engel & Voelkers advises investors to contact us soon as possible to avoid dissapointment.</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="2px" align="center">
                                                        <hr style="width:100%; height:0; border:none; border-top:dashed; border-top-color:#333; border-top-width:1px; background-color:#FFF; color:#FFF; margin-top: 10px; margin-bottom:10px;" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td style="font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif; font-size:14px; padding-top:10px; padding-bottom:10px;">
                                                    	For other global properties please visit our <strong><u>website</u></strong> or <strong><u>contact</u></strong> one of our agents.
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td style="font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif; font-size:14px; padding-top:10px; padding-bottom:20px;">
                                                 		E&V VIP - <em>Proud to deliver you the latest and most exclusive global investment opportunities</em>   
                                                    </td>
                                                </tr>
                                                <tr>
                                                	<td background="http://i42.tinypic.com/34ybkvq.jpg" style="background-position:center; background-repeat:no-repeat; font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif; font-size:12px;" height="84px">
                                                    	<p style="margin-left:20px;">
                                                        	<strong>T:</strong> +1 949 257 7277<br />
                                                        	<strong>E:</strong> balboaisland@engelsvoelkers.com<br />
                                                        	<strong>Link: <a href="htttp://www.evnpb.com">www.evnpb.com</a></strong>
                                                    	</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        
                                        <!-- END Left Column --->
                                        
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td colspan="2">
                 							<hr style="width:100%; height:0; border:none; border-top:dashed; border-top-color:#333; border-top-width:1px; background-color:#FFF; color:#FFF; margin-top:5px; padding:0; margin-left:0; margin-right:0; margin-bottom:0;" />
                                        </td>
                                    </tr>
                                    <tr>
                                    	<td colspan="2" align="center">
                                        	<img src="http://i43.tinypic.com/30k6brb.jpg" width="235" height="47" style="margin-top:8px; margin-bottom:10px;" />
                                        </td>
                                    </tr>
                                </table>
                                
                         <!-- END Two Column Table --->
                                
                            </td>
                        </tr>
                    </table>
                    
                <!-- END White Content Area --->
                
                </td>
            </tr>
            <tr>
            	<td align="center">  
					<hr style="width:545px; height:0; border:none; border-top:dashed; border-top-color:#333; border-top-width:1px; background-color:#000; color:#000; margin:0; padding:0;" />
                </td>
            </tr>
            <tr>
            	<td align="center" style="font-size:10px;">
                	<a href="#" style="color:#333; text-decoration:none;">Remove me from E&V VIP Mailing List</a>
                </td>
            </tr>
            <tr>
            	<td>&nbsp;</td>
            </tr>
		</table>
        
        <!-- END Content --->
        
    </td>
  </tr>
</table>


</body>
</head>
