<div id="side-nav">
	<ul>
			<li><%= link_to 'back',  :back %></li>
	</ul>
</div>

	<h1>New Type of Development</h1>
<div id="itsthetable">	
	<hr />
	<% form_for :type, :url => {:action => ""}  do |f| %>	
	 <%= f.error_messages %> 
	  <%= render :partial => "form", :locals => {:f =>f}%>
	  <p>
	    <%= f.submit 'Create' %>
	  </p>
	<% end %>
	<hr />
</div>
