body {background: #222222; color: white; overflow: auto; font-family: "Georgia"; z-index: -1}
body a {color: black; outline: none}
body a:focus {-moz-outline-style: none}
body a:hover {color: yellow}
body h3 {text-transform: uppercase; font-variant: small-caps; color: #e13939; font-family: "Georgia"; font-variant: small-caps; font-size: 16px}
body h3 span {color: #d4d4d4}
body h3 span a {text-decoration: none}
body h3 span.active {color: #E13939}
body h3 span.active a {text-decoration: none}
body h3 strong {font-weight: normal; color: #d4d4d4}
body h1 {font-family: "Georgia"; font-size: 14px; text-transform: uppercase; color: #e2001a}
body object {outline: none}
body span.left {float: left}
body span.right {float: right; font-size: 11px; line-height: 18px; font-style: italic}
#upper_pagewrapper.home {height: 566px; overflow: hidden}
#upper_pagewrapper {z-index: 0; width: 100%; height: 133px; background-image: url(/images/system/bg/front/header.jpg); overflow: hidden}
#upper_pagewrapper #header {height: 84px; width: 1020px; background-image: url(/images/system/bg/front/header.jpg); margin: 0px auto}
#upper_pagewrapper #header #logo {height: 60px; width: 546px}
#upper_pagewrapper #header #logo a img {margin: 22px 0 0 42px}
#upper_pagewrapper #header #extra {height: 19px; right: 0px; margin-top: -55px; float: right; margin-right: 42px}
#upper_pagewrapper #header #extra img {float: left; margin-left: 5px}
#upper_pagewrapper #navbar {height: 50px; width: 1020px; margin: 0px auto; overflow: hidden}
#upper_pagewrapper #navbar ul {margin: 0px auto}
#upper_pagewrapper #navbar ul li.cufon-active h2 {color: white}
#upper_pagewrapper #navbar ul li {list-style: none; height: 25px; line-height: 25px; vertical-align: middle; float: left; margin: 14px 32px}
#upper_pagewrapper #navbar ul li a {margin-left: 25px; color: #4d4d4d; text-decoration: none; text-transform: uppercase}
#upper_pagewrapper #navbar ul li a:hover {color: white}
#upper_pagewrapper #navbar ul li a.active {color: white}
#upper_pagewrapper #navbar ul li img {position: absolute; margin-top: 7px; margin-left: 3px}
#upper_pagewrapper #navbar ul li img.arrow {position: absolute; margin-top: 10px; margin-left: 0px; z-index: 4; display: none}
#upper_pagewrapper #navbar ul li img.active {display: block}
#upper_pagewrapper #navbar ul #nav_properties {margin-left: 20px}
#upper_pagewrapper #largegallery {width: 100%; height: 433px; background-position: 0 -135px}
#upper_pagewrapper #largegallery #shine {height: 22px; width: 949px; background-image: url(/images/system/bg/front/shine.jpg); margin: 0px auto; margin-top: 28px}
#upper_pagewrapper #holder {width: 961px; margin: 0px auto; height: 359px; padding-top: 24px}
#upper_pagewrapper #cuber {width: 961px; background: transparent; list-style: none}
#upper_pagewrapper #listOfImages {background: transparent; height: 359px; margin: 0; padding: 0; width: 961px; position: relative}
#lower_pagewrapper.large {background: white}
#lower_pagewrapper {width: 100%; background: white; z-index: 0; overflow-y: hidden}
#lower_pagewrapper #content_top {background: url(/images/system/bg/front/content_top.jpg); height: 20px; background-repeat: repeat-x; position: absolute; margin-top: 0; width: 100%; z-index: 0}
#lower_pagewrapper #content_bottom {background: url(/images/system/bg/front/content_bottom.jpg); height: 63px; background-repeat: repeat-x; position: relative; width: 100%; z-index: 3}
#lower_pagewrapper #content {margin: 0px auto; padding: 25px; background: transparent; color: black; width: 970px; font-family: "Georgia"; min-height: 280px; position: relative; z-index: 4; margin-bottom: -63px}
#lower_pagewrapper #content #page_header {width: 500px; float: left}
#lower_pagewrapper #content h1 {font-size: 22px; padding: 15px 25px 5px 34px; text-align: left; font-family: "Times New Roman"}
#lower_pagewrapper #content h1.regular {text-transform: capitalize; color: #4d4d4d; font-size: 26px; padding: 15px 25px 25px 35px}
#lower_pagewrapper #content h2 {font-size: 21px; padding: 5px; text-align: left; font-weight: bold}
#lower_pagewrapper #content p {margin: 10px 0 10px 0}
#lower_pagewrapper #content ul {margin-right: 50px}
#lower_pagewrapper #content #subcontent {width: 720px; float: left; margin-left: 40px}
#lower_pagewrapper #content #subcontent td {border-bottom: 1px solid black; vertical-align: middle}
#lower_pagewrapper #content #subcontent td table.nolines td {border: 0px none}
#lower_pagewrapper #pre-footer {margin: 0px auto; width: 100%; height: 315px; background-image: url(/images/system/bg/front/preFooter.jpg)}
#lower_pagewrapper #pre-footer #shine {height: 11px; width: 100%; background-image: url(/images/system/bg/front/prefooter_shine.jpg); background-position: -11px 0; margin: 0px auto}
#lower_pagewrapper #pre-footer #column_container {width: 1000px; margin: 0px auto}
#lower_pagewrapper #pre-footer ul.columns {margin-top: 20px; list-style: none; float: left; margin-left: 21px; padding-left: 5px; width: 223px; border-left: 1px solid #d4d4d4}
#lower_pagewrapper #pre-footer ul.columns li {color: white; font-size: 10px}
#lower_pagewrapper #pre-footer ul.columns li h5 {margin-bottom: 10px}
#lower_pagewrapper #footer {margin: 0px auto; width: 100%; height: 35px; background-image: url(/images/system/bg/front/footer_bg.jpg); z-index: 100}
#lower_pagewrapper #footer ul#links {width: 1000px; margin: 0px auto; list-style: none}
#lower_pagewrapper #footer ul#links li {line-height: 31px; font-size: 11px; float: left; margin: 0 21px; color: #888888}
#lower_pagewrapper #footer ul#links li img {margin-top: 12px; float: left}
#lower_pagewrapper #footer ul#links li h4 {margin: 0; font-size: 14px; float: left}
#lower_pagewrapper #footer ul#links li h4 a {text-decoration: none}
#lower_pagewrapper #footer ul#links li h6 {margin: 2px 60px; letter-spacing: 2px}
#lower_pagewrapper #footer ul#links li h6 a {text-decoration: none}
#lower_pagewrapper #footer ul#links li img.eandv {margin: 7px 0 0 7px}
#lower_pagewrapper #footer #logbox {float: right; width: 250px; margin-top: 0px}
#lower_pagewrapper #footer #logbox div {float: left; margin-left: 15px; background-color: white}
img#mainpic {float: left; margin-right: 15px; display: none}
img#about_image {position: absolute; left: 195px; margin-top: 26px}
img.static_why {margin: 30px 0 0 30px}
#main.about {margin-top: 396px}
#right-column.about {margin-top: 396px}
#side-nav.about {margin-top: 26px}
#left-side.properties {width: 621px}
#left-side.home {width: 633px}
#left-side {width: 612px; float: left; background: transparent}
#left-side #sellyourproperty {width: 170px; float: left; margin-top: 15px}
#left-side ul#gallerylinks {height: 230px; width: 130px}
#left-side ul#gallerylinks li {float: left; height: 62px}
#left-side #side-nav.properties {margin-right: 9px}
#left-side #side-nav.home {margin-right: 0px}
#left-side #side-nav {width: 170px; float: left; background-color: transparent; margin-right: 0px}
#left-side #side-nav hr {width: 129px; height: 1px; border: 0px none; float: left; background-color: #e1e1e1; margin: 8px 0 8px 6px}
#left-side #side-nav .shorter {height: 182px}
#left-side #side-nav .relocating {margin: 0px}
#left-side #side-nav div.toolset {margin-top: 14px}
#left-side #side-nav .left_tool {width: 162px; background: url(/images/system/bg/front/left_tool.jpg); margin-top: 0px; float: left}
#left-side #side-nav .left_tool .header_w_image {margin-top: 15px}
#left-side #side-nav .left_tool h3 {margin-left: 15px}
#left-side #side-nav .left_tool h3 a {text-decoration: none; color: #E13939}
#left-side #side-nav .left_tool h3 a:hover {color: #888888}
#left-side #side-nav .left_tool .top {width: 162px; height: 15px; background: url(/images/system/bg/front/left_tool_top.jpg); float: left}
#left-side #side-nav .left_tool .bottom {width: 162px; height: 15px; background: url(/images/system/bg/front/left_tool_bottom.jpg); margin-top: 0px; float: left}
#left-side #side-nav .left_tool ul {width: 162px; height: 123px; margin: 12px 0 0 0px; padding: 0px}
#left-side #side-nav .left_tool ul li {height: 41px; margin-left: 14px}
#left-side #side-nav .left_tool ul li img {float: left}
#left-side #side-nav .left_tool ul li span {float: left; font-size: 12px; font-style: italic; width: 100px; margin: 2px 0 0 13px; color: #818181}
#left-side #side-nav .left_tool ul li span a {color: #888888}
#left-side #side-nav .left_tool ul li span a:hover {color: #E13939}
#left-side #side-nav .share_box {height: 76px; background-image: url(../images/system/bg/front/share.jpg); margin-top: 14px}
#left-side #side-nav .share_box a {margin-left: 18px}
#left-side #side-nav .why h3 {margin: 5px 0 0 5px; text-align: left; width: 90px}
#left-side #side-nav .why h3 a {margin-left: 0px}
#left-side #side-nav .chat_box {height: 41px; background-image: url(../images/system/bg/front/RChatBG.jpg); margin-top: 0px}
#left-side #side-nav .global {margin-top: 14px}
#left-side #side-nav .global .header_w_image {margin: 0px}
#left-side #side-nav .global .header_w_image h3 {margin: 10px 0 0 5px}
#left-side #side-nav .global .header_w_image img {margin: 0 0 0 15px}
#left-side #side-nav .gossip_box {height: 370px; background-image: url(../images/system/bg/front/RGossipBG.jpg); margin-top: 14px}
#left-side #side-nav .gossip_box .header_w_image {margin-bottom: 10px}
#left-side #side-nav .gossip_box hr {margin: 15px 16px 13px}
#left-side #side-nav .gossip_box #gossip_container {height: 275px; width: 162px}
#left-side #side-nav .gossip_box .jScrollPaneContainer {margin-left: 0px; width: 162px}
#left-side #side-nav .gossip_box .jScrollPaneContainer ol {width: 162px}
#left-side #side-nav .gossip_box .jScrollPaneContainer ol li {margin: 10px 35px 0 10px; padding-right: 15px}
#left-side #side-nav .market_box {height: 205px; background-image: url(../images/system/bg/front/RMarketBG.jpg); margin-top: 14px}
#left-side #side-nav .market_box h3 {text-align: center; width: 100%}
#left-side #side-nav .market_box h3.download {margin: -5px 0 0 0}
#left-side #side-nav .market_box h3.download span.title a {text-transform: capitalize}
#left-side #side-nav ul.submenu {padding: 0px; margin: 0px; float: left; width: 170px}
#left-side #side-nav ul.submenu li {height: 24px; width: 151px; background: url(/images/system/buttons/submenu.jpg); margin: 0 0 0px 5px; padding: 2px 0 0 10px; background-repeat: no-repeat; color: white}
#left-side #side-nav ul.submenu li a {color: white}
#left-side #side-nav ul.submenu li a:hover {color: black}
#left-side #side-nav ul.submenu li.active {width: 168px; height: 24px; background: url(/images/system/buttons/submenu_selected.jpg); background-repeat: no-repeat}
#left-side #side-nav #keep_discovering {width: 150px; height: 80px; background-image: url(/images/system/bg/front/keepdiscovering.jpg)}
#left-side #side-nav #polaroid {width: 310px; height: 100px; margin-left: -195px}
#left-side #side-nav ul {padding-left: 5px; width: 120px; float: none}
#left-side #side-nav ul li {list-style: none}
#left-side #side-nav ul li a {color: black; text-decoration: none}
#left-side #side-nav ul li a:hover {color: red}
#left-side #side-nav ul li ul.sublevel li {list-style: disc; list-style-position: inside}
#left-side #side-nav ol {margin: 0 24px; font-size: 10px}
#left-side .property {margin-top: 0px}
#left-side #title {width: 610px; height: 26px; float: left; background: url(/images/system/bg/front/long_redbar.jpg); margin-left: 2px; color: white; line-height: 22px}
#left-side #title h5 {margin-left: 13px; text-transform: uppercase}
#left-side #title.about {position: absolute; width: 929px; background: url(/images/system/bg/front/long_blackbar.jpg)}
#left-side .top {background-image: url(/images/system/bg/front/main_properties_top.jpg); margin-top: 0; width: 442px; position: relative; height: 15px; float: left}
#left-side .bottom {background-image: url(/images/system/bg/front/main_properties_bottom.jpg); width: 442px; position: relative; height: 15px; float: left}
#left-side #main.properties {width: 442px; background: url(/images/system/bg/front/main_properties.jpg); margin-left: 0px}
#left-side #main.featured {background: black}
#left-side #main.featured .top {background: url(/images/system/bg/front/FeaturedBlack.jpg); background-repeat: repeat-x; height: 27px; width: 440px; margin-left: 1px}
#left-side #main.featured .bottom {background: url(/images/system/bg/front/FeaturedBlack.jpg); background-repeat: repeat-x; height: 27px; width: 440px; margin-left: 1px; margin-top: 15px}
#left-side #main.featured p {color: white}
#left-side #main.featured h1 {padding: 0px; margin: -24px 0 0 14px; float: left}
#left-side #main.featured #property_header p.address {background: url(/images/system/bg/front/FeaturedH2BG.jpg); background-repeat: no-repeat}
#left-side #main.featured #facility_list {background: url(/images/system/bg/front/FeaturedFacilitiesH.jpg)}
#left-side #main.featured #facility_list .top {background: url(/images/system/bg/front/FeaturedFacilitiesBGTop.jpg); margin: 0px; height: 8px}
#left-side #main.featured #facility_list .bottom {background: url(/images/system/bg/front/FeaturedFacilitiesBGBottom.jpg); height: 8px}
#left-side #services {width: 442px; background: url(/images/system/bg/front/main_properties.jpg); float: right; color: #4d4d4d; font-size: 14px; margin-top: 16px}
#left-side #services img {margin: 5px 20px}
#left-side #services ul {list-style: none; margin: 0 0 0 -27px}
#left-side #services ul li {width: 413px; height: 180px; margin-bottom: 0px}
#left-side #property_gallery {width: 621px; height: 374px; float: left; background: transparent; margin: -8px 0 22px -7px}
#left-side #main.properties h3 {margin-left: 24px}
#left-side #main.why {width: 442px}
#left-side #news {width: 463px; height: 371px; background: url(/images/system/bg/front/NewsBG.jpg); float: right; margin-top: 14px; font-size: 14px; color: #4d4d4d}
#left-side #news .jScrollPaneContainer {margin: 0px}
#left-side #news hr {width: 409px; height: 1px; text-align: center; background-color: #e1e1e1; border: 0px none; float: left; margin-left: 16px}
#left-side #news #blog_container {height: 275px; float: left}
#left-side #news ol#blog {list-style-type: none}
#left-side #news ol#blog li {background: transparent; margin: 0px; padding: 0 12px}
#left-side #news ol#blog li hr {margin-left: 4px}
#left-side #news ol#blog li h2 {padding: 0px 0 0 24px; margin: 0px; float: left; width: 100%}
#left-side #news ol#blog li h2 a {text-decoration: none}
#left-side #news ol#blog li h2 a:hover {color: #E13939}
#left-side #news ol#blog li h6 {margin: 0px; padding: 0 0 0 24px; float: right; text-align: left}
#left-side #news ol#blog li h6 span {color: #888888}
#left-side #news ol#blog li p {margin: 5px 24px 0px; font-style: italic; font-family: "Georgia"; float: left}
#left-side #main {width: 463px; background: url(/images/system/bg/front/main_width.jpg); float: left; color: #4d4d4d; overflow: auto; font-size: 14px}
#left-side #main #comunicate {width: 136px; height: 45px; float: left; margin-left: 24px}
#left-side #main #comunicate a {color: white; text-decoration: none; float: left; text-align: center; margin-top: 10px}
#left-side #main #comunicate a:hover {color: #E13939}
#left-side #main #comunicate a.chat {height: 21px; width: 56px; background: url(/images/system/buttons/FeaturedChatBtn.jpg)}
#left-side #main #comunicate a.contact {height: 22px; width: 64px; background: url(/images/system/buttons/FeaturedcontactBtn.jpg)}
#left-side #main ol.staff {list-style-type: none}
#left-side #main ol.staff li img {float: left; margin: 15px 10px 5px 35px}
#left-side #main ol.staff li h1 {padding-bottom: 0px}
#left-side #main ol.staff li h2 {margin: 0px 35px; padding: 0px; font-weight: normal}
#left-side #main ol.staff li h3 {margin: 15px 35px 0px}
#left-side #main ol.staff li h6 {margin: 0px 35px}
#left-side #main ol#blog {list-style-type: none}
#left-side #main ol#blog li {background: transparent; margin: 0px; padding: 0 12px}
#left-side #main ol#blog li hr {margin-left: 4px}
#left-side #main ol#blog li h2 {padding: 0 0 0 24px; text-transform: capitalize; margin: 0px}
#left-side #main ol#blog li h6 {margin: 0px; padding: 0 0 0 24px}
#left-side #main ol#blog li h6 span {color: #888888}
#left-side #main ol#blog li p {margin: 10px 0; padding: 0px}
#left-side #main ol.show li h1 {padding: 15px 0 0 24px}
#left-side #main #maylike {width: 402px; height: 85px; float: left; margin: 9px 0 0 20px}
#left-side #main #map {width: 419px; height: 317px; float: left; background: transparent; margin: 10px 11px}
#left-side #main .further {width: 248px; float: left}
#left-side #main .further h3 {font-variant: normal; font-style: italic; text-transform: none}
#left-side #main #facility_list {width: 136px; background: url(/images/system/bg/front/property_facility.jpg); float: left; margin: 3px 0 0 25px}
#left-side #main #facility_list .top {width: 136px; height: 4px; background: url(/images/system/bg/front/property_facility_top.jpg)}
#left-side #main #facility_list .bottom {width: 136px; height: 4px; background: url(/images/system/bg/front/property_facility_bottom.jpg)}
#left-side #main #facility_list h3 {text-align: center; margin: 10px 0 0 0}
#left-side #main #facility_list p {margin: 0 0 0 12px}
#left-side #main #facility_list ul {margin: 10px 0 10px 12px; list-style-position: inside; padding: 0px}
#left-side #main #facility_list ul li {font-size: 12px}
#left-side #main #property_content {width: 248px; float: left; background: transparent; margin-left: 16px; margin-top: 3px}
#left-side #main #property_content p {font-style: normal; font-size: 12px; margin: 0 0 0 6px}
#left-side #main #property_header {height: 84px; background: transparent; float: left; margin-left: 16px; width: 409px}
#left-side #main #property_header h1 {text-transform: uppercase; color: #e2001a; font-style: normal; margin: 0 0 0 6px; width: 100%; padding: 0; font-size: 16px; float: left}
#left-side #main #property_header p {float: left; margin: 0}
#left-side #main #property_header .code {float: right; margin: 4px 0 0 0; font-size: 11px}
#left-side #main #property_header .address {background: url(../images/system/bg/front/main_property_address.jpg); height: 20px; width: 225px; margin: 0 0 0 0px; padding: 2px 0 0 6px; background-repeat: no-repeat}
#left-side #main #property_header .state {width: 409px; margin: 3px 0 0 6px; font-style: normal}
#left-side #main #property_header .state strong {text-transform: uppercase}
#left-side #main #property_header .price {width: 159px; margin: 3px 0 0 6px}
#left-side #main #property_header ul.facility {margin: 6px 0 0 5px; list-style: none; width: 155px; height: 17px; float: right}
#left-side #main #property_header ul.facility li {float: left; color: white; text-align: center}
#left-side #main #property_header ul.facility li p {margin: -2px 0 0 5px; padding: 0}
#left-side #main #property_header ul.facility li.number {height: 16px; width: 17px; background: url(../images/system/buttons/Facility/Facilites_NumBG.jpg); margin-right: 3px}
#left-side #main #property_header ul.facility li.bed {height: 16px; width: 24px; background: url(../images/system/buttons/Facility/Icon_Bed.jpg); margin-right: 12px}
#left-side #main #property_header ul.facility li.bath {height: 21px; width: 22px; background: url(../images/system/buttons/Facility/Icon_Shower.jpg); margin-right: 12px; margin-top: -2px}
#left-side #main #property_header ul.facility li.garage {height: 18px; width: 24px; background: url(../images/system/buttons/Facility/Icon_Car.jpg); margin-top: -2px}
#left-side #main ul#view_options {width: 409px; padding: 0px; float: left; margin-top: 0px}
#left-side #main ul#view_options li {float: left; list-style: none; text-align: center; background-repeat: no-repeat; color: white; font-size: 12px; height: 22px; line-height: 22px; margin: 5px 5px 0 0}
#left-side #main ul#view_options li span {font-weight: bold; color: black}
#left-side #main ul#view_options li a {color: white; margin: 0 0 0 7px; text-decoration: none; float: left}
#left-side #main ul#view_options li a:hover {color: black}
#left-side #main ul#view_options li a.active {color: black}
#left-side #main ul#view_options li.buy {width: 37px; background: url(../images/system/buttons/Filters/Filter_Buy.jpg)}
#left-side #main ul#view_options li.rent {width: 41px; background: url(../images/system/buttons/Filters/Filter_Rent.jpg)}
#left-side #main ul#view_options li.mls {width: 42px; background: url(../images/system/buttons/Filters/Filter_MLS.jpg)}
#left-side #main ul#view_options li.date {width: 54px; background: url(../images/system/buttons/Filters/Filter_Date.jpg)}
#left-side #main ul#view_options li.price {width: 56px; background: url(../images/system/buttons/Filters/Filter_Price.jpg)}
#left-side #main ul#view_options li.first {width: 60px; margin-right: 15px; line-height: 14px; margin-top: 0; text-transform: uppercase}
#left-side #main #result_info {width: 409px; height: 74px; float: left; margin-left: 16px}
#left-side #main #result_info h5 {margin-top: 48px; width: 100%; color: red; font-style: italic}
#left-side #main #result_info h5 span.left {float: left}
#left-side #main #result_info h5 span.right {float: right}
#left-side #main .property {height: 107px; width: 426px; float: left; margin-left: 5px; background: transparent}
#left-side #main .property .image {height: 90px; width: 120px; float: left; margin: 9px; background: transparent}
#left-side #main .property .text {margin: 0px; width: 282px; height: 21px; float: left; margin-bottom: 1px}
#left-side #main .property .text p {margin-left: 5px; font-style: normal}
#left-side #main .property .title {margin-top: 9px; text-transform: uppercase}
#left-side #main .property .address {background: url(../images/system/bg/front/Prop_Top_BG.jpg); height: 20px}
#left-side #main .property .address p {font-style: italic; margin-top: 2px}
#left-side #main .property .extra {background: url(../images/system/bg/front/Prop_Bot_BG.jpg); height: 29px}
#left-side #main .property .extra ul.facility {margin: 6px 0 0 5px; padding: 0px; list-style: none; width: 282px; height: 29px}
#left-side #main .property .extra ul.facility li {float: left; color: white; text-align: center}
#left-side #main .property .extra ul.facility li p {margin: -2px 0 0 0; padding: 0}
#left-side #main .property .extra ul.facility li.number {height: 16px; width: 17px; background: url(../images/system/buttons/Facility/Facilites_NumBG.jpg); margin-right: 3px}
#left-side #main .property .extra ul.facility li.bed {height: 16px; width: 24px; background: url(../images/system/buttons/Facility/Facilities_Bed.jpg); margin-right: 12px}
#left-side #main .property .extra ul.facility li.bath {height: 20px; width: 22px; background: url(../images/system/buttons/Facility/Facilities_Shower.jpg); margin-right: 12px; margin-top: -2px}
#left-side #main .property .extra ul.facility li.garage {height: 20px; width: 22px; background: url(../images/system/buttons/Facility/Facilities_Garage.jpg); margin-right: 12px; margin-top: -2px}
#left-side #main .property .extra ul.facility li.viewproperty {height: 16px; width: 84px; background: url(../images/system/buttons/viewproperty.jpg); margin-left: 17px; text-align: center}
#left-side #main .property .extra ul.facility li.viewproperty a {font-size: 10px; color: red; float: left; margin: 1px 0 0 8px; font-variant: small-caps; text-decoration: none}
#left-side #main .property .price {height: 18px}
#left-side #main .property .price p {margin: 0 0 0 5px}
#left-side #main .featured {background: url(../images/system/bg/front/featured_property_bg.jpg)}
#left-side #main .testing {background: url(../images/system/bg/front/featBG.jpg)}
#left-side #main hr {width: 409px; height: 1px; text-align: center; background-color: #e1e1e1; border: 0px none; float: left; margin-left: 16px}
#left-side #main h3 {margin: 13px 0 0 34px}
#left-side #main h4 {margin: 10px 0 5px 34px; text-transform: capitalize}
#left-side #main #main_top {background-image: url(../images/system/bg/front/main_top.jpg); margin-top: 0}
#left-side #main #main_bottom {background-image: url(../images/system/bg/front/main_bottom.jpg); float: left; margin-top: 24px}
#left-side #main .main_border {height: 8px; width: 463px; position: relative}
#left-side #main #main_top.other {background-image: url(../images/system/bg/front/main_properties_top.jpg); width: 442px; margin-top: 0; height: 15px}
#left-side #main #main_bottom.other {background-image: url(../images/system/bg/front/main_properties_bottom.jpg); width: 442px; float: left; margin-top: 33px; height: 15px}
#left-side #main .properties {width: 442px}
#left-side #main p {margin: 5px 35px; font-style: italic; font-family: "Georgia"}
#left-side #main p.main_links {text-align: left}
#left-side #main p.main_links a {float: none; margin: 0px}
#left-side #main ul {margin: 5px 30px; padding-left: 20px; font-style: italic}
#left-side #main ul.toggle_li {font-style: italic}
#left-side #main ul.toggle_li li {margin: 20px 0}
#left-side #main table {margin: 25px}
#left-side #main a {float: right; margin-bottom: 0px; margin-right: 50px; color: red}
#left-side #main div.toggle {overflow: hidden; margin-top: 15px}
#left-side .header_w_image {float: left; text-align: center; width: 162px; margin-left: 0px; height: 35px}
#left-side .header_w_image img {float: left; margin: 3px 0 0 15px}
#left-side .header_w_image h3 {float: left; padding: 0px 0 0 0px; margin: 0px}
#left-side .header_w_image .services {text-align: left; padding: 0px}
#right-column.home {margin-left: 16px}
#right-column {width: 304px; float: left; margin-left: 16px}
#right-column .top {width: 304px; height: 15px; background: url(../images/system/bg/front/right_tool_top.jpg)}
#right-column .bottom {width: 304px; height: 15px; background: url(../images/system/bg/front/right_tool_bottom.jpg); position: relative; float: left}
#right-column h3 {margin-left: 24px}
#right-column #searchbox.advanced {height: 351px; width: 304px; background: url(../images/system/bg/front/right_tool.jpg); background-repeat: repeat-y}
#right-column #searchbox.advanced div {float: left}
#right-column #searchbox.advanced div h3 {margin-left: 24px}
#right-column #searchbox.about {margin-bottom: 15px}
#right-column #faq {height: 157px; background: url(../images/system/bg/front/right_tool.jpg); background-repeat: repeat-y; float: left; margin-top: 15px}
#right-column #faq #faq_block {height: 109px; width: 269px}
#right-column #faq #faq_block p {font-style: italic; font-family: "Georgia"; font-size: 12px; color: #6b6b6b}
#right-column #extra.home {margin-top: 30px}
#right-column #extra.home_extra {margin-top: 8px}
#right-column #extra {width: 174px; background: url(../images/system/bg/front/right_small1.jpg); float: left; margin-top: 15px}
#right-column #extra img {margin: 0px 0 0 24px}
#right-column #extra img.share {margin: 12px 0 0 24px}
#right-column #extra .top {width: 174px; height: 15px; background: url(../images/system/bg/front/right_small1_top.jpg)}
#right-column #extra .bottom {width: 174px; height: 15px; background: url(../images/system/bg/front/right_small1_bottom.jpg); position: relative; float: left}
#right-column #extra h3 {margin-bottom: 8px}
#right-column #chatlive {width: 174px; height: 41px; float: left; background: url(../images/system/bg/front/ChatBG.jpg); margin-top: 12px}
#right-column #chatlive h3 {margin-left: 51px; margin-top: 10px}
#right-column #small {width: 117px; height: 161px; float: left; background: url(../images/system/bg/front/right_small2.jpg); margin: 15px 0 0 13px}
#right-column #small h3 {margin: 14px 0 0 13px}
#right-column #small ul {font-size: 14px; margin: 10px 0 0 28px}
#right-column #small ul li {line-height: 24px; color: #4D4D4D; font-style: italic}
#right-column #small2 {width: 122px; height: 125px; float: left; background: url(../images/system/bg/front/ListBG.jpg); margin: 12px 8px 0 0px; text-decoration: none}
#right-column #small2 h3 {margin: 8px 0 0 13px; text-decoration: none}
#right-column #small2 ul {font-size: 12px; margin: 3px 0 0 28px}
#right-column #small2 ul li {line-height: 17px; color: #4D4D4D; font-style: italic; margin-top: 5px}
#right-column #small2 ul span {float: left; margin-left: 9px}
#right-column #small2 ul span a {color: #4D4D4D; text-decoration: none}
#right-column #small2 ul span a:hover {color: #E13939}
#right-column #small2 ul img {float: left}
#right-column #small2 ul li.segundo img {margin-top: 10px}
#right-column #small2 ul li.segundo span {margin-top: 10px}
#right-column #searchbox {height: 245px; width: 266px; background-color: transparent; float: left}
#right-column #searchbox h3 {margin-left: 0px}
#right-column #searchbox #bottom_b {position: absolute; height: 2px; width: 266px; background-image: url(../images/system/form/home_separator.jpg); margin-top: 232px}
#right-column #searchbox #bottom_b2 {position: relative; height: 2px; width: 266px; background-image: url(../images/system/form/home_separator.jpg); float: left; margin-top: 0px}
#right-column #searchbox #eanvvip {margin-top: 20px; margin-left: -27px}
#right-column #searchbox form {font-family: "Georgia"}
#right-column #searchbox form#QuickQuery p {margin-bottom: 0px}
#right-column #searchbox form#QuickQuery p input#search_query_query {padding: 6px 0 0 12px; border: 0px; width: 223px; height: 21px; background-image: url(../images/system/form/search_input.jpg); background-repeat: no-repeat; float: left; padding-right: 0px; line-height: 25px; font-family: "Georgia"; font-size: 12px; color: #888888}
#right-column #searchbox form#QuickQuery p.advanced {margin-left: 24px}
#right-column #searchbox form#Selectable div {float: right; margin-top: 10px; color: #888888}
#right-column #searchbox form#Selectable div p {margin: 0px; padding: 0px; height: 30px; width: 198px; font-family: "Georgia"; font-size: 12px}
#right-column #searchbox form#Selectable div p input.formularios {padding: 6px 0 0 6px; border: 0px; width: 168px; height: 20px; background-repeat: no-repeat; font-family: "Georgia"; font-size: 12px; color: #6b6b6b}
#right-column #searchbox form#Selectable div p input.idle {background-image: url(/images/system/form/dropdown.jpg)}
#right-column #searchbox form#Selectable div p input.onfocus {background-image: url(/images/system/form/search_input_down.jpg)}
#right-column #searchbox form#Selectable div p input.text_input {padding: 6px 0 0 6px; border: 0px; width: 192px; height: 20px; margin-top: 6px; background-image: url(/images/system/form/advanced_search_input.jpg); background-repeat: no-repeat; float: left; padding-right: 0px; line-height: 25px}
#right-column #searchbox form#Selectable div p input.short {width: 84px; height: 29px; background-image: url(/images/system/form/Zip.jpg)}
#right-column #searchbox form#Selectable div p span.zip {float: left; margin: 12px 4px 0 0}
#right-column #searchbox form#Selectable div.titles {margin-top: 22px; color: #838383}
#right-column #searchbox form#Selectable div.titles p {width: 68px; font-size: 80%; font-variant: small-caps}
#right-column #schools {width: 304px; float: left; margin: 0px 0 0 0px; background: url(/images/system/bg/front/right_tool.jpg)}
#right-column #schools hr {width: 280px; float: left; border: 0px none; background: #E1E1E1; margin-left: 12px}
#right-column #schools h3 {margin-left: 24px}
#right-column #schools .top {width: 304px; height: 15px; background: url(/images/system/bg/front/right_tool_top.jpg)}
#right-column #schools .bottom {width: 304px; height: 15px; background: url(/images/system/bg/front/right_tool_bottom.jpg); position: relative; float: left}
#right-column #schools ul {margin: 0 0 0 24px; float: left}
#right-column #schools ul li.title {color: black; font-size: 12px; font-style: italic}
#right-column #schools ul li.title span {text-transform: uppercase; font-style: normal}
#right-column #schools ul.school li {list-style: none; float: left; margin-right: 0px}
#right-column #schools ul.school li.distance {color: #e13939; width: 90px}
#right-column #schools ul.school li.title {color: #7e7e7e; font-weight: bold; font-style: normal; width: 120px}
#right-column #schools ul.school li.title i {font-weight: normal}
#right-column #schools ul.school li.map {width: 45px; height: 21px; background-image: url(/images/system/buttons/schoolsmap.jpg); color: white; font-size: 12px; line-height: 21px}
#right-column #schools ul.school li.map span {margin: 0 0 0 8px; text-transform: uppercase}
#right-column #eanvvip {width: 302px; height: 159px; background: url(/images/system/bg/front/ev_vip_bg.jpg); float: left; margin: 14px 0px 14px 0px}
#right-column #eanvvip p {margin: 50px; color: white; text-align: center; font-size: 14px; line-height: 18px; font-style: italic}
#right-column #marketreport {background: url(/images/system/bg/front/right_tool.jpg); background-repeat: repeat-y; float: left; margin-top: 15px}
#right-column #marketreport p {margin: 15px 80px; float: left; text-align: center}
#right-column #marketreport p a {color: #E13939; text-decoration: none}
#right-column #marketreport p a:hover {color: black}
#right-column #marketreport .header_w_image {width: 200px; margin-left: 70px}
#right-column #marketreport .header_w_image h3 {float: left; padding-top: 9px}
#right-column .partners {margin-top: 14px; float: left}
#right-column .partners h3 {margin-left: 0px}
#right-column .partners h5 {color: #e2001a; margin: 0 5px 7px 5px; text-align: center}
#right-column .header_w_image {float: left; text-align: center; width: 174px; margin-left: 0px; height: 35px}
#right-column .header_w_image img {float: left; margin: 0px}
#right-column .header_w_image h3 {float: left; padding: 6px 0 0 0px; margin: 0px}
#right-column .header_w_image h3 a {color: #E13939; text-decoration: none}
#right-column .header_w_image h3 a:hover {color: #888888}