body { font-family: Verdana; font-size: 10px; background: #fafafa; color: white; }
body a { color: black; }
body a:hover { color: red; }

#pagewrapper { width: 1020px; margin: 0px auto; background-color: black; }
#pagewrapper #header { height: 84px; width: 1020px; background-image: url(../images/system/bg/admin/header.png); }
#pagewrapper #header #logbox { float: right; width: 250px; margin-top: 0px; }
#pagewrapper #header #logbox div { float: left; margin-left: 15px; background-color: black; }
#pagewrapper #navbar { height: 50px; background-image: url(../images/system/bg/admin/navbar.png); }
#pagewrapper #navbar ul li { list-style: none; height: 25px; line-height: 25px; vertical-align: middle; float: left; margin: 15px 10px; }
#pagewrapper #navbar ul li a { margin-left: 25px; color: #4d4d4d; text-decoration: none; }
#pagewrapper #navbar ul li a:hover { color: white; }
#pagewrapper #navbar ul li a.active { color: white; }
#pagewrapper #navbar ul li.cufon-active h2 { color: white; }

#content { margin: 0px auto; padding: 25px; background-color: transparent; color: black; width: 970px; border: 1px solid #d4d4d4; }
#content div.fieldWithErrors input { border: 2px solid red; }
#content #side-nav { width: 120px; float: left; background-color: white; }
#content #side-nav ul { padding-left: 5px; width: 120px; float: none; }
#content #side-nav ul li { list-style: none; }
#content #side-nav ul li a { color: black; }
#content #side-nav ul li a:hover { color: red; }
#content h1 { font-size: 24px; text-align: left; }
#content h2 { font-size: 21px; text-align: left; font-weight: bold; }
#content p { margin: 10px 0 10px 0; }
#content p span.title-name { width: 150px; }
#content ul { width: 350px; float: right; margin-right: 50px; }
#content ul#tasks_list { width: 100%; margin: 10px auto; list-style: none; }
#content ul#tasks_list li { border: 1px solid black; width: 100%; }
#content ul#tasks_list li div.handle { background-image: url(../images/system/buttons/handle.png); width: 64px; height: 64px; float: left; }
#content #tabs { width: 100%; float: left; }
#content #tabs ul li { position: relative; float: left; border-bottom-width: 0 !important; }
#content #tabs h3 { margin-top: 15px; float: left; text-align: left; }
#content #tabs #image_tabs div#featured { float: left; padding: 0; margin: 0; }
#content #tabs #image_tabs ul#subtabs { float: left; width: 100%; }
#content #tabs #image_tabs ul#subtabs li { background: white; margin: 0px; }
#content ul.form_list { width: 100%; float: none; margin: 0px; list-style: none; }
#content #notice { right: 0px; top: 0px; background: green; }
#content #notice p { padding: 25px; }
#content #subcontent { width: 920px; float: left; margin-left: 40px; }
#content #subcontent td { border-bottom: 1px solid black; vertical-align: middle; }
#content #subcontent td table.nolines td { border: 0px none; }
#content #subcontent p { width: 350px; }

.changed { background: red; }

table.page_list { margin-top: 45px; display: block; }
table.page_list tr.subcategory { display: none; }
