body { background: #222222; color: white; overflow: auto; font-family: "Georgia"; z-index: -1; }
body a { color: black; outline: none; }
body a:focus { -moz-outline-style: none; }
body a:hover { color: yellow; }
body h3 { text-transform: uppercase; font-variant: small-caps; color: #e13939; font-family: "Georgia"; font-variant: small-caps; font-size: 16px; }
body h3 span { color: #d4d4d4; }
body h3 strong { font-weight: normal; color: #d4d4d4; }
body h1 { font-family: "Georgia"; font-size: 14px; text-transform: uppercase; color: #e2001a; }
body object { outline: none; }
body span.left { float: left; }
body span.right { float: right; font-size: 11px; line-height: 18px; font-style: italic; }

#upper_pagewrapper { z-index: 0; width: 100%; height: 566px; background-image: url(../images/system/bg/front/header.jpg); overflow-y: hidden; }
#upper_pagewrapper #header { height: 84px; width: 1020px; background-image: url(../images/system/bg/front/header.jpg); margin: 0px auto; }
#upper_pagewrapper #header #logo { height: 60px; width: 546px; }
#upper_pagewrapper #header #logo a img { margin: 22px 0 0 42px; }
#upper_pagewrapper #header #extra { height: 19px; right: 0px; margin-top: -55px; float: right; margin-right: 42px; }
#upper_pagewrapper #header #extra img { float: left; margin-left: 5px; }
#upper_pagewrapper #navbar { height: 50px; width: 1020px; margin: 0px auto; }
#upper_pagewrapper #navbar ul { margin: 0px auto; }
#upper_pagewrapper #navbar ul li.cufon-active h2 { color: white; }
#upper_pagewrapper #navbar ul li { list-style: none; height: 25px; line-height: 25px; vertical-align: middle; float: left; margin: 14px 22px; }
#upper_pagewrapper #navbar ul li a { margin-left: 25px; color: #4d4d4d; text-decoration: none; text-transform: uppercase; }
#upper_pagewrapper #navbar ul li a:hover { color: white; }
#upper_pagewrapper #navbar ul li a.active { color: white; }
#upper_pagewrapper #navbar ul li img { position: absolute; margin-top: 7px; margin-left: 3px; }
#upper_pagewrapper #navbar ul li img.arrow { position: absolute; margin-top: 10px; margin-left: 0px; z-index: 4; display: none; }
#upper_pagewrapper #navbar ul li img.active { display: block; }
#upper_pagewrapper #navbar ul #nav_properties { margin-right: 15px; }
#upper_pagewrapper #largegallery { width: 100%; height: 433px; background-position: 0 -135px; }
#upper_pagewrapper #largegallery #shine { height: 22px; width: 949px; background-image: url(../images/system/bg/front/shine.jpg); margin: 0px auto; margin-top: 28px; }
#upper_pagewrapper #holder { width: 961px; margin: 0px auto; height: 359px; padding-top: 24px; }
#upper_pagewrapper #cuber { width: 961px; background: transparent; list-style: none; }
#upper_pagewrapper #listOfImages { background: transparent; height: 359px; margin: 0; padding: 0; width: 961px; position: relative; }

#lower_pagewrapper.large { background: white; }

#lower_pagewrapper { width: 100%; background: white; z-index: 0; overflow-y: hidden; }
#lower_pagewrapper #content_top { background: url(../images/system/bg/front/content_top.jpg); height: 20px; background-repeat: repeat-x; position: absolute; margin-top: 0; width: 100%; z-index: 0; }
#lower_pagewrapper #content_bottom { background: url(../images/system/bg/front/content_bottom.jpg); height: 63px; background-repeat: repeat-x; position: relative; width: 100%; z-index: 3; }
#lower_pagewrapper #content { margin: 0px auto; padding: 25px; background: transparent; color: black; width: 970px; font-family: "Georgia"; min-height: 280px; position: relative; z-index: 4; margin-bottom: -63px; }
#lower_pagewrapper #content #page_header { width: 500px; float: left; }
#lower_pagewrapper #content h1 { font-size: 22px; padding: 15px 25px 5px 30px; text-align: left; font-family: "Times New Roman"; }
#lower_pagewrapper #content h2 { font-size: 21px; padding: 5px; text-align: left; font-weight: bold; }
#lower_pagewrapper #content p { margin: 10px 0 10px 0; }
#lower_pagewrapper #content ul { margin-right: 50px; }
#lower_pagewrapper #content #subcontent { width: 720px; float: left; margin-left: 40px; }
#lower_pagewrapper #content #subcontent td { border-bottom: 1px solid black; vertical-align: middle; }
#lower_pagewrapper #content #subcontent td table.nolines td { border: 0px none; }
#lower_pagewrapper #footer { margin: 0px auto; width: 100%; height: 35px; background-image: url(../images/system/bg/front/footer_bg.jpg); z-index: 100; }
#lower_pagewrapper #footer ul#links { width: 1000px; margin: 0px auto; list-style: none; }
#lower_pagewrapper #footer ul#links li { line-height: 31px; font-size: 11px; float: left; margin: 0 17px; color: #888888; }
#lower_pagewrapper #footer ul#links li img { margin-top: 12px; float: left; }
#lower_pagewrapper #footer ul#links li h4 { margin: 0; font-size: 14px; float: left; }
#lower_pagewrapper #footer ul#links li h4 a { text-decoration: none; }
#lower_pagewrapper #footer ul#links li h6 { margin: 2px 60px; letter-spacing: 2px; }
#lower_pagewrapper #footer ul#links li h6 a { text-decoration: none; }
#lower_pagewrapper #footer ul#links li img.eandv { margin: 7px 0 0 7px; }
#lower_pagewrapper #footer #logbox { float: right; width: 250px; margin-top: 0px; }
#lower_pagewrapper #footer #logbox div { float: left; margin-left: 15px; background-color: white; }
