body.vip #pagewrapper { background: url(../images/system/bg/front/VIPformBG.jpg); margin: 0px auto; }
body.vip #pagewrapper #header { margin-top: 0px; }
body.vip #pagewrapper #header h1 { padding-top: 8px; }
body.vip #pagewrapper #header p { border-bottom: 0px none; padding: 0px 8px; }
body.vip #pagewrapper #header ul { padding-bottom: 12px; border-bottom: 1px solid #e1e1e1; }
body.vip #pagewrapper #header ul li { margin-left: 45px; }
body.vip #pagewrapper #content table { padding-left: 45px; padding-top: 15px; }
body.vip #pagewrapper #content table tr { margin: 4px 0; }
body.vip #pagewrapper #content table tr td { vertical-align: top; }
body.vip #pagewrapper #content table tr td h4 { text-transform: uppercase; text-align: right; text-decoration: none; margin-right: 15px; margin-top: 0px; width: 150px; margin-top: 2px; }
body.vip #pagewrapper #content table tr td h5 { float: left; }
body.vip #pagewrapper #content table tr td.spacer { width: 15px; }
body.vip #pagewrapper #content table#column1 { margin-top: 0px; }

body { color: white; overflow: hidden; }
body a { color: #E13939; }
body a:hover { color: black; }
body #pagewrapper { width: 560px; height: 567px; background: white; margin: 0px auto; background: white; background-image: none; }
body #pagewrapper #header { width: 546px; margin: 24px 7px 0 7px; background-image: none; }
body #pagewrapper #header h1 { color: black; padding: 0 8px 8px  8px; text-transform: uppercase; border-bottom: 1px solid #e1e1e1; }
body #pagewrapper #header p { color: #4d4d4d; padding: 12px 8px; border-bottom: 1px solid #e1e1e1; }
body #pagewrapper #header p span { color: #E13939; text-transform: uppercase; }
body #pagewrapper #content { height: 515px; }
body #pagewrapper #content table tr { margin: 4px 0; }
body #pagewrapper #content table tr td { vertical-align: top; }
body #pagewrapper #content table tr td h4 { text-transform: uppercase; text-align: right; text-decoration: none; margin-right: 15px; margin-top: 0px; width: 150px; margin-top: 2px; }
body #pagewrapper #content table tr td h5 { float: left; }
body #pagewrapper #content table#column1 { float: left; margin-top: 20px; }
body #pagewrapper #content table#column1 tr td { vertical-align: middle; }
body #pagewrapper #content table#column1 tr td input[type="text"] { width: 250px; }
body #pagewrapper #content table#column1 tr td input[type="checkbox"] { margin: 8px 0 0 0; }
body #pagewrapper #content table#column1 tr td input[type="submit"] { float: right; }
body #pagewrapper #content table#column2 { float: left; }
body #pagewrapper #content table#column2 tr td { vertical-align: middle; text-align: left; }
body #pagewrapper #content table#column2 tr td.wide select { width: 134px; }
body #pagewrapper #content table#column2 tr td.short select { width: 40px; }
body #pagewrapper #content #column1 { margin-left: 10px; }
body #pagewrapper #content #column2 { margin-left: 10px; }
body #pagewrapper #content #contactform { margin-top: 0px; }
body #pagewrapper #content #row2 { float: right; margin-right: 18px; }
body #pagewrapper #content input { float: left; margin-right: 20px; margin-top: 4px; border: 1px solid #e1e1e1; }
body #pagewrapper #content input[type="checkbox"] { width: 15px; }
body #pagewrapper #content input[type="submit"] { float: right; }
body #pagewrapper #content textarea { border: 0px none; border: 1px solid #e1e1e1; width: 250px; }
body #pagewrapper #content select { border: 1px solid #e1e1e1; margin: 2px 0; width: 250px; }
body #pagewrapper #content select.short { width: 40px; }
body #pagewrapper #content div.fieldWithErrors input { border: 2px solid red; }
body #pagewrapper #content div.fieldWithErrors textarea { border: 2px solid red; }
body #pagewrapper #content div.fieldWithErrors table.mceLayout { border: 2px solid red; }
body #pagewrapper #content #mailing { float: left; margin-left: 50px; width: 150px; }
body #pagewrapper #content #mailing p { color: #4d4d4d; font-size: 11px; margin-left: 15px; margin-top: 12px; }
body #pagewrapper #content hr { float: left; width: 546px; height: 1px; margin: 12px 8px; background-color: #e1e1e1; border: 0px none; }
body #pagewrapper #content #wide { color: #4d4d4d; padding: 26px 0 0 0; height: 500px; width: 520px; }
body #pagewrapper #content #wide p { margin: 5px 35px 5px 0; }

#errorExplanation { float: left; margin-top: 10px; border: 15px solid #E13939; padding: 5px 5px 5px 20px; color: #4d4d4d; }
#errorExplanation ul { float: left; }
#errorExplanation ul li { width: 100%; }
#errorExplanation h2 { font-weight: bold; }

div.fieldWithErrors input { border: 2px solid red; }
div.fieldWithErrors textarea { border: 2px solid red; }
div.fieldWithErrors table.mceLayout { border: 2px solid red; }
