
.jScrollPaneContainer {
overflow:hidden;
position:relative;
z-index:1;
float:left;
margin-left:24px;
}
.jScrollPaneTrack {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background: transparent none repeat scroll 0 0;
cursor:pointer;
height:100%;
position:absolute;
right:0;
top:0;
width:17px;
padding:5px;
}
.jScrollPaneDrag {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#ec4147 none repeat scroll 0 0;
cursor:pointer;
overflow:hidden;
position:absolute;
}
.jScrollPaneDragTop {
left:0;
overflow:hidden;
position:absolute;
top:0;
}
.jScrollPaneDragBottom {
bottom:0;
left:0;
overflow:hidden;
position:absolute;
}
a.jScrollArrowUp {
display:block;
height:17px;
width:17px;
overflow:hidden;
position:absolute;
right:0;
text-indent:-2000px;
top:0;margin:5px;
z-index:1;
background-image: url(../images/system/buttons/scrollup.jpg);
}
a.jScrollArrowUp:hover {
}
a.jScrollArrowDown {
bottom:0;
display:block;
height:17px;
overflow:hidden;
position:absolute;
right:0;
text-indent:-2000px;
z-index:1;margin:5px;
background-image: url(../images/system/buttons/scrolldown.jpg);
}
a.jScrollArrowDown:hover {
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
}
