#left-side.properties { width: 621px; }

#left-side.home { width: 633px; }

#left-side { width: 612px; float: left; background: transparent; }
#left-side #sellyourproperty { width: 170px; float: left; margin-top: 15px; }
#left-side ul#gallerylinks { height: 230px; width: 130px; }
#left-side ul#gallerylinks li { float: left; height: 62px; }
#left-side #side-nav.properties { margin-right: 9px; }
#left-side #side-nav.home { margin-right: 0px; }
#left-side #side-nav { width: 170px; float: left; background-color: transparent; margin-right: 0px; }
#left-side #side-nav hr { width: 129px; height: 1px; border: 0px none; float: left; background-color: #e1e1e1; margin: 8px 0 8px 6px; }
#left-side #side-nav .shorter { height: 182px; }
#left-side #side-nav .relocating { margin: 0px; }
#left-side #side-nav div.toolset { margin-top: 14px; }
#left-side #side-nav .left_tool { width: 162px; background: url(/images/system/bg/front/left_tool.jpg); margin-top: 0px; float: left; }
#left-side #side-nav .left_tool .header_w_image { margin-top: 15px; }
#left-side #side-nav .left_tool h3 { margin-left: 15px; }
#left-side #side-nav .left_tool h3 a { text-decoration: none; color: #E13939; }
#left-side #side-nav .left_tool h3 a:hover { color: #888888; }
#left-side #side-nav .left_tool .top { width: 162px; height: 15px; background: url(/images/system/bg/front/left_tool_top.jpg); float: left; }
#left-side #side-nav .left_tool .bottom { width: 162px; height: 15px; background: url(/images/system/bg/front/left_tool_bottom.jpg); margin-top: 0px; float: left; }
#left-side #side-nav .left_tool ul { width: 162px; height: 123px; margin: 12px 0 0 0px; padding: 0px; }
#left-side #side-nav .left_tool ul li { height: 41px; margin-left: 14px; }
#left-side #side-nav .left_tool ul li img { float: left; }
#left-side #side-nav .left_tool ul li span { float: left; font-size: 12px; font-style: italic; width: 100px; margin: 2px 0 0 13px; color: #818181; }
#left-side #side-nav .left_tool ul li span a { color: #888888; }
#left-side #side-nav .left_tool ul li span a:hover { color: #E13939; }
#left-side #side-nav .share_box { height: 76px; background-image: url(../images/system/bg/front/share.jpg); margin-top: 14px; }
#left-side #side-nav .share_box a { margin-left: 18px; }
#left-side #side-nav .why h3 { margin: 5px 0 0 5px; text-align: left; width: 90px; }
#left-side #side-nav .why h3 a { margin-left: 0px; }
#left-side #side-nav .chat_box { height: 41px; background-image: url(../images/system/bg/front/RChatBG.jpg); margin-top: 0px; }
#left-side #side-nav .global { margin-top: 14px; }
#left-side #side-nav .global .header_w_image { margin: 0px; }
#left-side #side-nav .global .header_w_image h3 { margin: 10px 0 0 5px; }
#left-side #side-nav .global .header_w_image img { margin: 0 0 0 15px; }
#left-side #side-nav .gossip_box { height: 370px; background-image: url(../images/system/bg/front/RGossipBG.jpg); margin-top: 14px; }
#left-side #side-nav .gossip_box .header_w_image { margin-bottom: 10px; }
#left-side #side-nav .gossip_box hr { margin: 15px 16px 13px; }
#left-side #side-nav .gossip_box #gossip_container { height: 275px; width: 162px; }
#left-side #side-nav .gossip_box .jScrollPaneContainer { margin-left: 0px; width: 162px; }
#left-side #side-nav .gossip_box .jScrollPaneContainer ul#gossip { width: 162px; font-size: 10px; height: 100%; }
#left-side #side-nav .gossip_box .jScrollPaneContainer ul#gossip li { margin: 10px 35px 0 16px; padding-right: 15px; height: 100%; }
#left-side #side-nav .gossip_box .jScrollPaneContainer ul#gossip li span { width: 100%; color: #e2001a; margin: 0px; font-style: normal; }
#left-side #side-nav .market_box { height: 205px; background-image: url(../images/system/bg/front/RMarketBG.jpg); margin-top: 14px; }
#left-side #side-nav .market_box h3 { text-align: center; width: 100%; }
#left-side #side-nav .market_box h3.download { margin: -5px 0 0 0; }
#left-side #side-nav .market_box h3.download span.title a { text-transform: capitalize; }
#left-side #side-nav ul.submenu { padding: 0px; margin: 0px; float: left; width: 170px; }
#left-side #side-nav ul.submenu li { height: 24px; width: 151px; background: url(/images/system/buttons/submenu.jpg); margin: 0 0 0px 5px; padding: 2px 0 0 10px; background-repeat: no-repeat; color: white; }
#left-side #side-nav ul.submenu li a { color: white; }
#left-side #side-nav ul.submenu li a:hover { color: black; }
#left-side #side-nav ul.submenu li.active { width: 168px; height: 24px; background: url(/images/system/buttons/submenu_selected.jpg); background-repeat: no-repeat; }
#left-side #side-nav #keep_discovering { width: 150px; height: 80px; background-image: url(/images/system/bg/front/keepdiscovering.jpg); }
#left-side #side-nav #polaroid { width: 310px; height: 100px; margin-left: -195px; }
#left-side #side-nav ul { padding-left: 5px; width: 120px; float: none; }
#left-side #side-nav ul li { list-style: none; }
#left-side #side-nav ul li a { color: black; text-decoration: none; }
#left-side #side-nav ul li a:hover { color: red; }
#left-side #side-nav ul li ul.sublevel li { list-style: disc; list-style-position: inside; }
#left-side #side-nav ol { margin: 0 24px; font-size: 10px; }
#left-side .property { margin-top: 0px; }
#left-side #title { width: 610px; height: 26px; float: left; background: url(/images/system/bg/front/long_redbar.jpg); margin-left: 2px; color: white; line-height: 22px; }
#left-side #title h5 { margin-left: 13px; text-transform: uppercase; }
#left-side #title.about { position: absolute; width: 929px; background: url(/images/system/bg/front/long_blackbar.jpg); }
#left-side .top { background-image: url(/images/system/bg/front/main_properties_top.jpg); margin-top: 0; width: 442px; position: relative; height: 15px; float: left; }
#left-side .bottom { background-image: url(/images/system/bg/front/main_properties_bottom.jpg); width: 442px; position: relative; height: 15px; float: left; }
#left-side #main.properties { width: 442px; background: url(/images/system/bg/front/main_properties.jpg); margin-left: 0px; }
#left-side #main.featured { background: black; }
#left-side #main.featured .top { background: url(/images/system/bg/front/FeaturedBlack.jpg); background-repeat: repeat-x; height: 27px; width: 440px; margin-left: 1px; }
#left-side #main.featured .bottom { background: url(/images/system/bg/front/FeaturedBlack.jpg); background-repeat: repeat-x; height: 27px; width: 440px; margin-left: 1px; margin-top: 15px; }
#left-side #main.featured p { color: #7e7e7e; }
#left-side #main.featured h1 { padding: 0px; margin: -24px 0 0 14px; float: left; }
#left-side #main.featured h1.title { color: white; }
#left-side #main.featured #property_header h1 { color: white; }
#left-side #main.featured #property_header p.address { background: url(/images/system/bg/front/FeaturedH2BG.jpg); background-repeat: no-repeat; }
#left-side #main.featured #property_header ul.facility li.number { background: transparent; }
#left-side #main.featured #property_header ul.facility li.number p { color: white; }
#left-side #main.featured #property_header ul.facility li.bed { background: url(/images/system/buttons/Facility/feature_Bed.jpg); }
#left-side #main.featured #property_header ul.facility li.bath { background: url(/images/system/buttons/Facility/feature_Shower.jpg); height: 19px; }
#left-side #main.featured #property_header ul.facility li.garage { background: url(/images/system/buttons/Facility/feature_Car.jpg); }
#left-side #main.featured #facility_list { background: url(/images/system/bg/front/FeaturedFacilitiesH.jpg); }
#left-side #main.featured #facility_list .top { background: url(/images/system/bg/front/FeaturedFacilitiesBGTop.jpg); margin: 0px; height: 8px; }
#left-side #main.featured #facility_list .bottom { background: url(/images/system/bg/front/FeaturedFacilitiesBGBottom.jpg); height: 8px; }
#left-side #services { width: 442px; background: url(/images/system/bg/front/main_properties.jpg); float: right; color: #4d4d4d; font-size: 14px; margin-top: 16px; }
#left-side #services img { margin: 5px 20px; }
#left-side #services ul { list-style: none; margin: 0 0 0 -27px; }
#left-side #services ul li { width: 413px; height: 180px; margin-bottom: 0px; }
#left-side #property_gallery { width: 621px; height: 374px; float: left; background: transparent; margin: -8px 0 22px -7px; }
#left-side #main.properties h3 { margin-left: 24px; }
#left-side #main.why { width: 442px; }
#left-side #news { width: 463px; height: 371px; background: url(/images/system/bg/front/NewsBG.jpg); float: right; margin-top: 14px; font-size: 14px; color: #4d4d4d; }
#left-side #news .jScrollPaneContainer { margin: 0px; }
#left-side #news hr { width: 409px; height: 1px; text-align: center; background-color: #e1e1e1; border: 0px none; float: left; margin-left: 16px; }
#left-side #news #blog_container { height: 275px; float: left; }
#left-side #news ol#blog { list-style-type: none; }
#left-side #news ol#blog li { background: transparent; margin: 0px; padding: 0 12px; }
#left-side #news ol#blog li hr { margin-left: 4px; }
#left-side #news ol#blog li h2 { padding: 0px 0 0 24px; margin: 0px; float: left; width: 100%; }
#left-side #news ol#blog li h2 a { text-decoration: none; }
#left-side #news ol#blog li h2 a:hover { color: #E13939; }
#left-side #news ol#blog li h6 { margin: 0px; padding: 0 0 0 24px; float: right; text-align: left; }
#left-side #news ol#blog li h6 span { color: #888888; }
#left-side #news ol#blog li p { margin: 5px 24px 0px; font-style: italic; font-family: "Georgia"; float: left; }
#left-side #main { width: 463px; background: url(/images/system/bg/front/main_width.jpg); float: left; color: #4d4d4d; overflow: auto; font-size: 14px; }
#left-side #main #comunicate { width: 136px; height: 45px; float: left; margin-left: 24px; }
#left-side #main #comunicate table { margin: 10px auto; padding: 0px; }
#left-side #main #comunicate table td { margin: 0px; padding: 0px; text-align: center; }
#left-side #main #comunicate table td a { color: white; text-decoration: none; margin: 0px; float: none; }
#left-side #main #comunicate table td a:hover { color: #E13939; }
#left-side #main #comunicate table td.chat { height: 21px; width: 56px; background: url(/images/system/buttons/FeaturedChatBtn.jpg); background-repeat: no-repeat; }
#left-side #main #comunicate table td.contact { height: 22px; width: 64px; margin-left: 15px; background: url(/images/system/buttons/FeaturedcontactBtn.jpg); }
#left-side #main #comunicate table td.spacer { width: 10px; }
#left-side #main ol.staff { list-style-type: none; }
#left-side #main ol.staff li img { float: left; margin: 15px 10px 5px 35px; }
#left-side #main ol.staff li h1 { padding-bottom: 0px; }
#left-side #main ol.staff li h2 { margin: 0px 35px; padding: 0px; font-weight: normal; }
#left-side #main ol.staff li h3 { margin: 15px 35px 0px; }
#left-side #main ol.staff li h6 { margin: 0px 35px; }
#left-side #main ol#blog { list-style-type: none; }
#left-side #main ol#blog li { background: transparent; margin: 0px; padding: 0 12px; }
#left-side #main ol#blog li hr { margin-left: 4px; }
#left-side #main ol#blog li h2 { padding: 0 0 0 24px; text-transform: capitalize; margin: 0px; }
#left-side #main ol#blog li h6 { margin: 0px; padding: 0 0 0 24px; }
#left-side #main ol#blog li h6 span { color: #888888; }
#left-side #main ol#blog li p { margin: 10px 0; padding: 0px; }
#left-side #main ol.show li h1 { padding: 15px 0 0 24px; }
#left-side #main #maylike { width: 402px; height: 85px; float: left; margin: 9px 0 0 20px; }
#left-side #main #map { width: 419px; height: 317px; float: left; background: transparent; margin: 10px 11px; }
#left-side #main .further { width: 248px; float: left; }
#left-side #main .further h3 { font-variant: normal; font-style: italic; text-transform: none; }
#left-side #main #facility_list { width: 136px; background: url(/images/system/bg/front/property_facility.jpg); float: left; margin: 3px 0 0 25px; }
#left-side #main #facility_list .top { width: 136px; height: 4px; background: url(/images/system/bg/front/property_facility_top.jpg); }
#left-side #main #facility_list .bottom { width: 136px; height: 4px; background: url(/images/system/bg/front/property_facility_bottom.jpg); }
#left-side #main #facility_list h3 { text-align: center; margin: 10px 0 0 0; }
#left-side #main #facility_list p { margin: 0 0 0 12px; }
#left-side #main #facility_list ul { margin: 10px 0 10px 12px; list-style-position: inside; padding: 0px; }
#left-side #main #facility_list ul li { font-size: 12px; }
#left-side #main #property_content { width: 248px; float: left; background: transparent; margin-left: 16px; margin-top: 3px; }
#left-side #main #property_content p { font-style: normal; font-size: 12px; margin: 0 0 0 6px; }
#left-side #main #property_header { height: 84px; background: transparent; float: left; margin-left: 16px; width: 409px; }
#left-side #main #property_header h1 { text-transform: uppercase; color: #e2001a; font-style: normal; margin: 0 0 0 6px; width: 100%; padding: 0; font-size: 16px; float: left; }
#left-side #main #property_header p { float: left; margin: 0; }
#left-side #main #property_header .code { float: right; margin: 4px 0 0 0; font-size: 11px; }
#left-side #main #property_header .address { background: url(../images/system/bg/front/main_property_address.jpg); height: 20px; width: 225px; margin: 0 0 0 0px; padding: 2px 0 0 6px; background-repeat: no-repeat; }
#left-side #main #property_header .state { width: 409px; margin: 3px 0 0 6px; font-style: normal; }
#left-side #main #property_header .state strong { text-transform: uppercase; }
#left-side #main #property_header .price { width: 159px; margin: 3px 0 0 6px; }
#left-side #main #property_header ul.facility { margin: 6px 0 0 5px; list-style: none; width: 155px; height: 17px; float: right; }
#left-side #main #property_header ul.facility li { float: left; color: white; text-align: center; }
#left-side #main #property_header ul.facility li p { margin: -2px 0 0 5px; padding: 0; }
#left-side #main #property_header ul.facility li.number { height: 16px; width: 17px; background: url(../images/system/buttons/Facility/Facilites_NumBG.jpg); margin-right: 3px; }
#left-side #main #property_header ul.facility li.bed { height: 16px; width: 24px; background: url(../images/system/buttons/Facility/Icon_Bed.jpg); margin-right: 12px; }
#left-side #main #property_header ul.facility li.bath { height: 21px; width: 22px; background: url(../images/system/buttons/Facility/Icon_Shower.jpg); margin-right: 12px; margin-top: -2px; }
#left-side #main #property_header ul.facility li.garage { height: 18px; width: 24px; background: url(../images/system/buttons/Facility/Icon_Car.jpg); margin-top: -2px; }
#left-side #main ul#view_options { width: 409px; padding: 0px; float: left; margin-top: 0px; }
#left-side #main ul#view_options li { float: left; list-style: none; text-align: center; background-repeat: no-repeat; color: white; font-size: 12px; height: 22px; line-height: 22px; margin: 5px 5px 0 0; }
#left-side #main ul#view_options li span { font-weight: bold; color: black; }
#left-side #main ul#view_options li a { color: white; margin: 0 0 0 7px; text-decoration: none; float: left; }
#left-side #main ul#view_options li a:hover { color: black; }
#left-side #main ul#view_options li a.active { color: black; }
#left-side #main ul#view_options li.buy { width: 37px; background: url(../images/system/buttons/Filters/Filter_Buy.jpg); }
#left-side #main ul#view_options li.rent { width: 41px; background: url(../images/system/buttons/Filters/Filter_Rent.jpg); }
#left-side #main ul#view_options li.mls { width: 42px; background: url(../images/system/buttons/Filters/Filter_MLS.jpg); }
#left-side #main ul#view_options li.date { width: 54px; background: url(../images/system/buttons/Filters/Filter_Date.jpg); }
#left-side #main ul#view_options li.price { width: 56px; background: url(../images/system/buttons/Filters/Filter_Price.jpg); }
#left-side #main ul#view_options li.first { width: 60px; margin-right: 15px; line-height: 14px; margin-top: 0; text-transform: uppercase; }
#left-side #main #result_info { width: 409px; height: 74px; float: left; margin-left: 16px; }
#left-side #main #result_info h5 { margin-top: 48px; width: 100%; color: red; font-style: italic; }
#left-side #main #result_info h5 span.left { float: left; }
#left-side #main #result_info h5 span.right { float: right; }
#left-side #main #result_info .pagination { width: 135px; margin-right: 0px; float: right; }
#left-side #main #result_info .pagination span { float: left; margin: 0 1px; }
#left-side #main #result_info .pagination a { float: left; margin: 0 1px; }
#left-side #main .property { height: 107px; width: 426px; float: left; margin-left: 5px; background: transparent; }
#left-side #main .property .image { height: 90px; width: 120px; float: left; margin: 9px; background: transparent; }
#left-side #main .property .text { margin: 0px; width: 282px; height: 21px; float: left; margin-bottom: 1px; }
#left-side #main .property .text p { margin-left: 5px; font-style: normal; }
#left-side #main .property .title { margin-top: 9px; text-transform: uppercase; }
#left-side #main .property .address { background: url(../images/system/bg/front/Prop_Top_BG.jpg); height: 20px; }
#left-side #main .property .address p { font-style: italic; margin-top: 2px; }
#left-side #main .property .extra { background: url(../images/system/bg/front/Prop_Bot_BG.jpg); height: 29px; }
#left-side #main .property .extra ul.facility { margin: 6px 0 0 5px; padding: 0px; list-style: none; width: 282px; height: 29px; }
#left-side #main .property .extra ul.facility li { float: left; color: white; text-align: center; }
#left-side #main .property .extra ul.facility li p { margin: -2px 0 0 0; padding: 0; }
#left-side #main .property .extra ul.facility li.number { height: 16px; width: 17px; background: url(../images/system/buttons/Facility/Facilites_NumBG.jpg); margin-right: 3px; }
#left-side #main .property .extra ul.facility li.bed { height: 16px; width: 24px; background: url(../images/system/buttons/Facility/Facilities_Bed.jpg); margin-right: 12px; }
#left-side #main .property .extra ul.facility li.bath { height: 20px; width: 22px; background: url(../images/system/buttons/Facility/Facilities_Shower.jpg); margin-right: 12px; margin-top: -2px; }
#left-side #main .property .extra ul.facility li.garage { height: 20px; width: 22px; background: url(../images/system/buttons/Facility/Facilities_Garage.jpg); margin-right: 12px; margin-top: -2px; }
#left-side #main .property .extra ul.facility li.viewproperty { height: 16px; width: 84px; background: url(../images/system/buttons/viewproperty.jpg); margin-left: 17px; text-align: center; }
#left-side #main .property .extra ul.facility li.viewproperty a { font-size: 10px; color: red; float: left; margin: 1px 0 0 8px; font-variant: small-caps; text-decoration: none; }
#left-side #main .property .price { height: 18px; }
#left-side #main .property .price p { margin: 0 0 0 5px; }
#left-side #main .featured { background: url(../images/system/bg/front/ListingFeaturedBG.jpg); background-repeat: no-repeat; height: 114px; width: 430px; }
#left-side #main .featured .title { margin-top: 11px; }
#left-side #main .featured .image { margin: 16px 7px 0 13px; }
#left-side #main .featured .address { background: transparent; }
#left-side #main .featured .extra { background: transparent; }
#left-side #main .featured .extra ul.facility li.number { background: transparent; }
#left-side #main .featured .extra ul.facility li.number p { margin: 0 0 0 6px; }
#left-side #main .featured .extra ul.facility li.bed { background: transparent; }
#left-side #main .featured .extra ul.facility li.bath { background: transparent; }
#left-side #main .featured .extra ul.facility li.garage { background: transparent; }
#left-side #main .featured .ribbon { background: url(../images/system/bg/front/FeaturedRibbon.gif); background-repeat: no-repeat; height: 62px; width: 62px; position: absolute; margin: 0px 0 0 -1px; }
#left-side #main .testing { background: url(../images/system/bg/front/featBG.jpg); }
#left-side #main hr { width: 409px; height: 1px; text-align: center; background-color: #e1e1e1; border: 0px none; float: left; margin-left: 16px; }
#left-side #main h3 { margin: 13px 0 0 34px; }
#left-side #main h4 { margin: 10px 0 5px 34px; text-transform: capitalize; }
#left-side #main #main_top { background-image: url(../images/system/bg/front/main_top.jpg); margin-top: 0; }
#left-side #main #main_bottom { background-image: url(../images/system/bg/front/main_bottom.jpg); float: left; margin-top: 24px; }
#left-side #main .main_border { height: 8px; width: 463px; position: relative; }
#left-side #main #main_top.other { background-image: url(../images/system/bg/front/main_properties_top.jpg); width: 442px; margin-top: 0; height: 15px; }
#left-side #main #main_bottom.other { background-image: url(../images/system/bg/front/main_properties_bottom.jpg); width: 442px; float: left; margin-top: 33px; height: 15px; }
#left-side #main .properties { width: 442px; }
#left-side #main p { margin: 5px 35px; font-style: italic; font-family: "Georgia"; }
#left-side #main p.main_links { text-align: left; }
#left-side #main p.main_links a { float: none; margin: 0px; }
#left-side #main ul { margin: 5px 30px; padding-left: 20px; font-style: italic; }
#left-side #main ul.toggle_li { font-style: italic; }
#left-side #main ul.toggle_li li { margin: 20px 0; }
#left-side #main table { margin: 25px; }
#left-side #main a { float: right; margin-bottom: 0px; margin-right: 50px; color: red; }
#left-side #main div.toggle { overflow: hidden; margin-top: 15px; }
#left-side .header_w_image { float: left; text-align: center; width: 162px; margin-left: 0px; height: 35px; }
#left-side .header_w_image img { float: left; margin: 3px 0 0 15px; }
#left-side .header_w_image h3 { float: left; padding: 0px 0 0 0px; margin: 0px; }
#left-side .header_w_image .services { text-align: left; padding: 0px; }
