#right-column.home { margin-left: 16px; }

#right-column { width: 304px; float: left; margin-left: 16px; }
#right-column .top { width: 304px; height: 15px; background: url(../images/system/bg/front/right_tool_top.jpg); }
#right-column .bottom { width: 304px; height: 15px; background: url(../images/system/bg/front/right_tool_bottom.jpg); position: relative; float: left; }
#right-column h3 { margin-left: 24px; }
#right-column #searchbox.advanced { height: 351px; width: 304px; background: url(../images/system/bg/front/right_tool.jpg); background-repeat: repeat-y; }
#right-column #searchbox.advanced div { float: left; }
#right-column #searchbox.advanced div h3 { margin-left: 24px; }
#right-column #searchbox.about { margin-bottom: 15px; }
#right-column #faq { background: url(../images/system/bg/front/right_tool.jpg); background-repeat: repeat-y; float: left; margin-top: 15px; }
#right-column #faq h3 { margin-top: 25px; }
#right-column #faq #faq_block { height: 290px; width: 269px; }
#right-column #faq #faq_block p { font-style: normal; font-family: "Georgia"; font-size: 12px; color: #6b6b6b; padding-right: 25px; }
#right-column #faq #faq_block p span { color: #E13939; width: 100%; float: left; font-style: italic; }
#right-column #faq.seller { width: 304px; height: 362px; background: url(../images/system/bg/front/buyersBg.jpg); }
#right-column #extra.home { margin-top: 30px; }
#right-column #extra.home_extra { margin-top: 8px; }
#right-column #extra { width: 174px; background: url(../images/system/bg/front/right_small1.jpg); float: left; margin-top: 15px; }
#right-column #extra img { margin: 0px 0 0 24px; }
#right-column #extra img.share { margin: 12px 0 0 24px; }
#right-column #extra .top { width: 174px; height: 15px; background: url(../images/system/bg/front/right_small1_top.jpg); }
#right-column #extra .bottom { width: 174px; height: 15px; background: url(../images/system/bg/front/right_small1_bottom.jpg); position: relative; float: left; }
#right-column #extra h3 { margin-bottom: 8px; }
#right-column #chatlive { width: 174px; height: 41px; float: left; background: url(../images/system/bg/front/ChatBG.jpg); margin-top: 12px; }
#right-column #chatlive h3 { margin-left: 51px; margin-top: 10px; }
#right-column #small { width: 117px; height: 161px; float: left; background: url(../images/system/bg/front/right_small2.jpg); margin: 15px 0 0 13px; }
#right-column #small h3 { margin: 14px 0 0 13px; }
#right-column #small ul { font-size: 14px; margin: 10px 0 0 28px; }
#right-column #small ul li { line-height: 24px; color: #4D4D4D; font-style: italic; }
#right-column #small2 { width: 122px; height: 125px; float: left; background: url(../images/system/bg/front/ListBG.jpg); margin: 12px 8px 0 0px; text-decoration: none; }
#right-column #small2 h3 { margin: 8px 0 0 13px; text-decoration: none; }
#right-column #small2 ul { font-size: 12px; margin: 3px 0 0 28px; }
#right-column #small2 ul li { line-height: 17px; color: #4D4D4D; font-style: italic; margin-top: 5px; }
#right-column #small2 ul span { float: left; margin-left: 9px; }
#right-column #small2 ul span a { color: #4D4D4D; text-decoration: none; }
#right-column #small2 ul span a:hover { color: #E13939; }
#right-column #small2 ul img { float: left; }
#right-column #small2 ul li.segundo img { margin-top: 10px; }
#right-column #small2 ul li.segundo span { margin-top: 10px; }
#right-column #searchbox { height: 245px; width: 266px; background-color: transparent; float: left; }
#right-column #searchbox h3 { margin-left: 0px; }
#right-column #searchbox #bottom_b { position: absolute; height: 2px; width: 266px; background-image: url(../images/system/form/home_separator.jpg); margin-top: 232px; }
#right-column #searchbox #bottom_b2 { position: relative; height: 2px; width: 266px; background-image: url(../images/system/form/home_separator.jpg); float: left; margin-top: 0px; }
#right-column #searchbox #eanvvip { margin-top: 20px; margin-left: -27px; }
#right-column #searchbox form { font-family: "Georgia"; }
#right-column #searchbox form#QuickQuery p { margin-bottom: 0px; }
#right-column #searchbox form#QuickQuery p input#search_query_query { padding: 6px 0 0 12px; border: 0px; width: 223px; height: 21px; background-image: url(../images/system/form/search_input.jpg); background-repeat: no-repeat; float: left; padding-right: 0px; line-height: 25px; font-family: "Georgia"; font-size: 12px; color: #888888; }
#right-column #searchbox form#QuickQuery p.advanced { margin-left: 24px; }
#right-column #searchbox form#Selectable div { float: right; margin-top: 16px; color: #888888; }
#right-column #searchbox form#Selectable div p { margin: 0px; padding: 0px; height: 30px; width: 198px; font-family: "Georgia"; font-size: 12px; }
#right-column #searchbox form#Selectable div p input.formularios { padding: 6px 0 0 6px; border: 0px; width: 168px; height: 20px; background-repeat: no-repeat; font-family: "Georgia"; font-size: 12px; color: #6b6b6b; }
#right-column #searchbox form#Selectable div p input.idle { background-image: url(/images/system/form/dropdown.jpg); }
#right-column #searchbox form#Selectable div p input.onfocus { background-image: url(/images/system/form/search_input_down.jpg); }
#right-column #searchbox form#Selectable div p input.text_input { padding: 6px 0 0 6px; border: 0px; width: 192px; height: 20px; margin-top: 6px; background-image: url(/images/system/form/advanced_search_input.jpg); background-repeat: no-repeat; float: left; padding-right: 0px; line-height: 25px; }
#right-column #searchbox form#Selectable div p input.short { width: 64px; height: 29px; background-image: url(/images/system/form/Zip.jpg); padding-left: 10px; padding-right: 8px; background-repeat: no-repeat; }
#right-column #searchbox form#Selectable div p span.select { width: 184px; height: 13px; overflow: hidden; background: white; position: absolute; padding: 5px; background-image: url(/images/system/form/dropB.jpg); margin: 0px; }
#right-column #searchbox form#Selectable div p span.zip { float: left; margin: 12px 4px 0 0; }
#right-column #searchbox form#Selectable div p select.styled { width: 197px; }
#right-column #searchbox form#Selectable div.titles { margin-top: 22px; color: #838383; }
#right-column #searchbox form#Selectable div.titles p { width: 68px; font-size: 80%; font-variant: small-caps; }
#right-column #schools { width: 304px; float: left; margin: 0px 0 0 0px; background: url(/images/system/bg/front/right_tool.jpg); }
#right-column #schools hr { width: 280px; float: left; border: 0px none; background: #E1E1E1; margin-left: 12px; }
#right-column #schools h3 { margin-left: 24px; }
#right-column #schools .top { width: 304px; height: 15px; background: url(/images/system/bg/front/right_tool_top.jpg); }
#right-column #schools .bottom { width: 304px; height: 15px; background: url(/images/system/bg/front/right_tool_bottom.jpg); position: relative; float: left; }
#right-column #schools ul { margin: 0 0 0 24px; float: left; }
#right-column #schools ul li.title { color: black; font-size: 12px; font-style: italic; }
#right-column #schools ul li.title span { text-transform: uppercase; font-style: normal; }
#right-column #schools ul.school li { list-style: none; float: left; margin-right: 0px; }
#right-column #schools ul.school li.distance { color: #e13939; width: 90px; }
#right-column #schools ul.school li.title { color: #7e7e7e; font-weight: bold; font-style: normal; width: 120px; }
#right-column #schools ul.school li.title i { font-weight: normal; }
#right-column #schools ul.school li.map { width: 45px; height: 21px; background-image: url(/images/system/buttons/schoolsmap.jpg); color: white; font-size: 12px; line-height: 21px; }
#right-column #schools ul.school li.map span { margin: 0 0 0 8px; text-transform: uppercase; }
#right-column #eanvvip { width: 302px; height: 159px; background: url(/images/system/bg/front/ev_vip_bg.jpg); float: left; margin: 14px 0px 14px 0px; }
#right-column #eanvvip p { margin: 50px; color: white; text-align: center; font-size: 14px; line-height: 18px; font-style: italic; }
#right-column #marketreport { background: url(/images/system/bg/front/ggmag.jpg); background-repeat: repeat-y; float: left; margin-top: 15px; width: 304px; height: 309px; }
#right-column #marketreport p { margin: 15px 80px; float: left; text-align: center; }
#right-column #marketreport p a { color: #E13939; text-decoration: none; }
#right-column #marketreport p a:hover { color: black; }
#right-column #marketreport .header_w_image { width: 200px; margin-left: 70px; margin-top: 12px; }
#right-column #marketreport .header_w_image h3 { float: left; padding-top: 5px; }
#right-column #marketreport p.text { width: 250px; float: left; margin: 0 25px; font-style: italic; font-size: 12px; }
#right-column .partners { margin-top: 14px; float: left; }
#right-column .partners h3 { margin-left: 0px; }
#right-column .partners h5 { color: #e2001a; margin: 0 5px 7px 5px; text-align: center; }
#right-column .header_w_image { float: left; text-align: center; width: 174px; margin-left: 0px; height: 35px; }
#right-column .header_w_image img { float: left; margin: 0px; }
#right-column .header_w_image h3 { float: left; padding: 6px 0 0 0px; margin: 0px; }
#right-column .header_w_image h3 a { color: #E13939; text-decoration: none; }
#right-column .header_w_image h3 a:hover { color: #888888; }
