/* 
 * vim: noexpandtab
 */
img.ui-combobox-arrow {
	position: relative;
	vertical-align: text-bottom;
	top: 5px;
	height: 27px;
}

* html img.ui-combobox-arrow {
	top: 0px;
}

.ui-combobox-list {
border: 1px solid #e2001a;
border-top: 0px none;
	z-index: 780;
	margin-left: 2px;
	margin-top:3px;


}

.ui-combobox-list, .ui-combobox-item {
	display: block;
	font-family: "Georgia";
border-right: 1px solid #e2001a;
	background-image: url(../images/system/form/dropdown.jpg);
	line-height: 24px;
	width:171px;
}

.ui-combobox-list .selected {
	background-color: #eeeeff;

	font-weight: bold;
}
