
<script type="text/javascript">
		var flashvars = {};
		flashvars.xml = "/properties/3/images.xml";
		flashvars.font = "font.swf";
		var attributes = {};
		attributes.wmode = "transparent";
		attributes.id = "gcontainer";
		swfobject.embedSWF("http://s3.amazonaws.com/eandv-development/swf/relative.swf", "gcontainer", "621", "374", "9", "/swf/expressInstall.swf", flashvars, attributes);
</script>

<div id="property_gallery">
<div id="gcontainer"></div>
</div>
