<script type="text/javascript">
		var flashvars = {};
		flashvars.galleryxml = "/properties/<%= @property.id %>/images.xml";
		flashvars.font = "font.swf";
		var attributes = {};
		attributes.wmode = "transparent";
		attributes.id = "gcontainer";
		swfobject.embedSWF("http://s3.amazonaws.com/eandv-development/swf/Final2.swf", "gcontainer", "627", "382", "9", "/swf/expressInstall.swf", flashvars, attributes);
</script>

<div id="property_gallery" class="<%= 'featured' if @property.featured %>">
	<div id="gcontainer"></div>
</div>
