
<script type="text/javascript">
		var flashvars = {};
		flashvars.xml = "/properties/3/images.xml";
		flashvars.font = "font.swf";
		var attributes = {};
		attributes.wmode = "transparent";
		attributes.id = "slider";
		swfobject.embedSWF("https://eandv-development.s3.amazonaws.com/swf/relative.swf?AWSAccessKeyId=AKIAI7DG2I3UGHEC6FKA&Expires=1259171019&Signature=jYwVwptFcMH9qC8SnnW2a%2FJGVXY%3D", "gcontainer", "627", "382", "9", "/swf/expressInstall.swf", flashvars, attributes);
</script>

<div id="property_gallery">
<div id="gcontainer"></div>
</div>
