
<script type="text/javascript">
	/*	var flashvars = {};
		flashvars.xml = "/feeds/static/image.xml";
		flashvars.font = "font.swf";
		var attributes = {};
		attributes.wmode = "transparent";
		attributes.id = "slider";
		swfobject.embedSWF("/swf/gallery.swf", "pcontainer", "621", "374", "9", "/swf/expressInstall.swf", flashvars, attributes);*/
</script>


<div id="property_gallery">

</div>
