
<script type="text/javascript">
		var flashvars = {};
		flashvars.xml = "/properties/3/images.xml";
		flashvars.font = "font.swf";
		var attributes = {};
		attributes.wmode = "transparent";
		attributes.id = "slider";
		swfobject.embedSWF("/swf/gallery.swf", "gcontainer", "627", "382", "9", "/swf/expressInstall.swf", flashvars, attributes);
</script>

<div id="property_gallery">
<div id="gcontainer"></div>
</div>
