<script type="text/javascript">
		var flashvars = {};
		flashvars.similarXml = "/properties/<%= @property.id%>/similar.xml";
		flashvars.font = "font.swf";
		var attributes = {};
		attributes.wmode = "transparent";
		attributes.id = "maylike";
		var params = {}
		params.allowscriptaccess = "always";
		swfobject.embedSWF("http://s3.amazonaws.com/eandv-development/swf/similar.swf", "maylike", "402", "85", "9", "/swf/expressInstall.swf", flashvars,params, attributes);
 </script>

<div>
	<div id="maylike"></div>
</div>
