<div style="position:absolute;margin-left:0px;width:300px;height:60px;background:white;"><h1 class="title" style="padding-left:17px">SocalMlS<span> - <a href="/properties">properties</a></span></h1></div>

<iframe src="http://www.searchpoint.net/Search/MapSearch.aspx?org_id=CARETS&agent_public_id=U12261_socal&sponsor_office_id=U6346_socal&mapsearch=1" width="940" height ="1200" style="overflow-y: hidden;margin-left:17px" id="mls_feed">

</iframe>

<% content_for :script do %>
<script type="text/javascript">
$(document).ready(function() {
	$('#atffc').remove();
	set_nav_pointer("properties");
	
	
});

</script>
<% end %>
