<h3><span class="title">Advanced Search</span> <strong>&nbsp;|&nbsp;</strong><span class="inactive"> <a href="#">Mls</a> </span></h3>
<form id="QuickQuery"  action="#" method="get" accept-charset="utf-8">
	<p class="advanced">
		<input type="text" id="QuickQuery"><input type="image" src="/images/system/form/search-button.jpg" style="margin-left:10px;margin-top:-2px">
	</p	>
</form>
<form id="Selectable" action="#" method="get" accept-charset="utf-8">
	<div class="advanced">
		<p>
			<select class="droppies" name="countries" id="countries">
				<option value="U.S.A">Option One</option>
				<option value="Two">Option Two</option>
				<option value="Three">Option Three</option>
				<option value="Four">Option Four</option>
			</select>
		</p	>
		<p>
			<select class="droppies" name="states" id="states">
				<option value="California">Option One</option>
				<option value="Two">Option Two</option>
				<option value="Three">Option Three</option>
				<option value="Four">Option Four</option>
			</select>
		</p	>
		<p>
			<select class="droppies" name="region" id="region">
				<option value="Los Angeles - Orange County">Option One</option>
				<option value="Two">Option Two</option>
				<option value="Three">Option Three</option>
				<option value="Four">Option Four</option>
			</select>
		</p	>
		<p>
			<select class="droppies" name="area" id="area">
				<option value="All">Option One</option>
				<option value="Two">Option Two</option>
				<option value="Three">Option Three</option>
				<option value="Four">Option Four</option>
			</select>
		</p	>
		<p>
			<select class="droppies" name="buy_rent" id="buy_rent">
				<option value="All">Option One</option>
				<option value="Two">Option Two</option>
				<option value="Three">Option Three</option>
				<option value="Four">Option Four</option>
			</select>
		</p	>
		<p>
			<select class="droppies" name="price" id="price">
				<option value="All">Option One</option>
				<option value="Two">Option Two</option>
				<option value="Three">Option Three</option>
				<option value="Four">Option Four</option>
			</select>
		</p	>
		<p>
			<select class="droppies" name="bedrooms" id="bedrooms">
				<option value="All">Option One</option>
				<option value="Two">Option Two</option>
				<option value="Three">Option Three</option>
				<option value="Four">Option Four</option>
			</select>
		</p	>
		<p>	<input type="text" class="text_input short" id="mls"> <span class="zip">Zip</span><input type="text" class="text_input short" id="mls"> </p>
		

		<p style="text-align:right;padding-top:6px"><input type="image" src="/images/system/buttons/SearchButtonBig.jpg" style="margin-left:10px;margin-top:3px; float:right"></p>
	</div>
	<div class="titles">
		<p>Country</p>
		<p>State</p>
		<p>Region</p>
		<p>Area</p>
		<p>Buy/rent</p>
		<p>Price</p>
		<p>Bedrooms</p>
		<p>MLS #</p>

	</div>
 	
</form>