<div class="left_tool shorter toolset">
	<div class="top"></div>
	<h3><span class="title">Advice</span></h3>
	<ul>
		<li><%= image_tag "system/buttons/tools/MortgageAdvice.jpg"%> <span><a href="/contact"">Mortgage <br /> advice</a></span></li>
		<li><%= image_tag "system/buttons/tools/LegalAdvice.jpg"%> <span><a href="/contact">Legal<br /> advice</a></span> </li>
		<li><%= image_tag "system/buttons/tools/AfterSales.jpg"%> <span><a href="/contact"">Relocation<br /> advice</a></span></li>
	</ul>
	<div class="bottom"></div>
</div>


