<h3><span class="title">Advanced Search</span> <strong>&nbsp;|&nbsp;</strong><span class="inactive"> <a href="#">Mls</a> </span></h3>

<%= render :partial=>"shared/search/quickquery" %>
<%= render :partial=>"shared/search/advancedselectable" %>

