<ul id="nav">
    <li><a href="#">Overview</a></li>
    <li>
        <a href="#">Main Content</a>
        <ul class="subnav">
            <li><a href="#">Pages</a></li>
            <li><a href="#">Services</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Properties</a>
        <ul class="subnav">
            <li><a href="#">Countries / locations</a></li>
            <li><a href="#">Facilities</a></li>
            <li><a href="#">Properties</a></li>
            <li><a href="#">Types</a></li>
        </ul>
    </li>
    <li>
        <a href="#">Secondary</a>
        <ul class="subnav">
            <li><a href="#">Staff</a></li>
            <li><a href="#">Job Openings</a></li>
            <li><a href="#">Blog moderator</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Gossip</a></li>
        </ul>
    </li>
    <li><a href="#">Users</a></li>
    <li><a href="#">Metatags</a></li>
</ul>
