<div id='eanvvip' style="margin-top:14px">
	<p style="margin-top:40px;">Join and receive updates on properties when they are fresh, up to date property market.<br/>	<%= link_to image_tag("system/buttons/joinnow.jpg", :style=> "margin-top:17px"),"/vip?iframe=true&width=570&height=600" ,:rel=>"prettyPhoto" %></p>
</div>
