<ul id="links">
	<li class="first"><h4><%= image_tag "system/buttons/phone.jpg", :class=>"button" %> +1 949 673 3444</h4></li>
	<li><h4><a href="/contact?iframe=true&width=560&height=600" rel="prettyPhoto">Office Locations</a></h4></li>
	<li><h4><a href="#">Sitemap</a></h4></li>
	<li><h6><a href="http://www.engelvoelkers.com/com/index.php">www.engel&vöelkers.com</a></h6></li>
	<li><h4><%= image_tag "system/buttons/Chat.png", :class=>"button" %>
		<a onclick="window.open('/plugoo','meebome','width=200,height=285');" href="#">
		Chat </a></h4></li>
	<li><h4><a href="#">Print</a></h4></li>
	<li><h4><a href="/contact?iframe=true&width=560&height=560" rel="prettyPhoto">Disclaimer</a></h4></li>
	<li><%= image_tag "system/buttons/EandV.jpg", :class=>"eandv" %></li>	
</ul>
