<ul id="links">
	<li class="first"><h4><%= image_tag "system/buttons/phone.jpg", :class=>"button" %> +1 949 673 3444</h4></li>
	<li><h4><a href="/contact?iframe=true&width=560&height=600" rel="prettyPhoto">Office Locations</a></h4></li>
	<li><h4><a href="#">Sitemap</a></h4></li>
	<li><h6><a href="http://www.engelvoelkers.com/com/index.php">www.engel&vöelkers.com</a></h6></li>
	<li><h4><%= image_tag "system/buttons/Chat.png", :class=>"button" %>
<!-- BEGIN Comm100 Live Chat Email/BBS Button Code --><div><div style="z-index:99;position:absolute;visibility:hidden;"><a href="http://www.comm100.com">customer service software technical support</a></div><a href="http://chatserver.comm100.com/ChatWindow.aspx?siteId=25828&planId=368&visitType=1&byHref=1" target="_blank"><img id="comm100_EmailImage" src="http://chatserver.comm100.com/BBS.aspx?siteId=25828&planId=368" border="0px" alt="Live Chat" /></a><div style="z-index:99;visibility:hidden;"><span style="font-size:10px; font-family:Arial, Helvetica, sans-serif;"><a href="http://www.comm100.com/livechat/" style="text-decoration:none;color:#000000;" target="_blank"><b>Live Chat</b></a> by <a href="http://www.comm100.com" style="text-decoration:none;color:#009999;" target="_blank">Comm100</a></span></div></div><!-- END Comm100 Live Chat Email/BBS Button Code -->
		</h4></li>
	<li><h4><a href="#">Print</a></h4></li>
	<li><h4><a href="/contact?iframe=true&width=560&height=560" rel="prettyPhoto">Disclaimer</a></h4></li>
	<li><%= image_tag "system/buttons/EandV.jpg", :class=>"eandv" %></li>	
</ul>
