<ul id="links">
	<li class="first"><h4><%= image_tag "system/buttons/phone.jpg", :class=>"button" %> +1 949 257 7277</h4></li>
	<li><h4><a href="/images/slide_1.jpg" rel="prettyPhoto">Office Locations</a></h4></li>
	<li><h4><a href="#">Sitemap</a></h4></li>
	<li><h6><a href="http://www.engelvoelkers.com/com/index.php">www.engel&vöelkers.com</a></h6></li>
	<li><h4><a href="#"><%= image_tag "system/buttons/Chat.png", :class=>"button" %><h4><a href="#">Chat </a></h4></li>
	<li><h4><a href="#">Print</a></h4></li>
	<li><h4><a href="#">Disclaimer</a></h4></li>
	<li><%= image_tag "system/buttons/EandV.jpg", :class=>"eandv" %></li>	
</ul>
