<div id="marketreport">
	<div class="header_w_image" >
	
		<h3 style="text-align:left;width:100%;margin: 0px">	<img src="/images/system/buttons/MagIcon.jpg" width="33" height="20" alt="MagIcon" style="margin-right: 10px"><span class="title">E&V Magazine</span></h3>
	</div>	
	<p class="link">
		<img src="/images/system/bg/front/GGMag.jpg" width="137" height="201" alt="Market Report" class="mr">
		<a href="#">Download</a>
	</p>
	
</div>
