<div id="marketreport">
	
	<p class="link">
		<img src="/images/system/bg/front/GGMag.jpg" width="137" height="201" alt="Market Report" class="mr">
	</p>
	<p  class="text" >For more than a decade our lifestyle and architecture magazine</p>
</div>
