<div id="marketreport">
	
	<p class="link">
	<a href="/lepricaun?iframe=true&width=600&height=310" rel="prettyPhoto" >	<img src="/images/system/bg/front/GGMag.jpg" width="137" height="201" alt="Market Report" class="mr"></a>
	</p>
	<p  class="text" >GG- Discover the Global Guide magazine.<br> Engel & Voelkers view on global<br> LIFESTYLE - PERSONALITIES <br> REAL ESTATE.<br> Spring edition OUT NOW
</p>
</div>
