
<div id="small2">
	<h3><span class="title">Links</span></h3>

<ul>
		<li><%= image_tag "system/buttons/tools/MortgageAdvice.jpg"%> <span><a href="/contact?iframe=true&width=560&height=600" rel="prettyPhoto[advice]">Mortgage <br /> advice</a></span></li>
		<li class="segundo"><%= image_tag "system/buttons/tools/LegalAdvice.jpg"%> <span><a href="/contact?iframe=true&width=560&height=600" rel="prettyPhoto[advice]">Legal<br /> advice</a></span> </li>
	</ul>
</div>

<div id="chatlive">
	<h3 ><span class="title"><a onclick="window.open('/plugoo','meebome','width=200,height=285');" href="#">
		Chat LIVE now </a></span></h3>
	
</div>
<div id="extra" class="home_extra">
	<div class="top"></div>
	<h3><span class="title">Share</span></h3>
	<!-- AddThis Button BEGIN -->
	<a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;pub=xa-4b13fa8441b34368"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pub=xa-4b13fa8441b34368"></script>
	<!-- AddThis Button END -->

	<div class="bottom"></div>
</div>
