
<% unless @subpages.empty? %>
<ul>
	<% for page in @subpages %>
		<li><%= link_to page.navlabel, view_page_path(page.name)%></li>
	<% end %>
</ul>
<% end %>
<%# image_tag "static/gallery.png", :style => "margin:15px 15px 5px" %>

<% if @subpages.empty? %>
<!--<ul id="gallerylinks">
	<%# render :partial => "shared/gallerylinks" %>
</ul>-->

<div id="leftswfcontainer" style="float:left;height:196px">
<%= render :partial =>"shared/keepdiscovering" %>

<%= render :partial=>"shared/polaroid"%>
</div>
<%= link_to (image_tag "system/buttons/sellyourproperty.jpg",:style => "margin-top:8px;"), '/contact?iframe=true&width=560&height=600',:rel=>"prettyPhoto" %>

<% end %>
<hr />

