

<div id='eanvvip' style="margin-top:14px;margin-bottom:14px">
	<p>Join and receive updates on properties when they are fresh, up to date property market.<br/>	<%= link_to image_tag("system/buttons/joinnow.jpg", :style=> "margin-top:7px"),"/contact?iframe=true&width=560&height=600" ,:rel=>"prettyPhoto" %></p>
</div>

<script type="text/javascript">
		var flashvars = {};
		flashvars.topXml = "/partners.xml";
		//flashvars.font = "/swf/font.swf";
		var attributes = {};
		attributes.wmode = "transparent";
		attributes.id = "top5";
		swfobject.embedSWF("http://s3.amazonaws.com/eandv-development/swf/top5.swf", "top5", "302", "179", "9", "/swf/expressInstall.swf", flashvars, attributes);
 </script>

<div>
	<div id="top5"></div>
</div>
