


<div id="chatlive">
	<h3 ><span class="title"><a onclick="window.open('/plugoo','meebome','width=200,height=285');" href="#">
		Chat LIVE now </a></span></h3>
	
</div>
<div id="extra" class="home_extra"  style="margin-bottom:15px">
	<div class="top"></div>
	<h3><span class="title">Share</span></h3>
	<!-- AddThis Button BEGIN -->
	<a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;pub=xa-4b13fa8441b34368"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pub=xa-4b13fa8441b34368"></script>
	<!-- AddThis Button END -->

	<div class="bottom"></div>
</div>

<script type="text/javascript">
		var flashvars = {};
		flashvars.topXml = "/partners.xml";
		//flashvars.font = "/swf/font.swf";
		var attributes = {};
		attributes.wmode = "transparent";
		attributes.id = "top5";
		swfobject.embedSWF("http://s3.amazonaws.com/eandv-development/swf/top5.swf", "top5", "302", "179", "9", "/swf/expressInstall.swf", flashvars, attributes);
 </script>

<div>
	<div id="top5"></div>
</div>
