
<script type="text/javascript">
		var flashvars = {};
	//	flashvars.stackXml = "/about.xml";
		flashvars.font = "font.swf";
		var attributes = {};
		attributes.wmode = "transparent";
		attributes.id = "keepdiscovering";
		var params = {}
		params.allowscriptaccess = "always";

	//	swfobject.embedSWF("http://s3.amazonaws.com/eandv-development/swf/polaroids.swf", "keepdiscovering", "350", "110", "9", "/swf/expressInstall.swf", flashvars, params,attributes);
</script>


<div>
	<div id="keepdiscovering"><%= image_tag "system/buttons/keepdiscovering.jpg", :height=>"80", :width =>"150" %></div>
</div>



