<div id="holder">
	<div id="cuber">
		<div id="listOfImages" class="spacegallery">
		   <%= image_tag "static/slide_1.jpg",:class => 'slide' %>
		   <%= image_tag "static/slide_2.jpg",:class => 'slide' %>
		   <%= image_tag "static/slide_3.jpg",:class => 'slide' %>
		</div>
	</div>
</div>
