<div id="holder">
	<div id="cuber">
		<ul id="listOfImages">
			<li><%= image_tag "static/slide_1.jpg"%></li>
			<li><%= image_tag "static/slide_2.jpg"%></li>
			<li><%= image_tag "static/slide_3.jpg"%></li>
		</ul>
	</div>
</div>
