
<% unless @subpages.empty? %>
<hr />
<ul class="submenu">
	<% for page in @subpages %>
		<li class="<% if @page.name == page.name %>active<% end %>"><%= link_to page.navlabel, view_page_parent_path(@parent.name,page.name)%></li>
	<% end %>
</ul>
<hr />
<% end %>

<%= image_tag "system/buttons/keepdiscovering.jpg", :height=>"80", :width =>"150" %>
<% unless @page.name == "about" || params[:parent] == "about" %>
<%= render :partial=>"shared/polaroid"%>
<% end %>
<%= image_tag "system/buttons/sellyourproperty.jpg",:style => "margin-top:20px;" %>
<hr />
<% if @page.name == "why" %>
<div class="left_tool relocating">
	<div class="top"></div>
	<div class="header_w_image">
		<img src="/images/system/buttons/truck.jpg" width="50" height="35" alt="House">
		<h3>Relocating?</h3>
	</div>
	<div class="bottom"></div>
</div>
<% end %>	