<div id="column_container">

	<ul class="columns first">
		<li><h5>Local Real Estate</h5></li>
		<li>Newport Beach</li>
		<li>Newport Coast</li>
		<li>Laguna Beach</li>
		<li>Crystal Cove</li>
		<li>Corona del mar</li>
		<li>Back Bay</li>
		<li>Cannery Village</li>
		<li>Mariner's Village</li>
		<li>Balboa & Islands</li>
		<li>Balboa Peninsula</li>
		<li>Fashion Island</li>
		<li>Airport District</li>
		<li>Huntington Beach</li>
		<li>Newport Coast</li>
		<li>San Clemente</li>
		<li>&nbsp;</li>
	</ul>
	<ul class="columns">
		<li><h5>Regional Real Estate</h5></li>
		<li>Los Angeles</li>
		<li>San Diego</li>
		<li>San Francisco</li>
		<li>San Jose</li>
		<li>Sacramento</li>
		<li>Berkely</li>
		<li>&nbsp;</li>
	</ul>
	<ul class="columns">
		<li><h5>National Real Estate</h5></li>
		<li>Washington</li>
		<li>San Antonio</li>
		<li>Seattle</li>
		<li>las Vegas</li>
		<li>Houston</li>
		<li>Dallas</li>
		<li>Jacksonville</li>
		<li>Indianapolis</li>
		<li>Boston</li>
		<li>Denver</li>
		<li>Atlanta</li>
		<li>Colorado Springs</li>
		<li>&nbsp;</li>
	</ul>	
	<ul class="columns">
		<li><h5>International Real Estate</h5></li>
		<li>USA</li>
		<li>Spain</li>
		<li>Germany</li>
		<li>Thailand</li>
		<li>UAE</li>
		<li>&nbsp;</li>
	</ul>				
</div>
