<div id="faq">
	<div class="top"></div>
	<h3>FAQ</h3>
	<div id="faq_block">
		<p>Cu eum sint aliquid detracto, ea eum unum malis error, placerat percipitur eam te. Novum sonet aliquyam ex has, nam id insolens imperdiet. Est et nobis scaevola vituperata, vel augue nobis oblique cu, altera timeam deseruisse in cum. Sea cu feugait placerat deseruisse. At sanctus meliore definitionem nam, augue atomorum sit in.</p>
	</div>
	<div class='bottom'></div>
</div>

<div id="extra">
	<div class="top"></div>
	<h3>Share</h3>
	<%= image_tag "system/buttons/addthis.jpg", :class=>"share" %>
	<div class="bottom"></div>
</div>

<div id="small">
	<h3>Extra</h3>
</div>