<div id='eanvvip' style="margin-top:14px">
	<p>Join and receive updates on properties when they are fresh, up to date property market.<br/>	<%= link_to image_tag("system/buttons/joinnow.jpg", :style=> "margin-top:7px"),"/contact?iframe=true&width=560&height=600" ,:rel=>"prettyPhoto" %></p>
</div>

<%= render :partial => "shared/buyersguide" %>

<div id="faq">
	<div class="top"></div>
	<h3><span class="title">FAQ</span></h3>
	<div id="faq_block">
		<p><span>Sea cu feugait placerat deseruisse</span>Cu eum sint aliquid detracto, ea eum unum malis error, placerat percipitur eam te. Novum sonet aliquyam ex has, nam id insolens imperdiet. Est et nobis scaevola vituperata, vel augue nobis oblique cu, altera timeam deseruisse in cum. Sea cu feugait placerat deseruisse. At sanctus meliore definitionem nam, augue atomorum sit in.</p>
		<p><span>Sea cu feugait placerat deseruisse</span>Cu eum sint aliquid detracto, ea eum unum malis error, placerat percipitur eam te. Novum sonet aliquyam ex has, nam id insolens imperdiet. Est et nobis scaevola vituperata, vel augue nobis oblique cu, altera timeam deseruisse in cum. Sea cu feugait placerat deseruisse. At sanctus meliore definitionem nam, augue atomorum sit in.</p>
		<p><span>Sea cu feugait placerat deseruisse</span>Cu eum sint aliquid detracto, ea eum unum malis error, placerat percipitur eam te. Novum sonet aliquyam ex has, nam id insolens imperdiet. Est et nobis scaevola vituperata, vel augue nobis oblique cu, altera timeam deseruisse in cum. Sea cu feugait placerat deseruisse. At sanctus meliore definitionem nam, augue atomorum sit in.</p>
		<p><span>Sea cu feugait placerat deseruisse</span>Cu eum sint aliquid detracto, ea eum unum malis error, placerat percipitur eam te. Novum sonet aliquyam ex has, nam id insolens imperdiet. Est et nobis scaevola vituperata, vel augue nobis oblique cu, altera timeam deseruisse in cum. Sea cu feugait placerat deseruisse. At sanctus meliore definitionem nam, augue atomorum sit in.</p>
		<p><span>Sea cu feugait placerat deseruisse</span>Cu eum sint aliquid detracto, ea eum unum malis error, placerat percipitur eam te. Novum sonet aliquyam ex has, nam id insolens imperdiet. Est et nobis scaevola vituperata, vel augue nobis oblique cu, altera timeam deseruisse in cum. Sea cu feugait placerat deseruisse. At sanctus meliore definitionem nam, augue atomorum sit in.</p>
	</div>
	<div class='bottom'></div>
</div>


