<div id='eanvvip' style="margin-top:14px">
	<p>Join and receive updates on properties when they are fresh, up to date property market.<br/>	<%= link_to image_tag("system/buttons/joinnow.jpg", :style=> "margin-top:7px"),"/contact?iframe=true&width=560&height=600" ,:rel=>"prettyPhoto" %></p>
</div>

<div id="marketreport">
	<div class="top"></div>
	<div class="header_w_image">
		<img src="/images/system/buttons/House.jpg" width="50" height="35" alt="House">
		<h3><span class="title">Market report</span></h3>
	</div>	
	<p class="link">
		<img src="/images/system/buttons/Market_Report.jpg" width="137" height="201" alt="Market Report" class="mr">
		<a href="#">Download</a>
	</p>
	<div class='bottom'></div>
</div>
<div id="extra">
	<div class='top'></div>
	<div class="header_w_image">
		<img src="/images/system/buttons/world.jpg" width="50" height="35" alt="House">
		<h3><span class="title"><a href="/contact?iframe=true&width=560&height=600" rel="prettyPhoto">E&V Global</a></span></h3>
	</div>
	<div class='bottom'></div>
</div>


<div id="faq">
	<div class="top"></div>
	<h3><span class="title">FAQ</span></h3>
	<div id="faq_block">
		<p>Cu eum sint aliquid detracto, ea eum unum malis error, placerat percipitur eam te. Novum sonet aliquyam ex has, nam id insolens imperdiet. Est et nobis scaevola vituperata, vel augue nobis oblique cu, altera timeam deseruisse in cum. Sea cu feugait placerat deseruisse. At sanctus meliore definitionem nam, augue atomorum sit in.</p>
	</div>
	<div class='bottom'></div>
</div>


