<%= render :partial => "shared/eandv_vip" %>

<%= render :partial => "shared/buyersguide" %>

<div id="faq">
	<div class="top"></div>
	<h3><span class="title">FAQ</span></h3>
	<div id="faq_block">
		<%= render :partial =>"shared/faq", :collection => @faqs %>
	</div>
	<div class='bottom'></div>
</div>


