<%= render :partial => "shared/eandv_vip" %>

<%= render :partial => "shared/buyersguide" %>

<div id="faq" class="seller">
	<h3><span class="title">Buying a property</span></h3>
	<div id="faq_block2">
			<p>Are you seeking a spacious condominium? Perhaps a single-family home with all the creature comforts? Maybe you are looking for an impressive Villa. By coming to Engel & Völkers, you have already come to the right address. Our consultants will support you and show you how to make your dreams a reality. </p><p>

<p>Engel & Völkers are experts in negotiating, supporting and closing contracts. Let us guide you through your purchase process no matter what legal, taxation or financial questions that may arise. Engel & Völkers has answers for you. The professional expertise and local knowledge of our agents guarantee the best possible customer experience.</p>
	</div>

</div>

<div id="faq" class="seller">
	<h3><span class="title">Selling a property</span></h3>
	<div id="faq_block">
	<p>Planning to sell your property? Our team has a global business model that provides a successful transaction for properties in any category. We take a strong initiative to assure you will get the best possible price for your home. Tell us what your requirements are and we will put a plan in motion to meet them. Our record speaks for itself.</p>

<p>We will assess the value and potential of your property. We then put our business model to work. We will first contact our clientele in our global network and then design and implement a marketing plan for your particular property. Some properties require special marketing techniques that may be different from another’s property. </p>

<p>By utilizing our talents and our global infrastructure you are not only getting the services you would receive with any other domestic real estate company, but you are receiving a true global presence.
These key factors, along with a highly versatile internet marketing plan are why you choose our Engel & Volkers office to help you sell your property.</p>
</div>
</div>



