
<div id="extra">
	<div class="top"></div>
	<h3><span class="title">Share</span></h3>
	<%= image_tag "system/buttons/addthis.jpg" %>
	<div class="bottom"></div>
</div>

<div id="small">
	<h3><span class="title">Extra</span></h3>
</div>