<h3><span class="title">Quick Search</span> <strong> &nbsp;|&nbsp;</strong><span class="inactive"><a href="#"> Mls</span> </span></h3>
<form id="QuickQuery"  action="#" method="get" accept-charset="utf-8">
	<p>
		<input type="text" id="QuickQuery"><input type="image" src="/images/system/form/search-button.jpg" style="margin-left:10px;margin-top:-2px">
	</p	>
</form>
<form id="Selectable" action="#" method="get" accept-charset="utf-8">
	<div>
		<p>
			<select class="droppies" name="countries" id="countries">
				<option value="U.S.A">Option One</option>
				<option value="Two">Option Two</option>
				<option value="Three">Option Three</option>
				<option value="Four">Option Four</option>
			</select>
		</p	>
		<p>
			<select class="droppies" name="states" id="states">
				<option value="California">Option One</option>
				<option value="Two">Option Two</option>
				<option value="Three">Option Three</option>
				<option value="Four">Option Four</option>
			</select>
		</p	>
		<p>
			<select class="droppies" name="region" id="region">
				<option value="Los Angeles - Orange County">Option One</option>
				<option value="Two">Option Two</option>
				<option value="Three">Option Three</option>
				<option value="Four">Option Four</option>
			</select>
		</p	>
		<p>
			<select class="droppies" name="area" id="area">
				<option value="All">Option One</option>
				<option value="Two">Option Two</option>
				<option value="Three">Option Three</option>
				<option value="Four">Option Four</option>
			</select>
		</p	>
		<p>
			<select class="droppies" name="price" id="price">
				<option value="All">Option One</option>
				<option value="Two">Option Two</option>
				<option value="Three">Option Three</option>
				<option value="Four">Option Four</option>
			</select>
		</p	>
		<p>
			<select class="droppies" name="bedrooms" id="bedrooms">
				<option value="All">Option One</option>
				<option value="Two">Option Two</option>
				<option value="Three">Option Three</option>
				<option value="Four">Option Four</option>
			</select>
		</p	>
	</div>
	<div class="titles">
		<p>Country</p>
		<p>State</p>
		<p>Region</p>
		<p>Area</p>
		<p>Price</p>
		<p>Bedrooms</p>
	</div>
 	
</form>
<div id="bottom_b"></div>