<h3><span class="title">Quick Search</span> <strong> &nbsp;|&nbsp;</strong><span class="inactive"><a href="/eandv?iframe=true&width=560&height=600" rel="prettyPhoto"> Mls</a> </span>	</h3>

<%= render :partial=>"shared/search/quickquery" %>
<%= render :partial=>"shared/search/quickselectable" %>

<div id="bottom_b"></div>