<div class="partners">
	<h3>Newport Beach Marriot Hotel & Spa</h3>
	<img src="/images/static/marriot.jpg" width="304" height="159" alt="Marriot">
</div>

<div id='eanvvip'>
	<p>Join and receive updates on properties when they are fresh, up to date property market.<br/>	<%= image_tag "system/buttons/joinnow.jpg", :style=> "margin-top:7px"%></p>
</div>
