<div class="partners">
	<%= render :partial => "shared/top5" %>
</div>

<div id='eanvvip' style="margin-top:14px">
	<p>Join and receive updates on properties when they are fresh, up to date property market.<br/>	<%= link_to image_tag("system/buttons/joinnow.jpg", :style=> "margin-top:7px"),"/contact?iframe=true&width=560&height=600" ,:rel=>"prettyPhoto" %></p>
</div>

<%= render :partial => "shared/gg_mag" %>
