
<div id="marketreport" style="height:73px;margin-bottom:14px;">
	<div class="top"></div>
	<div class="header_w_image">
		<img src="/images/system/buttons/bookguide.jpg" width="50" height="35" alt="House">
		<h3 style="padding-top:0px;"><span class="title"><a href="/sellersguide?iframe=true&width=560&height=600" rel="prettyPhoto">Seller's guide</a></span></h3>
	</div>	
	<div class='bottom'></div>
</div>

<%= render :partial=> "shared/top5" %>


<%= render :partial=> "shared/gg_mag" %>


