<div id="marketreport">
	<div class="top"></div>
	<div class="header_w_image">
		<img src="/images/system/buttons/bookguide.jpg" width="50" height="35" alt="House">
		<h3><span class="title"><a href="/images/slide_1.jpg" rel="prettyPhoto">Buyer's guide</a></span></h3>
	</div>	
	<div class='bottom'></div>
</div>

<div id="marketreport">
	<div class="top"></div>
	<div class="header_w_image">
		<img src="/images/system/buttons/House.jpg" width="50" height="35" alt="House">
		<h3><span class="title">Market report</span></h3>
	</div>	
	<p class="link">
		<img src="/images/system/buttons/Market_Report.jpg" width="137" height="201" alt="Market Report" class="mr">
		<a href="#">Download</a>
	</p>
	<div class='bottom'></div>
</div>
<div id="extra">
	<div class='top'></div>
	<div class="header_w_image">
		<img src="/images/system/buttons/world.jpg" width="50" height="35" alt="House">
		<h3><span class="title"><a href="/images/slide_1.jpg" rel="prettyPhoto">E&V Global</a></span></h3>
	</div>
	<div class='bottom'></div>
</div>