<% form_for(@page.page_featured_photo || :page_featured_photo, :url => { :action => "update_page_featured" }, :html => { :multipart => true }) do |form| %>
	<p>Main<br />
	<%= form.file_field :main %>
	</p>
	<%= form.hidden_field :page_id, :value => @page.id %>
   <p><%= form.submit 'Save' %></p>
<% end %>
