
<script type="text/javascript">
		var flashvars = {};
		flashvars.shopxml = "/feeds/static/shop.xml";
		flashvars.font = "font.swf";
		var attributes = {};
		attributes.wmode = "transparent";
		attributes.id = "slider";
		var params = {}
		params.allowscriptaccess = "always";

		swfobject.embedSWF("/swf/ShopFlash.swf", "scontainer", "419", "317", "9", "/swf/expressInstall.swf", flashvars, params,attributes);
</script>


<div style="margin: 0 12px">
	<div id="scontainer"></div>
</div>
