<div id="side-nav">
	<ul>
		<li>	<%= link_to 'Back', :back %></li>
	</ul>
</div>
<div id="main">
	<h1>New Blog Post</h1>

	<% form_for @post, :url => {:action => ""}, :html => { :multipart => true }  do |f| %>	
	  <%= render :partial => "form", :locals => {:f =>f}%>
	  <p>
	    <%= f.submit 'Create' %>
	  </p>
	<% end %>
	<hr />



</div>
