<div class="left_tool relocating chat_box">

	<div class="header_w_image" >
	<h3 style="text-align:left;width:100%;margin:0px;"><%= image_tag "system/buttons/Chat.png" %> <span class="title"><a href="/contact?iframe=true&width=560&height=600" rel="prettyPhoto">
		Contact Us </a></span>	</h3>
	</div>
</div>
