<div class="left_tool relocating chat_box">

	<div class="header_w_image" >
	<h3 style="text-align:left;width:100%;margin:0px;"><%= image_tag "system/buttons/Chat.png" %> <span class="title"><a onclick="window.open('/plugoo','meebome','width=200,height=285');" href="#">
		Chat LIVE now </a></span>	</h3>
	</div>
</div>
