<div class="left_tool shorter toolse chat_box global" >

	<div class="header_w_image">
		<img src="/images/system/buttons/world.jpg" width="50" height="35" alt="House" style="margin: 3px 0 0 15px">
		<h3 class="service"><span class="title"><a href="http://www.engelvoelkers.com/" >E&V  Global</a></span></h3>
	</div>
	
</div>
