<div class="left_tool relocating market_box" >

	<div class="header_w_image">
	<h3 style="text-align:left;width:100%;margin: 0px"><%= image_tag "system/bg/front/DollarHouse.jpg", :style=>"margin: 0px 5px 0 16px"  %><span class="title" style="margin: 0 0 10px 0">Market Report </span>	</h3>
	</div>
	<%= image_tag "system/bg/front/MarketMag.jpg", :style => "margin-left: 36px;" %>
	<h3 class="download"><span class="title"><a href="#">
		Download </a></span>	</h3>

</div>
<!-- /assets/pdf/EV_Newport_MarketReport_Sep09.pdf.zip -->
