<div class="left_tool relocating share_box why">

	<div class="header_w_image">
		<img src="/images/system/buttons/truck.jpg" width="50" height="35" alt="House" style="margin: 3px 0 0 15px">
		<h3 class="service"><span class="title"><a href="/contact?iframe=true&width=560&height=600" rel="prettyPhoto">Relocate with E&V</a></span></h3>
	</div>

</div>
