<div id="side-nav">
	<ul>
		<li><%= link_to 'back',  :back %></li>

	</ul>
</div>

	<h1>Facility listing (total : <%= @facilities.size %>)</h1>
	<div id="itsthetable">
	<table>
		<thead>
			<th><strong>Title</strong></th>
			<th><strong>Options</strong></th>
		</thead>
	<%= render :partial => "facility",:collection=>@facilities %>
	</table>
	</div>


