<div id="side-nav">
	<ul>
		<%= link_to "Back", :back %>
	</ul>
</div>


	<h1>New category</h1>
<div id="tabs" class="ui-tabs">
	<% form_for :category,@cat, :url => {:action => "create"}, :html => {:multipart => true}  do |f| %>	
	 <%= f.error_messages %> 
	  <%= render :partial => "form", :locals => {:f =>f}%>
	  <p>
	    <%= f.submit 'Create' %>
	  </p>
	<% end %>

</div>
