<div id="main">
	
	<h1>New category</h1>

	<% form_for :category, :url => {:action => ""}, :html => {:multipart => true}  do |f| %>	
	  <%= render :partial => "form", :locals => {:f =>f}%>
	  <p>
	    <%= f.submit 'Create' %>
	  </p>
	<% end %>

	<%= link_to 'Back', admin_pages_path %>
</div>