<table class="kontakt" style="width:87%;margin-top:8px;"> 
<tr>
                 <td width="150px"><h4>Apply for</h4></td> 
                 <td width="250px"><input name="als" type="TEXT" id="" value="" /></td> 
               </tr> 
               <tr> 
                 <td>In City/Region</td> 
                 <td width="250px"><input name="stadt" type="TEXT" id="" value="" /></td> 
               </tr> 
               <tr> 
                 <td>Salutation<span class="red_color">*</span></td> 
                 <td width="250px"> 
                                      <select name="titel" size="1" style="width:40%;"> 
                                                                             <option value="Mr." >Mr.</option>                    <option value="Mrs." >Mrs.</option>                    <option value="Ms. " >Ms. </option>                  </select> 
                                   </td> 
               </tr> 
               <tr> 
                 <td>Title</td> 
                 <td width="250px"><input name="titel_2" type="TEXT" id="" value="" /></td> 
               </tr> 
               <tr> 
                 <td>First Name<span class="red_color">*</span></td> 
                 <td width="250px"><input name="vorname" type="TEXT" id="" value="" /></td> 
               </tr> 
               <tr> 
                 <td>Last Name<span class="red_color">*</span></td> 
                 <td width="250px"><input type="TEXT" name="name" value="" /></td> 
               </tr> 
               <tr> 
                 <td>Street, No.<span class="red_color">*</span></td> 
                 <td width="250px"><input type="TEXT" name="strasse" value="" /></td> 
               </tr> 
               <tr> 
                  <td>City, State-ZIP<span class="red_color">*</span></td> 
                
                  <td style="text-align:right;"><input type="TEXT" name="ort" style="" value="" /></td> 
               </tr> 
               <tr> 
                 <td>Telephone<span class="red_color">*</span></td> 
                 <td width="250px"><input name="telefon" type="TEXT" value="" /></td> 
               </tr> 
               <tr> 
                 <td>&nbsp;</td> 
                 <td width="250px"><input type="checkbox" value="yes" name="termin" class="noborder" style="width:12px;"  />Contact me to arrange a job interview</td> 
               </tr> 
               <tr> 
                 <td>E-Mail<span class="red_color">*</span></td> 
                 <td width="250px"><input type="TEXT" name="email" value="" /></td> 
               </tr> 
                <tr> 
                 <td>Current Position</td> 
                 <td width="250px"><input name="position" type="TEXT" value="" /></td> 
               </tr> 
                <tr> 
                 <td>Desired Income (p. a.)</td> 
                 <td width="250px"><input name="verdienst" type="TEXT" value="" /></td> 
               </tr> 
               <tr> 
                 <td>Real Estate Know-How</td> 
                 <td width="250px"><input name="immo_kenntniss" value="yes" type="radio" class="noborder" style="width:12px;"  />&nbsp;Yes  <input style="width:12px;" type="radio" name="immo_kenntniss" value="no" class="noborder"  />&nbsp;No  </td> 
               </tr> 
			   <!--
               <tr>
                 <td></td>
                 <td width="250px"><input name="geb" type="text" value="" /></td>
               </tr>
               <tr>
                 <td></td>
                 <td width="250px"><input name="nationalitaet" type="text" value="" /></td>
               </tr>
               <tr>
                 <td></td>
                 <td width="250px">
                                      <select name="fam_stand" size="1" style="width:40%;">
                                       </select>
                                   </td>
               </tr>
			   --> 
               <tr> 
                 <td>Qualifications</td> 
                 <td width="250px"><input name="schulabschluss" type="text" value="" /></td> 
               </tr> 
               <tr> 
                 <td>Education</td> 
                 <td width="250px"><input name="ausbildung" type="text" value="" /></td> 
               </tr> 
               <tr> 
                 <td>University</td> 
                 <td width="250px"><input name="uni" type="text" value="" /></td> 
               </tr> 
                <tr> 
                 <td>Other</td> 
                 <td width="250px"><input name="sonstige" type="text" value="" /></td> 
               </tr> 
                <tr> 
                 <td>IT Skills</td> 
                 <td width="250px"><input name="edv" type="text" value="" /></td> 
               </tr> 
               <tr colspan="3"> 
                 <td><h3 style="font-size:11px;">Languages</h3></td> 
               </tr> 
               <tr> 
                 <td>english</td> 
                 <td width="250px"><input style="width:12px;"  name="en[]" value="fluent  " type="checkbox" class="noborder"  />&nbsp;fluent  <input style="width:12px;" type="checkbox" name="en[]" value="good  " class="noborder"   />&nbsp;good  </td> 
               </tr> 
               <tr> 
                 <td>german</td> 
                 <td width="250px"><input style="width:12px;" name="fr[]" value="fluent  " type="checkbox" class="noborder"  />&nbsp;fluent  <input style="width:12px;" type="checkbox" name="fr[]" value="good  " class="noborder"   />&nbsp;good  </td> 
               </tr> 
               <tr> 
                 <td>spanish</td> 
                 <td width="250px"><input style="width:12px;" name="es[]" value="fluent  " type="checkbox" class="noborder"   />&nbsp;fluent  <input style="width:12px;" type="checkbox" name="es[]" value="good  " class="noborder"   />&nbsp;good  </td> 
               </tr> 
               <tr> 
                 <td>other</td> 
                 <td width="250px"><input name="sonst" type="text" value="" /></td> 
               </tr> 
               <tr> 
                 <td>Reason for this job application?</td> 
                 <td width="250px"> 
                   <textarea rows="3" name="weshalb"></textarea> 
                 </td> 
               </tr> 
               <tr> 
                 <td>Select three values that are important for your future job:</td> 
                 <td width="250px"> 
                   <input type="checkbox" name="eigenschaften[]" class="noborder" value="Responsibility" style="width:12px;"  />&nbsp;Responsibility<br /> 
                   <input type="checkbox" name="eigenschaften[]" class="noborder" value="Career Opportunity" style="width:12px;"  />&nbsp;Career Opportunity<br /> 
                   <input type="checkbox" name="eigenschaften[]" class="noborder" value="Independence" style="width:12px;"  />&nbsp;Independence<br /> 
                   <input type="checkbox" name="eigenschaften[]" class="noborder" value="Decision Leeway" style="width:12px;"  />&nbsp;Decision Leeway<br /> 
                   <input type="checkbox" name="eigenschaften[]" class="noborder" value="High Income" style="width:12px;"  />&nbsp;High Income<br /> 
                   <input type="checkbox" name="eigenschaften[]" class="noborder" value="Contact with People" style="width:12px;"  />&nbsp;Contact with People<br /> 
                   <input type="checkbox" name="eigenschaften[]" class="noborder" value="Good Work Atmosphere" style="width:12px;"  />&nbsp;Good Work Atmosphere<br /> 
                   <input type="checkbox" name="eigenschaften[]" class="noborder" value="Advanced Training Opportunity" style="width:12px;"  />&nbsp;Advanced Training Opportunity                 </td> 
               </tr> 
