<h5>This page will close in a few seconds. Thank you for sending a request. </h5>


<script type="text/javascript">
jQuery(document).ready(function() {
	$(document).nice_fonts();
$('#contact_form').jScrollPane({scrollbarWidth:17,showArrows:true});
});
var t=setTimeout("window.location.replace('http://newport-beach.heroku.com')",5000);

</script>
