<div id="wide">


<h2>Buying</h2>

<p>

Buying a home is one of the biggest decisions - both financially and emotionally - you will make in your lifetime. If you're a first-time buyer, you're probably thrilled about making the jump from apartment renting to owning your own house. While you're excited, however, you also may be a bit overwhelmed by the procedures involved. Relocating or move-up buyers have the advantage of past experience, but still might need a refresher course on the intricacies of the process. 
The buying process involves several steps, from finding a REALTOR® to making an offer to closing the deal. Whether you're a first-time or experienced buyer, you'll find an array of information in this section that will assist you on your way to realizing your goal of homeownership. 

</p>

</p>

 <h2>The American Dream </h2>

<p>

For the vast majority of us, owning a home is part of the American Dream. According to a study conducted by the NATIONAL ASSOCIATION OF REALTORS®, 87 percent of those polled cited owning a home as the number one criterion for defining "the good life." Owners and renters alike considered homeownership desirable for the following reasons: the pride of ownership, their dislike of paying rent, and the ability to change features of their homes to match their individual tastes and needs. 
In addition, owning your own home provides a sense of security and well-being that's hard to beat. Home is where we raise our families, have friends over for summer barbeques, paint the baby's room pink or blue, and find refuge from the outside world. 
Owning a home offers other advantages as well. For instance, as a homeowner, you have control over your environment. Not only can you change your home to meet your needs, but you also aren't subject to the terms of a lease or a landlord. As a homeowner, you can experience the emotional and financial security that comes from knowing what your housing expenses will be from year to year. Unlike rents, which can increase annually, most mortgages have fixed or capped monthly payments. So, as a homeowner, you can have a much better idea of what proportion of your paycheck goes toward your 
home. Think of it as the ultimate savings plan. 

</p>

 <h2>Bottom-Line Benefits </h2>

<p>
And it only gets better. Homeownership is the primary component in the creation of wealth for many Americans. Data from Harvard University's Joint Center of Housing Studies illustrate not only that the median net wealth of homeowners is 34 times greater than that of renters, but also that over half of that wealth is generated from home equity. As you pay down your loan amount each month, you accumulate equity, a growing ownership interest in your property. If you need funds, you can borrow against this equity in the form of a home equity loan. Further, interest on a portion of home equity is tax-deductible. 
Most homes appreciate in value over time and can be a source of income for you, especially if you've lived in your house for many years. When you retire, you can sell your home if you need the funds or make use of a home equity conversion mortgage. 
Finally, don't forget about the significant tax advantages of owning your home. Interest on a home mortgage and property taxes are deductible. For most of us, mortgage interest provides the largest tax deduction. Also, a home is the single most important factor that determines whether you will be able to file a return which takes advantage of the wide range of allowable itemized deductions. 

</p>

 <h2>Homebuying Means Getting Back To The Basics </h2>

<p>
Recently, the CALIFORNIA ASSOCIATION OF REALTORS® surveyed homebuyers to find out what they considered to be important in the purchase of their homes. The largest percentage, 27 percent, considered the mere ownership of a home as the most important reason to buy. Moving to a better neighborhood (17 percent), wanting a larger home (10 percent), and realizing the tax advantages of homeownership (8 percent) were other reasons cited for buying homes. Seven percent focused on investment value as their primary motivation for homeownership. 
Over the years, your home likely will be the best investment you'll ever make. But more importantly, it will be the place that offers you and your family shelter, security and stability. That's some return on investment. 


</p>

 <h2>Are You Ready To Buy? </h2>

<p>

As with any major purchase, it pays to be informed prior to making any decisions. As experienced buyers already know, buying a home is a complicated process, so it's important to start at the beginning and thoroughly understand each step. Whether you're buying your first home or your third, make sure you have the necessary financial resources and have explored all your options before you purchase a new home. 
If you're a first-time buyer, you should weigh the pros and cons of homeownership versus renting. There are many advantages and disadvantages to consider. For example, renters have the freedom of mobility if they choose to move, but their monthly rent checks do not establish long-term equity or produce any other benefits. And while homeowners' mortgage payments accumulate equity, these payments are generally higher than rent payments and come with the responsibility to manage the care and upkeep of the property. 

Both new and experienced buyers have their own sets of financial considerations when it comes to buying a home. Move-up buyers should evaluate their financial situation to ensure they're prepared to meet the higher mortgage payments involved with relocating. Likewise, first-time buyers should determine if monthly mortgage payments fit in their budgets. In addition, you'll need to be prepared to cover the downpayment and closing costs. And, you should consider whether you meet the basic criteria to qualify for a mortgage; lenders prefer that applicants offer a stable job history and a good credit record.

</p>

 <h2>Using a REALTOR® when Buying Your Home </h2>

<p>

For most of us, a home is the single biggest purchase in our lives. The enormity of the financial transaction aside, finding the right home to fit our particular needs and wants is no easy undertaking. Just as you wouldn't buy a car, computer or camcorder without doing some research into various models and prices, you shouldn't consider purchasing a home without some expert advice and guidance. Though some people may think of using the services of a REALTOR® only when selling their homes, a REALTOR® can be invaluable when buying one as well. 
For instance, a REALTOR® can help you determine how much home you can afford based on your financial situation, help you get prequalified for a loan, and even inform you about available financing options. A REALTOR® also is an expert on the neighborhood, and can provide detailed information about schools, transportation, local taxes and community characteristics. Using a REALTOR® is also one way of gaining access to homes listed on the Multiple Listing Service (MLS), an important marketing tool used by REALTORS® to inform other REALTORS® about available properties. That means a REALTOR® can give you information about a wide range of available homes from which to choose. When it comes to finding out ifyou're paying too much, a REALTOR® can provide you with market analyses comparing asking and selling prices of homes in the neighborhood. Finally, a REALTOR® can serve as the liaison between you and the seller, bringing to the table negotiating expertise and knowledge about required disclosures and the housing market. 

</p>

 <h2>So, where do you find a REALTOR®? </h2>

<p>
Like finding any good professional, the best way to find a REALTOR® is through recommendation from friends or those who have bought or sold homes recently. Ask for references and check each thoroughly. Also, interview several REALTORS® before you decide on one. 
It's important to find a professional who is a REALTOR®. Why? A REALTOR® is someone who, as a member of the local, state and national trade associations, adheres to a strict code of ethics. Recently, the NATIONAL ASSOCIATION OF REALTORS® commissioned a nationwide survey to determine whether REALTORS® were doing their job professionally. The results were impressive: 97 percent of respondents indicated they received "excellent" or "very good" service from their REALTOR®. 




</p>

<h2>Credit Information</h2>

<p>

For many homebuyers, credit is a big consideration in the buying process. In applying for a mortgage, your credit may be the single factor that opens or closes the door to purchasing the home you want at a low interest rate. You may believe you have a strong credit rating but have never actually seen your credit report. Or perhaps you're concerned that past credit problems will come back to haunt you as you apply for a mortgage 
Whichever boat you're in, the first step is the same: Obtain a copy of your credit report for a small fee and review it for accuracy. Credit reports are maintained by three credit reporting agencies: Experian, TransUnion and Equifax. It's a good idea to obtain your credit report from all three agencies, since each may contain different information and you don't know which agency will be supplying your report to your lender. 
If there is incorrect or missing information that would improve your credit score, report it to the credit bureau. Under the Fair Credit Reporting Act, consumers have the right to review and contest information in their credit reports. Even if your credit report reads exactly like you expected and your credit is in fine shape, going into the mortgage application procedure with peace of mind is worth the nominal fee. 

</p>

 <h2>What is credit? </h2>

<p>
Credit is a record of a person's debts and payment history. Credit bureaus compile individual reports of consumer debt through an array of sources, including credit card companies, banks, the IRS, department stores and gasoline companies, and any other entities granting loans. A credit report is a résumé of your financial performance, with information on your payment standing for all the accounts you've held for the past seven to 10 years (seven years for accounts not paid as agreed and 10 years for accounts paid as agreed). 

</p>

 <h2>What is a credit score? </h2>

<p>
Credit scores, also called "beacon scores," are composites that indicate how likely you are to pay on a loan or credit card as agreed based upon your payment history, amount of debts, length of credit history and types of credit in use. The credit grantor reviewing your loan application compiles your score based on information from your credit report and other data, including your income level. 
Fair, Isaac and Company (FICO) developed the mathematical formula for establishing scores. Scores range from 300 (poor) to 850 (excellent), and the rule of thumb is the higher the score, the lower the risk to lenders. 
In the past, consumers have not been allowed to view their credit score or be informed of the factors that determined their scores. However, C.A.R.-sponsored SB 1607, signed by California Gov. Gray Davis on Oct. 2, 2000, granted California homebuyers access to their credit scores and pertinent information about what factors determined their scores. The legislation, which becomes effective July 1, 2001, also allows consumers to receive their credit scores when they request copies of their credit files for a nominal fee. 

</p>

 <h2>What role does credit play? </h2>

<p>
Lenders review credit reports to determine debts owed and if they are repaid according to the terms of the initial contract. If you have any outstanding debt, lenders will analyze your debt-to-income ratio and how that debt will factor into your ability to make your mortgage payments. 

</p>

 <h2>What do I do when I get my report? </h2>

<p>
Read through it carefully, paying extra attention to the section on your account payment history. 

</p>

 <h2>How do I establish credit? </h2>

<p>
If you have never taken out a credit card or borrowed money from a financial institution, or if your accounts are young, you can establish credit history by having your rent payments to landlords and monthly payments to utility companies added to your credit report. 

</p>

 <h2>How do I re-establish good credit?  </h2>

<p>
If your credit report contains negative information, such as frequent late payments, repossessions, collection activity or bankruptcy, you may want to wait to apply until after you've improved your credit record. Rebuild your credit by showing strong payment history in the years following any problems. Most lenders prefer for three years to have passed since a foreclosure on a mortgage and at least two years since bankruptcy. Lenders are willing to forgive past black marks on a credit report if you establish a pattern of responsible debt repayment. 

</p>

 <h2>How do I correct a mistake? </h2>

<p>
Follow the directions of the credit bureau issuing your report. The bureau will contact the source of the information in question and attempt to resolve the dispute. Also, if late payment information is accurate but you have a good explanation (e.g., you were laid off from work or became very ill), you are allowed to add that information to your report. 

Beginning Your Home Search

Once you've determined that you're ready to buy, it's time to begin thinking about where you want to look. You'll find there are many questions you must answer about the type of house you want to purchase. For example, are you interested in an older home or a new one? How big of a home do you need? Would you like to move closer to certain major roads or freeways? Your REALTOR® can answer many questions about the homes and communities you're considering, and in the meantime, there are myriad resources available for you to begin your research. 
Location Is Everything 
Do you want to live in a particular city or neighborhood? If you're a parent, you're probably considering school districts and other child-friendly options like the proximity to parks. If you're relocating to an unfamiliar area, you can contact the city or county government for information about the community. It's a good idea to investiage crime statistics per neighborhood when you're narrowing down the areas of your home search. 
Or perhaps location is the reason why you're buying in the first place -- to move closer to your work, your spouse's work or your extended family, or to live within a particular school district's zone. As you're probably aware, the location of your home can have a dramatic effect on its price. 
Size Matters 
You may have experienced growing pains in your current home, which prompted you to pursue buying a new abode. Or you're entering a self-employed profession and need a home office. Consider all your space requirements before you start searching for a new home. There's no reason to waste time looking at two-bedroom condos when you really need a four-bedroom house. 
Locating Listings 
Once you've narrowed down the specifics of your ideal home, where do you find listings? Your REALTOR® has access to thousands of listings in your area through the Multiple Listings Service (MLS). He or she will help you find available homes that meet your criteria. Or, you can start your home search online through the California Living Network. 

</p>

 <h2>Home Financing </h2>

<p>

Pre-Approval vs. Pre-Qualification 
REALTORS® recommend that buyers get pre-approved prior to initiating the mortgage process to determine the best type of mortgage for you and avoid rushing into a mortgage decision. Pre-approval is an official agreement by the lender specifying the exact amount for which you've been approved. In order to get pre-approved, you'll meet with a loan officer who'll review your credit history and often suggest a mortgage type that fits your situation. This process requires supplying the lender with various financial documents discussed in the Financing section. By receiving pre-approval before making an offer to purchase, you'll demonstrate your serious intentions and financial ability to the seller. 
Pre-approval is not to be confused with pre-qualification, however. Pre-qualification provides an informal means to find out how much you may be able to borrow. Before setting your price range for how much you can spend on a new home, you may want to pre-qualify for a mortgage. You can be pre-qualified over the phone by answering a few questions about your income, long-term debt and the amount of your downpayment. Getting pre-qualified gives you a ballpark figure of the amount you may have available to spend on a home. 
Downpayments and Financial Assistance 
Even first-time buyers are usually aware that they'll be required to make a downpayment in order to secure a home. But what you may not have heard is that within the past decade, downpayment assistance programs have been developed that either lower the deposit dramatically or eliminate it altogether. Before making your downpayment, you'll want to investigate these programs to see if you qualify. Several California and federal assistance programs are outlined in the Financing section. 
While low downpayments might seem attractive to cash-strapped buyers, keep in mind that the larger the downpayment, the smaller the mortgage loan -- thereby allowing you to develop equity quicker. You'll also want to consider that mortgages with less than a 20-percent downpayment usually require mortgage insurance. When determining the size of your downpayment, you may want to weigh the other costs involved, including closing costs and relocating expenses. 
You'll find information about the various types of mortgages, application process, homeowners' insurance and more in the Financingsection. 

</p>

 <h2>The Transaction from End to End  </h2>

<p>

Now that you've found the perfect home, it's time to get the deal rolling. You'll need to sign a residential purchase agreement, make an offer, possibly put down a deposit, conduct inspections and close the sale. If this all sounds overwhelming to you, don't worry; your REALTOR® will guide you through each step. 

</p>

 <h2>Making An Offer/Residential Purchase Agreements and Buyer Representation Agreements </h2>

<p>
If you're ready to purchase the home, you must get all the details in writing. The offer begins with a written proposal spelling out your price and any stipulations regarding the purchase. If the seller has agreed to pay part of the closing costs, for example, that needs to be specified in the accepted offer. In addition, sometimes offers to purchase are contingent upon factors like the buyers' ability to obtain financing or the sellers finding housing within a certain time frame. 
The residential purchase agreement contains the comprehensive terms of the deal, including sales price, deposit, closing date, disclosure requirements, inspections, and fees agreed upon by both parties. Other provisions also are included, such as the buyer's final inspection and the method by which all real estate taxes and other bills will be pro-rated between buyer and seller. 
The CALIFORNIA ASSOCIATION OF REALTORS® offers its own official agreement, the C.A.R. Residential Purchase Agreement and Joint Escrow Instructions (RPA-11). This multi-functional document serves as an offer to purchase real property, a completed contract when its signed by the buyer and seller and communication of acceptance is received, a receipt for good faith earnest money deposit, and more. 
Summaries of the Residential Purchase Agreement are available in Spanish, Chinese, Korean, Tagalog and Vietnamese. To purchase these summaries, please click here and select "Multi-Language" in the menu on the left side of the page. Then click on item #BC610A. 
In response to requests from C.A.R. members practicing in the greater San Francisco Bay Area, C.A.R. developed a second version of its RPA-11 in late 2000. The Area Edition Residential Purchase Agreement (and Joint Escrow Instructions) (AEPA-11) addresses the contractual approach to the real estate transaction adopted in this area of the Golden State. The publications Understanding and Completing The C.A.R. Residential Purchase Agreement and Joint Escrow Instructions and the Area Edition Supplement to Understanding and Completing The C.A.R. Residential Purchase Agreement and Joint Escrow Instructions explain both forms in detail. 
Another standard form produced by C.A.R. and typically used by California REALTORS®, BR-11 (Buyer Broker Representation Agreement) is an agreement between a potential buyer of real property and a real estate broker. The agreement defines the scope of the tasks and duties to be performed by the buyer and broker leading up to the completion of a real estate sale. The form also provides a written consent to a dual agency if one develops, and informs the buyer that the broker or agents for the broker may be working with other buyers looking for similar properties. The agreement does not, however, obligate a buyer to pay the broker for services rendered. Even if an agreement is signed, a broker must still look to a seller or a listing broker for compensation. This form is non-exclusive and may be revoked at any time by either the buyer or broker. In addition, the agreement places a limit on the time within which a legal action can be brought against the broker. More information about C.A.R.'s buyer-broker representation agreements is available by clicking here. 
There are ways for buyers to look more appealing to a seller, thereby possibly gaining a negotiating edge. All-cash buyers and those already pre-approved for a mortgage have an advantage. In addition, sellers who are ready to move prefer buyers who don't have a present house to sell first. 
An offer to purchase is often followed by a counteroffer by the seller, which can be countered again by the buyer. This is common practice as both sides attempt to negotiate an agreement that meets their individual needs. 
Completing the residential purchase agreement is a complicated part of the transaction process that buyers shouldn't enter into without the assistance of a REALTOR®. REALTORS® have access to the standard forms needed and receive updates from their local, state and national associations on state and federal laws regulating agreements. REALTORS® can either answer any questions you might have or refer you to the appropriate authority. 

</p>

 <h2>Buyers' Up-Front Fees  </h2>

<p>
In conjunction with the residential purchase agreement, buyers are usually expected to put down a deposit at the beginning of the transaction. If the buyer completes the sale, this money will be credited toward the buyer's downpayment. If the buyer doesn't complete the sale for legal or contractual reasons, the money is typically returned. However, if the buyer doesn't complete the sale for other reasons, the seller may be entitled to keep the deposit. The U.S. Department of Housing and Urban Development (HUD) advises that deposits should be "substantial enough to demonstrate good faith," usually 1 to 5 percent of the purchase price. Often, buyers may put up to 20 percent down. 
Because buyers frequently pay for most inspections, it may be a good idea to investigate the costs of the inspections you plan to obtain before an offer is made. 

</p>

 <h2>Home Inspections vs. Appraisals  </h2>

<p>
Home inspections vary greatly. Some check the home's structure, construction and mechanical systems, and appliances, which may be transferred with the property. Although different inspectors look for and test different things and may not discover everything that is wrong with a property, obtaining inspections is the best way to become informed of necessary repairs or problems with the home. Be advised that inspectors do not assess the value of your home. 
According to HUD, an inspector typically checks the electrical system, plumbing and waste disposal, the water heater, insulation and ventilation, the HVAC system, water source and quality, ceilings, walls, floors, and roof. 
In addition to being inspected, the home will undergo an appraisal by a trained professional. An appraisal is an opinion of the property's value used primarily to protect the lender's interest. In contrast to home inspections, appraisals are based on past sales data, the location of the home, the size of the lot and the condition of the home. For mortgages insured through the FHA, appraisers must disclose potential problems relating to the physical condition of the home; there are no similar stipulations for non-FHA mortgages. 
Your REALTOR® may recommend a qualified inspector or appraiser. Also, the California Real Estate Inspection Association and the Appraisal Subcommittee of the Federal Financial Institutions Examination Council offer member directories on their Web sites. 

</p>

 <h2>Closing  </h2>

<p>
The closing is the day you've been waiting for: when ownership of the home officially transfers from the seller to you! Prior to the closing, the escrow agent will present you with scores of legal documents to review and sign, and you'll be expected to pay your downpayment and closing costs. In addition, a number of other legal procedures must be completed before the sale can close, including approving the mortgage application, clearing the title, appraising the property and recording the deed. 
The Real Estate Settlement Procedures Act (RESPA) provides specific protection to buyers before, during and after closing. If a settlement service has referred you to a REALTOR® with whom the service has a business connection, an Affiliated Business Arrangement Disclosure is required prior to closing. You're entitled to receive a preliminary copy of a HUD-1 Settlement Statement, which lists estimates of all settlement fees to be paid by buyer and seller, if you request it 24 hours before closing; the final HUD-1 Statement is a requisite part of closing. In addition, an Initial Escrow Settlement Statement is required at closing or within 45 days of closing. This details the estimated taxes, insurance premiums and other charges that must be paid from the escrow account during the first year of the loan. 
Within three days after your loan application is received, your lender must deliver or mail you a "good faith estimate" of the total amount due at closing, as well as a copy of the HUD publication Settlement Costs: A HUD Guide. Closing costs typically are comprised of attorneys' or escrow fees, property taxes, interest, loan origination fees, recording fees, survey fees, first premium of mortgage insurance, title insurance, loan discount points, first payment to escrow account, paid receipt for homeowner's insurance policy and any documentation preparation fees. Fannie Mae estimates that most buyers' closing costs amount to 3 to 6 percent of the sales price. 
As with the other components of the buying transaction, your REALTOR® can answer your questions and provide additional information to ensure a smooth closing. 
</p>
</div>
<% content_for :script do %>
<script type="text/javascript">
jQuery(document).ready(function() {
	$(document).nice_fonts();
$('#wide').jScrollPane({scrollbarWidth:17,showArrows:true});
});
</script>
<% end %>
