<div id="contact_form">
<% form_for :appform, @appform,:url => {:action => 'apply'}, :html => {:multipart => true} do |f| %>

	 <%= f.error_messages :header_message => "#{@appform.errors.size} errors prevented this application form from being sent"%> 
   <%= render :partial => "form", :locals => {:f =>f}%>

<%= submit_tag "submit" %>

</div>
<% end %>
<% content_for :script do %>
<script type="text/javascript">
jQuery(document).ready(function() {
	$(document).nice_fonts();
$('#contact_form').jScrollPane({scrollbarWidth:17,showArrows:true});
});
</script>
<% end %>
