<p>For more than a decade our lifestyle and architecture magazine Global Guide has defined architectural and design trends, provided tips to potential purchasers worldwide and presented exhaustive reports and stories about homes and lifestyles.</p>

<p>The properties marketed by Engel & Völkers are presented to a selected international audience in five languages which are published quarterly.</p>

<p>In addition, the Global Guide Home Collection offers a fine selection of accessories, furniture and home wear for purchase. Large format, and  superbly illustrated volumes round off the excellent range of publications from Grund Genug Verlag.</p>

<p>We would be pleased to provide information on our subscription service.</p>
