<div id="wide">
<h2>Selling </h2>

 <p>
Perhaps you need to sell your home and relocate because you're changing jobs. Or, maybe you need a larger home to accommodate a growing family or a smaller home since your children have moved out on their own. There are myriad reasons why people sell their homes, but no matter the circumstances, it's in your best interest to approach the transaction armed with information and assisted by the expertise of a REALTOR®. 
The selling section provides an overview of each leg of the selling process, from assessing the market conditions to listing agreements to setting the price. While this outline will help you prepare for the transaction, consult your REALTOR® for more detailed information and answers to the questions that are specific to your situation. 

</p>

 <h2>Deciding To Sell</h2>

 <p>

You've probably already considered your personal reasons for selling. Now you need to take into account the other factors involved, such as market conditions, your property's value and tax implications. Unless you're locked into selling your home (e.g., you've already accepted a job offer in another city), it's a good idea to look at the whole picture before deciding to sell. 
</p>

 <h2>Assessing Market Conditions </h2>

 <p>
There's a rule of thumb to keep in mind when deciding to sell your home: Your home is only worth what a qualified buyer is willing to pay at the time it's on the market. The current real estate market fluctuates based on supply and demand, interest rates, general economic conditions, and other factors. The same house may sell for more or less under a different economy. Your REALTOR® can inform you of the going price for homes in your area at the current time; this data is included in a comparative market analysis (link to Appraisals and CMAs). 
</p>

 <h2>Tax Implications of Selling  </h2>

 <p>
There are many dynamics that can affect your tax liability upon selling your home. These issues include whether you purchased the home or inherited it, if you used your home for business or rental purposes, costs associated with selling your home, and any home improvements and additions that you've undertaken. 
The Federal Taxpayer Relief Act of 1997 provides capital gains tax exclusions of up to $500,000 for married taxpayers filing jointly and $250,000 for single taxpayers or married taxpayers filing separately. Current capitol gains rates are 20 percent for those in upper tax brackets and 10 percent for those in lower tax brackets. Overall capital gains rates have been lowered even further -- to 18 percent and 8 percent respectively -- for assets acquired after December 31, 2000, and held five years or more. 
To qualify for this tax break, you must have used the home as your primary residence for at least two of the prior five years; these two years don't have to be consecutive. If you relocate for your job but don't meet the requirement, you may be allowed to take a capital gains exclusion proportionate to your circumstances. This exclusion is not a one-time benefit; you may take advantage of it once every two years as long as you meet the qualifications.

The tax rules differ when you sell a home that you've inherited. If you sell the inherited home for a profit, you're required to pay federal and state taxes on the gain. If you keep the house as a second residence and/or eventually move into it after renting it to tenants, you may take the $250,000/$500,000 capital gains tax exclusion if you meet the requirements. When you're deciding what to do with inherited property, you should consider the current estate tax laws and basis practices. 
Beyond these general rules, it's wise to discuss your home's sale with a tax professional who can advise you on tax benefits in more detail. 
</p>

 <h2>Timing Your Decision to Sell </h2>

 <p>
Because most sellers finance a new home purchase with the sale of their present home, they usually put their homes on the market before they begin their search for a new home. Learning the price you can expect from the sale often sets the pricing parameters for your new home search. 
Obviously, it's not wise to wait until the sale on your property closes completely before beginning to look for your new home. Timing your search properly with the buyers' transaction can make the difference between having the available funds to buy a new home and cutting down on the interim period between homes. 

</p>

 <h2>Using A REALTOR® To Sell Your Home</h2>

 <p>

All real estate professionals are not created equal. The NATIONAL ASSOCIATION OF REALTORS® estimates that over 2 million people hold real estate licenses in the United States, but only about 1 million of them have earned the REALTOR® distinction. Through membership in their national, state and local REALTOR® associations, REALTORS® gain numerous opportunities to enhance their educational and professional development. They also are required to adhere to a strict Code of Ethics. 
</p>

 <h2>Why Use a REALTOR®? </h2>

 <p>
Selling a home is a complex process involving what's likely to be your most prized financial asset. Enacting a smooth transaction for your home's full value requires the expertise of a REALTOR® whose extensive training has prepared him or her to generate the best possible results on your behalf. Just like you shouldn?t treat a broken leg without a doctor or handle a major legal dispute without an attorney, it's unwise to sell your home without the professional assistance of a REALTOR®. 
Naturally, every seller wants to reap the highest return from the sale. It's tempting to sell the home on your own, thereby saving the REALTOR®'s fees. However, a study conducted by the NATIONAL ASSOCIATION OF REALTORS® found that 82 percent of real estate sales result from REALTORS® contacts with previous clients, referrals and other sources. Additionally, NAR concluded that most homes sell for 3 to 9.5 percent more when sold through a REALTOR®. 
Selling your home with a REALTOR® yields abundant advantages, including the following: 
REALTORS® have access to Multiple Listing Services (MLS) to disburse information about your property to thousands of consumers via their REALTORS®. They also have other marketing vehicles at their disposal, such as open houses and referral networks. Through your REALTOR®'s marketing efforts, a much broader range of qualified buyers will be informed of your property's availability. As a seasoned pro at negotiation skills and tactics, your REALTOR® can maintain objectivity in assessing buyers' proposals and developing offers and counteroffers. Throughout the transaction, including appraisals, inspections and legally binding agreements, you can depend on your REALTOR®'s know-how to avoid any pitfalls. Sales transactions comprise intricate legal and regulatory requirements. REALTORS® are familiar with the regulations and can help you understand and adhere to them. 
REALTORS® work with their clients to address home improvements and tips that will enhance the home's salability. 
REALTORS® offer extensive, professional sales training. 
</p>

 <h2>How Do I Find A REALTOR®? </h2>

 <p>
The CALIFORNIA ASSOCIATION OF REALTORS® has a membership of more than 165,000 broker/owners and sales professionals who've received extensive training in conducting real estate transactions in the Golden State

</p>

 <h2>Determining Your Home's Value </h2>

 <p>

Appraisals are primarily used to protect the lender's interest in the property. Just like lenders can be hesitant to issue a mortgage to credit-risky borrowers, they don't like to underwrite properties for more than they're worth. Appraisals also are used when other factors have made it difficult to assess your property's value, such as a lack of real estate activity in your area. 
REALTORS® stress the importance of understanding that an appraisal is just the opinion of a trained professional: Five different appraisers could attach five different price tags to your home. Appraisals are based on past sales data, the location of the home, the size of the lot and the condition of the home. If the buyer's mortgage is insured through the FHA, the appraiser must disclose potential problems relating to the physical condition of the home; there are no similar stipulations for non-FHA mortgages. 
Your REALTOR® may recommend an appraiser for your home. Also, the Appraisal Subcommittee of the Federal Financial Institutions Examination Council offers a member directory on its Web site. You can check the status of California appraisers? licenses through the Office of Real Estate Appraisers. 
To determine an accurate measure of what your home is worth, REALTORS® can supply a comparative market analysis (CMA), which provides information on recent selling prices of similar properties in the same market. With a CMA, you can monitor the closing price of specific house types in certain areas (e.g., a condominium in a metropolitan area). Again, consult your REALTOR® if you're interested in learning more about a CMA. 
</p>

 <h2>Setting The Price  </h2>

 <p>
In establishing the listing price for your home, you need to strike a delicate balance between a figure that will scare off potential buyers and a low price that doesn't represent your home's worth. Buyers will compare your home's price with other properties on the market. Therefore, you should use a CMA to assess what consumers are paying for similar homes. CMAs also include information about area homes that failed to sell in recent months along with their corresponding list prices. Your REALTOR® can assist you in obtaining and analyzing that information. 
The NATIONAL ASSOCIATION OF REALTORS® suggests some additional steps to help you set your list price. After analyzing sales data, conduct some market research on your own. Attend an open house or two and make an impartial assessment of how those homes compare to yours in terms of size, location, amenities and condition. 
Your REALTOR® can be a vital resource in analyzing all the pertinent information with you to develop a list price. Trust your REALTOR®'s judgment, as he or she offers experience in this arena. However, the final decision on the listing price for your home is your choice to make. 

</p>

 <h2>Making Your Home More Salable </h2>

 <p>

Before you put your home on the market, take an impartial look at your property, inside and out. You may have only one chance to pique potential buyers' interest when they view your home, so don't let easily correctable flaws stand in the way. 
The NATIONAL ASSOCIATION OF REALTORS® suggests that sellers spend as little as possible on pre-sale repairs and improvements. While new tile might really spark up your kitchen, potential buyers probably won't increase their purchase offers enough to compensate your expenses. 
Instead, focus on the small, relatively inexpensive touch-ups that will give your house a polished, well-maintained appearance. A fresh coat of neutral paint in your bedrooms and new cabinet knobs in the kitchen and bathrooms are small changes that buyers will appreciate. Thoroughly clean the insides of appliances and wash and deodorize carpets. In addition, clean out closets and cabinets; this gives your home a more spacious appearance. Check for and repair cracks, leaks and other damage to walls, floors, paint and attic. 
You also need to ensure that your home's exterior curb appeal is attractive to buyers. Maintain the upkeep of your lawn, including mowing, watering and weeding. Fertilize and seed your existing vegetation/foliage, but don't plant new shrubs or trees. Examine doors, windows and the overall exterior for peeling paint. Repair loose or damaged roof shingles, siding and caulking. 
Your REALTOR® can assist you in recommending specific renovations and touch-ups that will make your house stand out to buyers. He or she should be able to explain expected returns on investments you make to enhance your home's salability. 

</p>

 <h2>Listing Agreements</h2>

 <p>

Once you've selected a REALTOR® to market and sell your property, you and the agent will enter into a written, legally binding contract called a listing agreement. The CALIFORNIA ASSOCIATION OF REALTORS® offers its own official agreement for California REALTORS®, the Residential Listing Agreement (Exclusive Authorization and Right to Sell) (LA-11). This standard form stipulates all agreement terms, including the listing price, the listing time period, the broker's commission and more. It also informs the seller of issues and legal requirements that may be involved in the process. 
The Exclusive Agency Listing Agreement (EA-11) is another C.A.R. standard form providing generally the same provisions as the LA-11. The primary difference between the two standard forms is that the LA-11 specifies that the seller's REALTOR® will receive a commission on the home's sale regardless of how the buyer is located, whether it be through the seller's REALTOR®, another REALTOR®, the seller's own initiative or any other means. By contrast, the EA-11 requires that the seller's REALTOR® will only be paid if the buyer is procured by the seller's REALTOR® or any other REALTOR®. 
Before you enter into a listing agreement, you'll want to thoroughly understand all the terms and each party's respective roles -- information that your REALTOR® can provide. 

</p>
</div>

<% content_for :script do %>
<script type="text/javascript">
jQuery(document).ready(function() {
	$(document).nice_fonts();
$('#wide').jScrollPane({scrollbarWidth:17,showArrows:true});
});
</script>
<% end %>

