body
	font-family: Verdana
	font-size: 10px
	background: #fafafa
	color: white
	a
		color: black
	a:hover
		color: red


#pagewrapper
	width: 1020px
	margin: 0px auto
	background-color: black
	#header
		height: 84px
		width: 1020px
		background-image: url(../images/system/bg/admin/header.png)
		#logbox
			float: right
			width: 250px
			margin-top: 0px
			div
				float: left
				margin-left: 15px
				background-color: black 
	#navbar
		height: 50px
		background-image: url(../images/system/bg/admin/navbar.png)
		ul
			li
				list-style: none
				height: 25px
				line-height: 25px
				vertical-align: middle
				float: left
				margin: 15px 5px
				a
					margin-left: 0px
					color: #4d4d4d
					text-decoration: none
				a:hover
					color: white
				a.active
					color: white
			li.cufon-active
				h2
					color: white
		ul.subnav
			li
				margin: 0px
				padding: 0px

			
#content
	margin: 0px auto
	padding: 25px
	background-color: transparent
	color: black
	width: 970px
	border: 1px solid #d4d4d4
	border-right: 0px none
	div.fieldWithErrors
		input		
			border: 2px solid red
		textarea
			border: 2px solid red
		table.mceLayout
			border: 2px solid red
	#side-nav
		width: 120px
		float: left
		background-color: white
		ul
			padding-left: 5px
			width: 120px
			float: none
			li
				list-style: none
				a
					color: black
				a:hover
					color: red	
	h1
		font-size: 24px
		width: 970px
		float: left
		text-align: right
	
	h2
		font-size: 21px
		text-align: left
		font-weight: bold
	p
		margin: 10px 0 10px 0
		span.title-name
			width: 150px
	ul
		width: 350px
		float: right
		margin-right: 50px
	ul#tasks_list
		width: 100%
		margin: 10px auto
		list-style: none
		li
			border: 1px solid black
			width: 100%
			div.handle
				background-image: url(../images/system/buttons/handle.png)
				width: 64px
				height: 64px
				float: left
	#tabs
		width: 500px
		float: left
		ul
			li
				position: relative
				float: left
				border-bottom-width: 0 !important
		h3
			margin: 15px 0
			float: left
			text-align: left
			width: 100%
		#image_tabs
			div#featured
				float: left
				padding: 0
				margin: 0
			ul#subtabs
				float: left
				width: 100%
				li
					background: white
					margin: 0px
	#main
		float: left
		width: 900px

	#notice
		right: 0px
		top: 0px
		background: #9d9d9d
		h1
			text-align: left
		h2
			padding-bottom: 50px	
		p
			padding: 25px
	#subcontent
		width: 920px
		float: left
		margin-left: 40px
		td
			border-bottom: 1px solid black
			vertical-align: middle
			table.nolines
				td
					border: 0px none
				
		p
			width: 350px
.changed
	background: red

table.page_list
	margin-top: 45px
	display: block
	width: 742px
	tr.subcategory
		display: none
#itsthetable
	float: left

#errorExplanation
	float: left
	margin-bottom: 50px
	border: 15px solid #E13939
	padding: 20px
	ul
		float: left
		li
			width: 100%
ul.form_list
	width: 100%
	float: none
	margin: 0px
	list-style: none
	li
		width: 500px
		float: none
