body
	color: white
	overflow: hidden
	a
		color: white
	a:hover
		color: yellow
	#pagewrapper
		width: 560px
		height: 567px
		background: white
		margin: 0px auto
		background-image: url(../images/system/bg/front/header.jpg)
		#header
			height: 60px
			width: 546px		
			margin: 24px 8px
			background-image: url(../images/system/bg/front/logo.jpg)
		#content
			height: 515px


