body
	color: white
	overflow: hidden
	a
		color: white
	a:hover
		color: yellow
	#pagewrapper
		width: 560px
		height: 567px
		background: white
		margin: 0px auto
		background: white
		background-image: none
		#header
			width: 546px		
			margin: 24px 7px 0 7px
			background-image: none
			h1
				color: black
				padding: 0 8px 8px  8px
				text-transform: uppercase	
				border-bottom: 1px solid #e1e1e1
			p
				color: #4d4d4d
				padding: 12px 8px
				border-bottom: 1px solid #e1e1e1
				span
					color: #E13939
					text-transform: uppercase	
		#content
			height: 515px
			table
				tr	
					margin: 4px 0			
					td
						vertical-align: top
						h4
							text-transform: uppercase
							text-align: right
							text-decoration: none
							margin-right: 15px
							margin-top: 0px
							width: 150px
							margin-top: 2px
						h5
							float: left
			table#column1
				float: left
				margin-top: 20px
				tr	
					td
						vertical-align: middle
						input[type="text"]
							width: 250px
						input[type="checkbox"]
							margin: 8px 0 0 0
						input[type="submit"]
							float: right
			table#column2
				float: left
				tr	
					td
						vertical-align: middle
						text-align: left
					td.wide
						select
							width: 134px
					td.short
						select
							width: 40px

			#column1
				margin-left: 10px
			#column2
				margin-left: 10px
			#contactform
				margin-top: 0px
			#row2
				float: right
				margin-right: 18px
			input
				float: left
				margin-right: 20px
				margin-top: 4px	
				border: 1px solid #e1e1e1	
			input[type="checkbox"]
				width: 15px
			input[type="submit"]
				float: right
			textarea	
				border: 0px none	
				border: 1px solid #e1e1e1			
				width: 250px
			select
				border: 1px solid #e1e1e1	
				margin: 2px 0 
				width: 250px
			select.short
				width: 40px				
			div.fieldWithErrors
				input		
					border: 2px solid red
				textarea
					border: 2px solid red
				table.mceLayout
					border: 2px solid red
			#mailing
				float: left
				margin-left: 50px
				width: 150px
				p
					color: #4d4d4d
					font-size: 11px
					margin-left: 15px
					margin-top: 12px
			hr
				float: left		
				width: 546px
				height: 1px
				margin: 12px 8px
				background-color: #e1e1e1
				border: 0px none
			#wide
				color: #4d4d4d
				padding: 26px 0 0 0
				height: 500px
				width: 520px
				p
					margin: 5px 35px 5px 0

#errorExplanation
	float: left
	margin-top: 10px
	border: 15px solid #E13939
	padding: 5px 5px 5px 20px 
	color: #4d4d4d
	ul
		float: left
		li
			width: 100%
	h2
		font-weight: bold
div.fieldWithErrors
	input		
		border: 2px solid red
	textarea
		border: 2px solid red
	table.mceLayout
		border: 2px solid red
