
#left-side.properties
	width: 621px
#left-side.home
	width: 633px
#left-side
	width: 612px
	float: left
	background: transparent
	#sellyourproperty
		width: 170px
		float: left
		margin-top: 15px
	ul#gallerylinks
		height: 230px
		width: 130px
		li
			float: left
			height: 62px		
	#side-nav.properties
		margin-right: 9px
	#side-nav.home
		margin-right: 0px
	#side-nav
		width: 170px
		float: left
		background-color: transparent
		margin-right: 0px
		hr 
			width: 129px
			height: 1px
			border: 0px none
			float: left
			background-color: #e1e1e1
			margin: 8px 0 8px 6px
		.shorter
			height: 182px
		.relocating
			margin: 0px 
		div.toolset
			margin-top: 14px
		.left_tool
			width: 162px
			background: url(/images/system/bg/front/left_tool.jpg)
			margin-top: 0px
			float: left
			.header_w_image
				margin-top: 15px
			h3
				margin-left: 15px
				a
					text-decoration: none
					color: #E13939
				a:hover
					color: #888888
			.top
				width: 162px
				height: 15px
				background: url(/images/system/bg/front/left_tool_top.jpg)
				float: left
			.bottom
				width: 162px
				height: 15px
				background: url(/images/system/bg/front/left_tool_bottom.jpg)
				margin-top: 0px
				float: left
			ul
				width: 162px
				height: 123px
				margin: 12px 0 0 0px
				padding: 0px
				li
					height:	 41px
					margin-left: 14px
					img
						float: left
					span
						float: left
						font-size: 12px
						font-style: italic
						width: 100px
						margin: 2px 0 0 13px
						color: #818181
						a
							color: #888888
						a:hover
							color: #E13939
		.share_box
			height: 76px
			background-image: url(../images/system/bg/front/share.jpg)
			margin-top: 14px
			a 
				margin-left: 18px
		.why
			h3
				margin: 5px 0 0 5px
				text-align: left
				width: 90px
				a
					margin-left: 0px
		.chat_box
			height: 41px
			background-image: url(../images/system/bg/front/RChatBG.jpg)
			margin-top: 0px
			.header_w_image	
				margin-top: 10px
		.global
			margin-top: 14px
			.header_w_image
				margin: 0px
				h3
					margin:	10px 0 0 5px
				img	
					margin: 0 0 0 15px
		.gossip_box
			height: 370px
			background-image: url(../images/system/bg/front/RGossipBG.jpg)
			margin-top: 14px
			.header_w_image
				margin-bottom: 10px
			hr
				margin: 15px 16px 13px
			#gossip_container
				height: 275px
				width: 162px
			.jScrollPaneContainer
				margin-left: 0px
				width: 162px
				ul#gossip
					width: 162px
					font-size: 10px
					height: 100%
					
					li
						margin: 10px 35px 0 16px
						padding-right: 15px
						height: 100%
						span
							width: 100%
							color: #e2001a
							margin: 0px
							font-style: normal
		.market_box
			height: 205px
			background-image: url(../images/system/bg/front/RMarketBG.jpg)
			margin-top: 14px
			h3 
				text-align: center
				width: 100% 
			h3.download
				margin: -5px 0 0 0
				span.title
					a
						text-transform: capitalize
		ul.submenu
			padding: 0px
			margin: 0px
			float: left
			width: 170px
			li
				height:	 24px
				width: 151px
				background: url(/images/system/buttons/submenu.jpg)					 
				margin: 0 0 0px 5px
				padding: 2px 0 0 10px
				background-repeat: no-repeat
				color: white
				a
					color: white
				a:hover
					color: black
			li.active
				width: 168px
				height: 24px
				background: url(/images/system/buttons/submenu_selected.jpg)		
				background-repeat: no-repeat			 
		#keep_discovering
			width: 150px
			height: 80px
			background-image: url(/images/system/bg/front/keepdiscovering.jpg)
		#polaroid
			width: 310px
			height: 100px
			margin-left: -195px
		ul
			padding-left: 5px
			width: 120px
			float: none
			li
				list-style: none
				a
					color: black
					text-decoration: none
				a:hover
					color: red	
				ul.sublevel
					li
						list-style: disc	
						list-style-position: inside
		ol
			margin: 0 24px
			font-size: 10px
	.property
		margin-top: 0px
	#title
		width: 610px
		height: 26px
		float: left
		background: url(/images/system/bg/front/long_redbar.jpg)
		margin-left: 2px
		color: white
		line-height: 22px
		h5
			margin-left: 13px
			text-transform: uppercase
	#title.about
		position: absolute
		width: 929px
		background: url(/images/system/bg/front/long_blackbar.jpg)
	
	.top
		background-image: url(/images/system/bg/front/main_properties_top.jpg)
		margin-top: 0
		width: 442px
		position: relative
		height: 15px
		float: left
	.bottom
		background-image: url(/images/system/bg/front/main_properties_bottom.jpg)
		width: 442px
		position: relative
		height: 15px				
		float: left
	#main.properties
		width: 442px
		background: url(/images/system/bg/front/main_properties.jpg)
		margin-left: 0px
	#main.featured
		background: black
		.top
			background: url(/images/system/bg/front/FeaturedBlack.jpg)	
			background-repeat: repeat-x
			height: 27px
			width: 440px
			margin-left: 1px
		.bottom
			background: url(/images/system/bg/front/FeaturedBlack.jpg)	
			background-repeat: repeat-x
			height: 27px
			width: 440px
			margin-left: 1px
			margin-top: 15px
		p
			color: #7e7e7e
		h1
			padding: 0px
			margin: -24px 0 0 14px 
			float: left
		h1.title
			color: white		
		hr
			background-color: #4d4d4d	
		#property_header
			h1
				color: white
			p.address
				background: url(/images/system/bg/front/FeaturedH2BG.jpg)
				background-repeat: no-repeat
			ul.facility
				li.number
					background: transparent
					p
						color: white
				li.bed
					background: url(/images/system/buttons/Facility/feature_Bed.jpg)			
				li.bath
					background: url(/images/system/buttons/Facility/feature_Shower.jpg)		
					height: 19px	
				li.garage
					background: url(/images/system/buttons/Facility/feature_Car.jpg)			
		#facility_list
			background: url(/images/system/bg/front/FeaturedFacilitiesH.jpg)	
			.top
				background: url(/images/system/bg/front/FeaturedFacilitiesBGTop.jpg)			
				margin: 0px
				height: 8px
			.bottom
				background: url(/images/system/bg/front/FeaturedFacilitiesBGBottom.jpg)	
				height: 8px
	#services
		width: 442px
		background: url(/images/system/bg/front/main_properties.jpg)
		float: right
		color: #4d4d4d
		font-size: 14px		
		margin-top: 16px
		img
			margin: 5px 20px
		ul
			list-style: none
			margin: 0 0 0 -27px
			li
				width: 413px
				height: 180px
				margin-bottom: 0px
	#property_gallery
		width: 621px
		height: 374px
		float: left
		background: transparent
		margin: -8px 0 22px -7px
	#main.properties
		h3
			margin-left: 24px	
	#main.why
		width: 442px
	#news
		width: 463px
		height: 371px
		background: url(/images/system/bg/front/NewsBG.jpg)	
		float: right
		margin-top: 14px
		font-size: 14px
		color: #4d4d4d
		.jScrollPaneContainer
			margin: 0px
		hr
			width: 409px
			height: 1px
			text-align: center
			background-color: #e1e1e1
			border: 0px none
			float: left
			margin-left: 16px
		#blog_container
			height: 275px
			float: left
		ol#blog
			list-style-type: none
			li
				background: transparent
				margin: 0px
				padding: 0 12px	
				hr
					margin-left: 4px
				h2 
					padding: 0px 0 0 24px		
					margin: 0px		
					float: left
					width: 100%
					a
						text-decoration: none
					a:hover
						color: #E13939
						
				h6
					margin: 0px
					padding: 0 0 0 24px		
					float: right
					text-align: left
					span
						color: #888888	
				p
					margin: 5px 24px 0px
					font-style: italic
					font-family: "Georgia"
					float: left			
	#main
		width: 463px
		background: url(/images/system/bg/front/main_width.jpg)
		float: left
		color: #4d4d4d
		overflow: auto
		font-size: 14px
		#comunicate
			width: 136px
			height: 45px
			float: right
			margin-right: 18px
			table
				margin: 10px auto
				padding: 0px
				td
					margin: 0px
					padding: 0px
					text-align: center
					a
						color: white
						text-decoration: none
						margin: 0px
						float: none
					a:hover
						color: #E13939
				td.chat
					height: 21px
					width: 56px
					background: url(/images/system/buttons/FeaturedChatBtn.jpg)
					background-repeat: no-repeat
				td.contact
					height: 22px
					width: 64px
					margin-left: 15px
					background: url(/images/system/buttons/FeaturedcontactBtn.jpg)
				td.spacer
					width: 10px
		#comunicate.nonfeatured
			table
				td 
					background: transparent
					a
						color:  #E13939
					a:hover
						color: black
		ol.staff
			list-style-type: none
			li
				img
					float: left
					margin: 15px 10px 5px 35px
				h1
					padding-bottom: 0px
				h2
					margin: 0px 35px			
					padding: 0px	
					font-weight: normal
				h3
					margin: 15px 35px 0px
				h6	
					margin: 0px 35px
					a
						color: white
						float: none
					a:hover
						color: white
		ol#blog
			list-style-type: none
			li
				background: transparent
				margin: 0px
				padding: 0 12px	
				hr
					margin-left: 4px
				h2 
					padding: 0 0 0 0px		
					text-transform: capitalize
					margin: 0px		
				h6
					margin: 0px
					padding: 0 0 0 0px		
					span
						color: #888888	
				p
					margin: 10px 0
					padding: 0px
		ol.show
			li
				h1
					padding: 15px 0 0 24px		
								
		#maylike
			width: 402px
			height: 85px
			float: left
			margin: 9px 0 0 20px
			
		#map
			width: 419px
			height: 317px
			float: left
			background: transparent
			margin: 10px 11px
		.further
			width: 248px
			float: left
			h3
				font-variant: normal
				font-style: italic
				text-transform: none
		#facility_list
			width: 136px
			background: url(/images/system/bg/front/property_facility.jpg)
			float: left
			margin: 3px 0 0 25px
			.top
				width: 136px
				height: 4px
				background: url(/images/system/bg/front/property_facility_top.jpg)
			.bottom
				width: 136px
				height: 4px
				background: url(/images/system/bg/front/property_facility_bottom.jpg)
			h3
				text-align: center
				margin: 10px 0 0 0
			p
				margin: 0 0 0 12px
			ul 
				margin: 10px 0 10px 12px
				list-style-position: inside
				padding: 0px	
				li
					font-size: 12px
		#property_content
			width: 248px
			float: left
			background: transparent
			margin-left: 16px
			margin-top: 3px
			p
				font-style: normal
				font-size: 12px
				margin: 0 0 0 6px
		#property_header
			height: 84px
			background: transparent
			float: left
			margin-left: 16px
			width: 409px
			h1
				text-transform: uppercase
				color: #e2001a
				font-style: normal
				margin: 0 0 0 6px
				width: 100%
				padding: 0
				font-size: 16px
				float: left
			p
				float: left
				margin: 0
			.code
				float: right
				margin: 4px 0 0 0
				font-size: 11px
			.address
				background: url(../images/system/bg/front/main_property_address.jpg)
				height: 20px
				width: 225px
				margin: 0 0 0 0px
				padding: 2px 0 0 6px
				background-repeat: no-repeat
			.state
				width: 409px
				margin: 3px 0 0 6px
				font-style: normal
				strong
					text-transform: uppercase
			.price
				width: 159px
				margin: 3px 0 0 6px
			ul.facility
				margin: 6px 0 0 5px
				list-style: none
				width: 155px
				height: 17px
				float: right
				li 
					float: left
					color: white
					text-align: center
					p
						margin: -2px 0 0 5px
						padding: 0
				li.number
					height: 16px
					width: 17px
					background: url(../images/system/buttons/Facility/Facilites_NumBG.jpg)
					margin-right: 3px
				li.bed
					height: 16px
					width: 24px
					background: url(../images/system/buttons/Facility/Icon_Bed.jpg)
					margin-right: 12px
				li.bath
					height: 21px
					width: 22px
					background: url(../images/system/buttons/Facility/Icon_Shower.jpg)
					margin-right: 12px
					margin-top: -2px
				li.garage
					height: 18px
					width: 24px
					background: url(../images/system/buttons/Facility/Icon_Car.jpg)
					margin-top: -2px
		ul#view_options
			width: 409px
			padding: 0px
			float: left
			margin-top: 0px
			li
				float: left
				list-style: none
				text-align: center
				background-repeat: no-repeat
				color: white
				font-size: 12px
				height: 22px
				line-height: 22px
				margin: 5px 5px 0 0 
				span
					font-weight: bold
					color: black
				a
					color: white
					margin: 0 0 0 7px 
					text-decoration: none
					float: left
				a:hover
					color: black
				a.active
					color: black
			li.buy
				width: 37px
				background: url(../images/system/buttons/Filters/Filter_Buy.jpg)
			li.rent
				width: 41px
				background: url(../images/system/buttons/Filters/Filter_Rent.jpg)
			li.mls
				width: 42px
				background: url(../images/system/buttons/Filters/Filter_MLS.jpg)
			li.date
				width: 54px
				background: url(../images/system/buttons/Filters/Filter_Date.jpg)
			li.price
				width: 56px
				background: url(../images/system/buttons/Filters/Filter_Price.jpg)
			li.first
				width: 60px
				margin-right: 15px
				line-height: 14px
				margin-top: 0
				text-transform: uppercase
		#result_info
			width: 409px
			height: 74px
			float: left
			margin-left: 16px
			h5
				margin-top: 48px
				width: 100%
				color: red
				font-style: italic
				span.left
					float: left
				span.right
					float: right
			.pagination
				width: 135px
				margin-right: 0px
				float: right
				span
					float: left
					margin: 0 1px 
				a
					float: left	
					margin: 0 1px 
		.property
			height: 107px
			width: 426px
			float: left
			margin-left: 5px
			background: transparent
			.image
				height: 90px
				width: 120px
				float: left
				margin: 9px
				background: transparent
			.text
				margin: 0px 
				width: 282px
				height: 21px
				float: left				
				margin-bottom: 1px
				p
					margin-left: 5px
					font-style: normal
			.title
				margin-top: 9px
				text-transform: uppercase
			.address
				background: url(../images/system/bg/front/Prop_Top_BG.jpg)
				height: 20px
				p
					font-style: italic
					margin-top: 2px
			.extra
				background: url(../images/system/bg/front/Prop_Bot_BG.jpg)
				height: 29px
				ul.facility
					margin: 6px 0 0 5px
					padding: 0px
					list-style: none
					width: 282px
					height: 29px
					li 
						float: left
						color: white
						text-align: center
						p
							margin: -2px 0 0 0
							padding: 0
					li.number
						height: 16px
						width: 17px
						background: url(../images/system/buttons/Facility/Facilites_NumBG.jpg)
						margin-right: 3px
					li.bed
						height: 16px
						width: 24px
						background: url(../images/system/buttons/Facility/Facilities_Bed.jpg)
						margin-right: 12px
					li.bath
						height: 20px
						width: 22px
						background: url(../images/system/buttons/Facility/Facilities_Shower.jpg)
						margin-right: 12px
						margin-top: -2px
					li.garage
						height: 20px
						width: 22px
						background: url(../images/system/buttons/Facility/Facilities_Garage.jpg)
						margin-right: 12px
						margin-top: -2px
					li.viewproperty
						height: 16px
						width: 84px
						background: url(../images/system/buttons/viewproperty.jpg)			
						margin-left: 17px			
						text-align: center	
						a
							font-size: 10px
							color: red
							float: left
							margin: 1px 0 0 8px
							font-variant: small-caps
							text-decoration: none
			.price
				height: 18px
				p
					margin: 0 0 0 5px
		.featured
			background: url(../images/system/bg/front/ListingFeaturedBG.jpg)
			background-repeat: no-repeat
			height: 114px
			width: 430px
			.title
				margin-top: 11px
			.image
				margin: 16px 7px 0 13px
			.address
				background: transparent
			.extra
				background: transparent
				ul.facility
					li.number
						background: transparent	
						p
							margin: 0 0 0 6px
					li.bed
						background: transparent
					li.bath
						background: transparent
					li.garage
						background: transparent
			.ribbon
				background: url(../images/system/bg/front/FeaturedRibbon.gif)
				background-repeat: no-repeat
				height: 62px
				width: 62px
				position: absolute
				margin: 0px 0 0 -1px
		.testing
			background: url(../images/system/bg/front/featBG.jpg)
		hr
			width: 409px
			height: 1px
			text-align: center
			background-color: #e1e1e1
			border: 0px none
			float: left
			margin-left: 16px
		h3
			margin: 13px 0 0 34px
		h4
			margin: 10px 0 5px 34px
			text-transform: capitalize
		#main_top
			background-image: url(../images/system/bg/front/main_top.jpg)
			margin-top: 0
		#main_bottom
			background-image: url(../images/system/bg/front/main_bottom.jpg)
			float: left
			margin-top: 24px
		.main_border
			height: 8px
			width: 463px
			position: relative
		#main_top.other
			background-image: url(../images/system/bg/front/main_properties_top.jpg)
			width: 442px
			margin-top: 0
			height: 15px
		#main_bottom.other
			background-image: url(../images/system/bg/front/main_properties_bottom.jpg)
			width: 442px
			float: left
			margin-top: 33px
			height: 15px
		.properties
			width: 442px
		p
			margin: 5px 35px
			font-style: italic
			font-family: "Georgia"
		p.main_links
			text-align: left
			a
				float: none
				margin: 0px
		ul
			margin: 5px 30px
			padding-left: 20px
			font-style: italic
		ul.toggle_li
			font-style: italic
			li
				margin: 20px 0
		table
			margin: 25px		
		a
			float: right
			margin-bottom: 0px
			margin-right: 50px
			color: red
		div.toggle
			overflow: hidden
			margin-top: 15px
	.header_w_image
		float: left
		text-align: center
		width: 162px
		margin-left: 0px 
		height: 35px
		img
			float: left
			margin: 3px 0 0 15px 
		h3
			float: left
			padding: 0px 0 0 0px
			margin: 0px
		.services
			text-align: left
			padding: 0px
