<div id="side-nav">
	<ul>
		<%= link_to "Back", :back %>
	</ul>
</div>



	<h1>Property listing for Orange County (Ca)</h1>
<div id="itsthetable">
	<table id="properties_list">	
		<thead>
			<th>Area </th>
			<th>Title</th>
			<th>Featured</th>
			<th>Type</th>
			<th>Rental?</th>
			<th>Price($)</th>
			<th>Description</th>
			<th>Bed </th>
			<th>Bath</th>
			<th>Living</th>
			<th>Built</th>
			<th>Plot</th>
			<th>Garden</th>
			<th>Garage</th>
			<th>Opts</th>

		</thead>

		<% if @properties.size > 0 %>
			<%= render :partial => 'property', :collection => @properties %>	
		<% end %>
	</table>
</div>
<% content_for(:script) do %>
<%= stylesheet_link_tag "jquery.Jcrop" %>
<%= javascript_include_tag "admin/gs_sortable" %>	
<% end %>
<script type="text/javascript">
<!--

var TSort_Data = new Array ('properties_list', 's','','s','','s','','s','','n','','h','','i','','i','','i','','i','','i','','i');
tsRegister();
// -->
</script>
