<div id="side-nav">
	<ul>
		<%= link_to "Back", :back %>
	</ul>
</div>



	<h1>Property listing for Orange County (Ca)</h1>

	<table id="properties_list" class="tablesorter">	
		<thead>
			<tr>
			
			<th>Thumb </th>
			<th>Area </th>
			<th>Title</th>
			<th>Featured</th>
			<th>Type</th>
			<th>Rental?</th>
			<th>Price($)</th>
			<th>Description</th>
		
			<th>Opts</th>
			<th>Date Added</th>
			</tr>
		</thead>
		<tbody>
		<% if @properties.size > 0 %>
			<%= render :partial => 'property', :collection => @properties %>	
		<% end %>
		<tbody>
	</table>

<% content_for(:script) do %>
<script type="text/javascript">
jQuery(document).ready(function() 
    { 
        $("#properties_list").tablesorter({ 
        // pass the headers argument and assing a object 
        headers: { 
            // assign the secound column (we start counting zero) 
            0: { 
                // disable it by setting the property sorter to false 
                sorter: false 
            }, 
            // assign the third column (we start counting zero) 
            7: { 
                // disable it by setting the property sorter to false 
                sorter: false 
            },
	          8: { 
                // disable it by setting the property sorter to false 
                sorter: false 
            } 
        } 
    }); 
    } 
); 
</script>
<% end %>

