<div id="side-nav">
	<ul>
		<%= render :partial => "shared/admin/property_sidenav" %>
	</ul>
</div>

<div id="main">
	<h1>Property in Orange County (Ca) : <%= @property.location.region%> : ref#<%= @property.id %></h1>
	<hr/>
	<%= render :partial => 'property_show', :object => @property %>	
</div>
