<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Comments: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
	<!--[if lt IE 8]>
	 <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
	<![endif]-->
	<style type="text/css">

	  .clearfix:after {
	    content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	  }
		body{
			color: #4d4d4d
			overflow: hidden;
		}
		#contact_form{
			width:500px;
			height: 250px;
			float: left;
		}
		#contact_form.vip{
			width: 200px
		}
		.jScrollPaneContainer{
					margin-top: 0px;	
					margin-left: 0px;	
		}	
		.jScrollPaneTrack{
					margin: 5px 0;		
		}
	</style>

	<!--[if IE]>
	<style type="text/css">
	  .clearfix {
	    zoom: 1;     /* triggers hasLayout */
	    } 
	</style>
	<![endif]-->


	<script src="/javascripts/cufon.js" type="text/javascript" charset="utf-8"></script>
	<script src="/fonts/GarmdITC_BkCn_BT_400-GarmdITC_BkCn_BT_700-GarmdITC_BkCn_BT_italic_400-GarmdITC_BkCn_BT_italic_700.font.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
